{% extends "base.html" %}
{% load compress %}

{% block styles %}
{{ block.super }}
{% compress css %}
    <link charset="utf-8" rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}simpleui/simpleui.scss">
{% endcompress %}
{% endblock %}

{% block body %}
    <div class="{% block row-class %}row{% endblock %}">
        {% block flash %}
            <div>
                {% include "ingredients/flash.html" %}
            </div>
        {% endblock %}
        {% block main-body %}{% endblock %}
    </div>
{% endblock %}
