{% load i18n gamification_widgets %}
<form class="lookup-form" data-check-url="{% url 'check_user_exists' %}" class="form-inline">
    <input type="text" class="form-control" name="username" maxlength="30" placeholder="{% trans 'Find user by username' %}" />
    <button type="submit" style="position: absolute; left: -9999px;"></button>
</form>
{% if friends %}
<ul class="nav nav-pills nav-stacked">
    {% for user in friends %}
    <li><a href="{% url 'view_profile' user %}" title="{{ user }}">{% experience_widget_small user %}<h2 class="username ellipsis">{{ user }}</h2></a></li>
    {% endfor %}
</ul>
{% else %}
<p class="text-center">{% trans "It looks like you've got no friends..." %}</p>
{% endif %}
