{% load i18n %}

{% if contest_id %}
<div id="drop-zone-area" class="drop-zone">
    <form id="upload" name="uploadform"
          action="{% url 'submit' contest_id=contest_id %}" method="POST"
          enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="dropped-solution" name="dropped_solution"/>
        <input type="hidden" id="dropped-solution-name" name="dropped_solution_name"/>
    </form>
    <div id="drop-zone-displayed-content" class="drop-zone__message"></div>
</div>
{% endif %}