{% extends "base-with-menu.html" %}
{% load i18n static%}

{% block styles %}
{{ block.super }}
<style type="text/css">
    {{ css|safe }}
</style>
{% endblock %}

{% block title %}
{% blocktrans %}Source code for submission {{ submission_id }}{% endblocktrans %}
{% endblock %}

{% block main-content %}
    {% if decode_error %}
        {% include "programs/file_decoding_error.html" %}
    {% endif %}
    <button class="btn btn-default" id="cpy_btn" style="margin-bottom: 3px" onclick="copyCodeToClipboard()">
        {% trans "Copy to clipboard" %}
    </button>
    {% if is_source_safe %}
        <pre hidden id="raw_source">{{ raw_source }}</pre>
        <div class="h-scrollable">{{ source|safe }}</div>
    {% else %}
        <pre id="raw_source">{{ raw_source }}</pre>
    {% endif %}
    <script type="application/javascript" src="{% static 'common/clipboard.js' %}"></script>
{% endblock %}
