{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% blocktrans %}Source diff between submissions {{ submission1_id }} and {{ submission2_id }}
{% endblocktrans %}{% endblock %}

{% block body %}

<div class="clearfix">
    <a role="button" class="btn btn-outline-secondary float-right" href={{ reverse_diff_url }}>
        <i class="fa-solid fa-shuffle"></i>
        {% trans "Swap sides" %}
    </a>
    <h1>
        {% blocktrans %}
            Source diff between submissions {{ submission1_id }} and {{ submission2_id }}
        {% endblocktrans %}
    </h1>
</div>

<div class="nav-content row">
    <div class="col-xs-6">
        {% if decode_error1 %}
            {% include "programs/file_decoding_error.html" with download_url=download_url1 %}
        {% endif %}
    </div>
    <div class="col-xs-6">
        {% if decode_error2 %}
            {% include "programs/file_decoding_error.html" with download_url=download_url2 %}
        {% endif %}
    </div>
    <div class="col-xs-6">
        {% include "programs/source_diff_columns.html" with source=source1 %}
    </div>
    <div class="col-xs-6 no-left-padding">
        {% include "programs/source_diff_columns.html" with source=source2 %}
    </div>
</div>
{% endblock %}
