{% load i18n %}
{% load check_perm %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}
{% block program_controls %}
<div class="corner-icons btn-toolbar">
        {% if is_admin and submission.valid_kinds_for_submission %}
            <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-tags"></i> {% trans "Change kind" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for value, description in submission.valid_kinds_for_submission %}
                        <li><a href="#" data-post-url="{% url 'change_submission_kind' contest_id=contest.id submission_id=submission.submission.id kind=value %}"><i class="icon-tag"></i> {{ description }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if is_admin %}
            <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-repeat"></i> {% trans "Rejudge" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-post-url="{% url 'rejudge_submission' contest_id=contest.id submission_id=submission.submission.id %}"><i class="icon-eye-open"></i>{% trans "Normal rejudge" %}</a></li>
                    {% for link, name in supported_extra_args.items %}
                        <li><a href="#" data-post-url="{% url 'rejudge_submission' contest_id=contest.id submission_id=submission.submission.id %}?{{ link }}"><i class="icon-eye-close"></i>{{ name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if saved_diff_id %}
                <a class="btn btn-small diff-button" id="diff-button-do" href="{% url 'source_diff' contest_id=contest.id submission1_id=saved_diff_id submission2_id=submission.submission.id %}">
                    <i class="icon-resize-small"></i> {% trans "Diff with saved" %}</a>
            {% else %}
                <button class="btn btn-small diff-button" id="diff-button-save">
                    <i class="icon-resize-small"></i> <span>{% trans "Diff with other" %}</span></button>
            {% endif %}
        {% endif %}
        <a class="btn btn-small" href="{% url 'show_submission_source' contest_id=contest.id submission_id=submission.submission.id %}">
            <i class="icon-eye-open"></i> {% trans "Show code" %}</a>
        <a class="btn btn-small" href="{% url 'download_submission_source' contest_id=contest.id submission_id=submission.submission.id %}">
            <i class="icon-download-alt"></i> {% trans "Download" %}</a>
        {% if not saved_diff_id %}
            <script>
                $(document).ready(
                    function() {
                        $('#diff-button-save').click(
                            function() {
                                $.get('{% url 'save_diff_id' contest_id=contest.id submission_id=submission.submission.id %}',
                                    function(data) {
                                        $('#diff-button-save').addClass('disabled');
                                        $('#diff-button-save > span').text('{% trans "Saved for diffing" %}');
                                    }
                                );
                            }
                        );
                    }
                );
            </script>
        {% endif %}
</div>
{% endblock %}

{% block submission_details %}
<table class="details_table">
    <thead>
        <tr>
            {% if is_admin %}<th style="min-width: 120px">{% trans "User name" %}</th>{% endif %}
            <th style="min-width: 120px">{% trans "Problem" %}</th>
            <th style="min-width: 150px">{% trans "Submission date" %}</th>
            <th style="min-width: 150px">{% trans "Status" %}</th>
            {% if is_admin %}<th style="min-width: 120px"> {% trans "Kind" %}</th>{% endif %}
            <th style="min-width: 80px">{% trans "Score" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {% if is_admin %}<td>{{ submission.submission.user.get_full_name }}</td>{% endif %}
            <td>{{ submission.submission.problem_instance }}</td>
            <td>{{ submission.submission.get_date_display }}</td>
            {% if submission.can_see_status %}<td class="subm_status subm_{{ submission.submission.status }}">{{ submission.submission.get_status_display }}</td>{% else %}<td></td>{% endif %}
            {% if is_admin %}<td>{{ submission.submission.get_kind_display }}</td>{% endif %}
            <td>{% if submission.can_see_score %}{{ submission.submission.score|default_if_none:'' }}{% endif %}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block submission_comment %}
{% if submission.can_see_comment and submission.submission.comment %}
<h4>{% trans "Submission comment" %}</h4>
<pre class="hscroll">
{{ submission.submission.comment }}
</pre>
{% endif %}
{% endblock %}
