.notifications {
    padding: 7px 5px;
}

.notifications-balloon {
    padding: 5px 0 !important;
    color: black;
    width: 300px;
    max-height: 300px;
    overflow: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.notification a {
    color: black;
}

.notification-new a {
    color: black;
    font-weight: bold;
}

.notification-details {
    color: gray;
    font-size: smaller;
}

.notification-time {
    color: gray;
    text-align: right !important;
    font-size: small;
}

#notifications_dropdown {
    background: url("noti.png") 0 0 no-repeat;
    background-size: 30px auto;
    background-color: transparent !important;
    cursor: pointer;
}


#balloon_table_notifications {
    width: 100%;
    margin-bottom: 0;
    border-style: none;

}

#balloon_table_notifications td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-style: none;
    border-top: 1px solid #dddddd;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}

#info_no_notifications {
    text-align: center;
}

#notifications_number {
    margin-top: 10px;
    margin-left: 18px
}