.notifications {
    padding: 7px 5px;
    background: url("noti.png") 0 7px no-repeat;
    background-size: 30px auto;
}

.notifications-balloon {
    color: black;
    width: 300px;
}

#balloon_table_notifications {
    margin-bottom: 0;
}

#info_no_notifications {
    text-align: center;
}