@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

.message {
    margin-left: 10px;
    margin-top: 20px;
    max-width: 764px;

    &.message_has_replies .message_body {
        color: @grayLight;
    }

    .message_topic {
        line-height: 32px;
    }

    .message_actions {
        float: right;
        margin-right: -32px;
        padding-top: 6px;
    }

    .message_info {
        text-align: right;
        font-size: smaller;
        line-height: 1.2em;
        color: @grayLight;
        border-bottom: 1px solid @blue;
        padding-bottom: 5px;
        padding-right: 20px;
        .message_timestamp {
            font-style: italic;
        }
        .label {
            margin-left: 10px;
        }
    }

    .message_info_new {
        margin-bottom: 20px;
    }

    .message_body {
        white-space: pre;
        white-space: pre-wrap;
        #font > #family > .monospace;
        font-size: 14px;
        line-height: 1.1em;
    }

    .action {
        opacity: 0.5;
        visibility: hidden;

        &:hover {
            opacity: 1;
        }
    }
    &:hover .action {
        visibility: visible;
    }
}

.message_reply {
    padding-left: 20px;
    margin-top: 10px;
    .message_info {
        border-bottom: 1px solid #e70;
    }
}

.message_container {
    padding: 10px;
}

label.no_left_padding {
    padding-left: 0px;
}
