{% extends "base.html" %}
{% load i18n %}

{% block title %}
Problemset
{% endblock %}

{% block container-class %}
{% endblock %}


{% block body %}
<div class="row-fluid top-row" style="
    margin-top: 40px;
    padding-top: 23px;
">
    <div class="navbar navbar-inner" style="
        margin-right: 20px;
        margin-left: 20px;
    ">
        <div class="span6">
            <a class="brand" style="color: #333333"
                href="{% url 'problemset_main' %}{% if select_problem_src %}?select_problem_src={{ select_problem_src }}
                {% endif %}">
                Problemset
            </a>
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                <li><a
                href="{% url 'problemset_my_problems' %}{% if select_problem_src %}?select_problem_src={{ select_problem_src }}
                {% endif %}">
                    {% trans "My problems" %}
                </a></li>
                    {% if can_add_to_problemset %}
                    <li><a
                    href="{% url 'problemset_add_or_update' %}{% if select_problem_src %}?select_problem_src={{ select_problem_src }}
                    {% endif %}">
                        {% trans "Add problem" %}
                    </a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>

        {% if show_search_bar %}
        <form class="navbar-search pull-right form-search" id="problemsite_tag_search-form" style="margin-right: 60px;">
            <div class="input-append">
                <input type="text" id="problemsite_tag_search" name="tag_search" class="search-query" data-hints-url="{% url "get_tag_hints" %}" autocomplete="off" placeholder="Search by tag" value="{{ tag_search }}" />
                {% if request.GET.select_problem_src %}
                <input type="hidden" name="select_problem_src" value="{{ request.GET.select_problem_src }}" />
                {% endif %}
                <script>init_tag_selection('problemsite_tag_search');</script>
                <button type="submit" class="btn"><i class="icon-search"></i></button>
            </div>
        </form>
        {% endif %}

    </div>
</div>
<div class="container">
    <div class="row-fluid">
        <div class="main-content pagination-centered">
        {% include "ingredients/flash.html" %}
        {% block main_content %}
        {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
