{% extends "base.html" %}
{% load i18n simple_tags %}

{% block title %}{% trans "Problemset" %}{% endblock %}

{% block container-class %}{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        {% if show_search_bar %}
        <form id="problemsite_search-form" class="col-md-4 col-sm-6 col-xs-12">
            <div class="input-group">
                <input type="search" class="form-control search-query"
                       id="problemsite_search" name="q"
                       data-hints-url="{% url 'get_search_hints' view_type=view_type %}" autocomplete="off"
                placeholder="{% trans 'Search by name or tag' %}" value="{{ problem_search }}">
                {% if request.GET.select_problem_src %}
                <input type="hidden" name="select_problem_src"
                       value="{{ request.GET.select_problem_src }}"/>
                {% endif %}
                <script>init_search_selection('problemsite_search');</script>

                <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span></button>
        </span>
            </div>
        </form>
        {% endif %}
    </div>

    <ul class="nav nav-pills nav-justified nav-margin">
        <li role="presentation">
            <a href="{% url 'problemset_main' %}
            {% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                {% trans "Public problems" %}
            </a>
        </li>

        {% if user.is_authenticated %}
        <li role="presentation" class="{% active_url 'problemset_my_problems' %}">
            <a href="{% url 'problemset_my_problems' %}
            {% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                {% trans "My problems" %}
            </a>
        </li>

        {% if user.is_superuser %}
        <li role="presentation" class="{% active_url 'problemset_all_problems' %}">
            <a href="{% url 'problemset_all_problems' %}
            {% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                {% trans "All problems" %}
            </a>
        </li>
        {% endif %}
        {% if can_add_to_problemset %}
        <li role="presentation" class="{% active_url 'problemset_add_or_update' %}">
            <a href="{% url 'problemset_add_or_update' %}
            {% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                {% trans "Add problem" %}
            </a>
        </li>
        {% endif %}
        {% endif %}
        <li role="presentation"><a href="/">{% trans "Main page" %}</a>
    </ul>
</div>


<div class="container">
    <h3>{{ page_title }}</h3>
    {% include "ingredients/flash.html" %}
    {% block main_content %}
    {% endblock %}
</div>
{% endblock %}
