{% extends "problems/problemset/base.html" %}
{% load i18n pagination_tags tag statistics_tags staticfiles %}

{% block main_content %}

{% if problems %}
    {% autopaginate problems 20 %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-xs-{{ col_proportions.id }}">
                        <a href="{% ordered_col request.GET "short_name" %}">
                            {% trans "ID" %}
                        </a>
                    </th>

                    <th class="col-xs-{{ col_proportions.name }}">
                        <a href="{% ordered_col request.GET "name" %}">
                            {% trans "Name" %}
                        </a>
                    </th>

                    {% if show_tags %}
                        <th class="col-xs-{{ col_proportions.tags }}">
                            {% trans "Tags" %}
                        </th>
                    {% endif %}

                    {% if show_statistics %}
                        <th class="col-xs-{{ col_proportions.statistics1 }} text-center">
                            <a href="{% ordered_col request.GET "submitted" True %}"
                               data-toggle="tooltip"
                               title="{% trans "How many users submitted a solution for this task" %}">
                                {% trans "Submitters" %}
                            </a>
                        </th>
                        <th class="col-xs-{{ col_proportions.statistics2 }} text-center">
                            <a href="{% ordered_col request.GET "solved_pc" True %}"
                               data-toggle="tooltip"
                               title="{% trans "Percentage of users who submitted that also solved this task" %}">
                                {% trans "% Correct" %}
                            </a>
                        </th>
                        <th class="col-xs-{{ col_proportions.statistics3 }} text-center">
                            <a href="{% ordered_col request.GET "avg_best_score" True %}"
                               data-toggle="tooltip"
                               title="{% trans "Average score result for this task" %}">
                                {% trans "Average" %}
                            </a>
                        </th>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>
                    {% endif %}

                    {% if show_add_button %}
                        <th class="col-xs-{{ col_proportions.add_button }} text-center">
                            {% trans "Select problem" %}
                        </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem.short_name }}</td>
                    <td>
                        <a href="{% url 'problem_site' site_key=problem.problemsite.url_key %}
                        {% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                            {{ problem.name }}
                        </a>
                    </td>

                    {% if show_tags %}
                        <td>
                            {% for tag in problem.tag_set.all %}
                                {% tag_label tag %}
                            {% endfor %}
                            {% for tag in problem.algorithmtag_set.all %}
                                {% tag_label tag %}
                            {% endfor %}
                            {% for tag in problem.origintag_set.all %}
                                {% tag_label tag %}
                                {% for info in problem.origininfovalue_set.all %}
                                    {% if info.parent_tag == tag %}
                                        {% origininfo_label info %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% for tag in problem.difficultytag_set.all %}
                                {% tag_label tag %}
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if show_statistics %}
                        {% comment %}
                            Use annotations instead of related when displaying
                            statistics in case problem.statistics is null
                        {% endcomment %}
                        <td class="text-center">{{ problem.statistics_submitted }}</td>
                        <td class="text-center">{{ problem.statistics_solved_pc }}%</td>
                        <td class="text-center">{{ problem.statistics_avg_best_score }}</td>
                    {% endif %}

                    {% if administered_recent_contests %}
                        <td class="text-center">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle add-to-contest-button" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans "Add to contest" %}
                                    <span class="add-contest-caret caret"></span>
                                    <span class="hidden loading-spinner job-active"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">{% trans "Choose contest" %}</li>
                                    {% for contest in administered_recent_contests %}
                                        <li>
                                            <a href="#" data-addorupdate="{% url 'add_or_update_problem' contest_id=contest.id %}"
                                               data-urlkey="{{ problem.problemsite.url_key }}">{{ contest.name }}</a>
                                        </li>
                                    {% endfor %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{% url 'problemset_add_to_contest' site_key=problem.problemsite.url_key %}?problem_name={{ problem.short_name }}">
                                            {% trans "More..." %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    {% elif show_add_button %}
                        <td class="text-center">
                            <a type="button" class="btn btn-default"
                               href="{% url 'problemset_add_to_contest' site_key=problem.problemsite.url_key %}?problem_name={{ problem.short_name }}">
                                {% trans "Add to contest" %}
                            </a>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% paginate %}
{% else %}

<div class="alert alert-info">
    <p>{% trans 'There are no problems here :(' %}</p>
</div>
{% endif %}

<form id="add_to_contest" method="post" class="hidden">
    {% csrf_token %}
    <input id="url_key" name="url_key" type="hidden">
</form>

<script type="text/javascript" src="{{ STATIC_URL }}problems/problemset/add-to-contest.js"></script>

{% endblock %}
