{% extends "problems/problemset/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ problem }} - {% trans "Problemset" %}{% endblock %}

{% block main_content %}

    <div class="problem-title text-center">
        <h1>{{ problem }}</h1>
    </div>

    <ul class="nav nav-tabs">
        {% for tab in tabs %}
            {% if tab.obj.key != "secret_key" or not problem.is_public %}
                {% if tab.obj.key != 'settings' or can_admin_problem %}
                    {% if tab.obj.key != 'add_to_contest' %}
                        <li {% if tab.obj == current_tab %}class="active"{% endif %}>
                            <a href="{{ tab.link }}">{{ tab.obj.title }}</a>
                        </li>
                    {% elif show_add_button and not can_admin_problem%}
                        <li {% if tab.obj == current_tab %}class="active"{% endif %}>
                            <a href="{{ tab.link }}">{{ tab.obj.title }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <div class="nav-content">
        {{ content }}
    </div>

    <form id="add_to_contest" method="post" class="hidden">
        {% csrf_token %}
        <input id="url_key" name="url_key" type="hidden">
    </form>

    <script type="text/javascript" src="{{ STATIC_URL }}problems/problemset/add-to-contest.js"></script>

{% endblock %}
