{% extends "problems/problemset/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main_content %}
<h2 class="text-right">{{ problem }}</h2>

{% if can_admin_problem %}

<div class="alert authorbar">
    <a href="{% url 'oioioiadmin:problems_problem_change' problem.id %}">
        {% trans "Edit problem" %}
    </a>
    |
    <a href="{% url 'oioioiadmin:problems_mainprobleminstance_change' problem.main_problem_instance.id %}">
        {% trans "Edit tests" %}
    </a>
    |
    <a href="{% url 'oioioiadmin:problems_problem_download' problem.id %}">
        {% trans "Download package" %}
    </a>
    |
    <a href="{% url 'problemset_add_or_update' %}?problem={{ problem.id }}">
        {% trans "Reupload problem" %}
    </a>
    |
    <a href="{% url 'model_solutions' problem_instance_id=problem.main_problem_instance.id %}">
        {% trans "Model solutions" %}
    </a>
</div>
{% endif %}

{% if select_problem_src %}
<a type="button" class="btn"
        href="{{ select_problem_src }}{% if '?' in select_problem_src %}&{% else %}?{% endif %}url_key={{ problem.problemsite.url_key }}">
    Select me!
</a>
{% endif %}

<div class="tabbable text-left bigtopmargin">
    <ul class="nav nav-tabs">
        {% for tab in tabs %}
        <li {% if tab.obj == current_tab %}class="active"{% endif %}>
            <a href="{{ tab.link }}">{{ tab.obj.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {{ content }}
    </div>
</div>
{% endblock %}
