{% extends "problems/problemset/base.html" %}
{% load i18n pagination_tags tag staticfiles %}

{% block main_content %}

{% if problems %}
    {% autopaginate problems 20 %}
    {% paginate %}
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Name" %}</th>
                    {%if show_tags %}
                        <th>{% trans "Tags" %}</th>
                    {% endif %}
                    {% if show_add_button %}
                        <th>{% trans "Select problem" %}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                <tr>
                    <td>{{ problem.short_name }}</td>
                    <td>
                        <a href="{% url 'problem_site' site_key=problem.problemsite.url_key %}{% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                            {{ problem.name }}
                        </a>
                    </td>

                    {% if show_tags %}
                        <td>
                            {% for tag in problem.tag_set.all %}
                                {% tag_label tag %}
                            {% endfor %}
                        </td>
                    {% endif %}

                    <td>
                        {% if administered_recent_contests %}
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle add-to-contest-button" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {% trans "Add to contest" %} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-header">{% trans "Choose contest" %}</li>
                                    {% for contest in administered_recent_contests %}
                                        <li>
                                            <a href="#" data-addorupdate="{% url 'add_or_update_problem' contest_id=contest.id %}"
                                               data-urlkey="{{ problem.problemsite.url_key }}">{{ contest.name }}</a>
                                        </li>
                                    {% endfor %}
                                    <li role="separator" class="divider"></li>
                                    <li>
                                        <a href="{% url 'problemset_add_to_contest' site_key=problem.problemsite.url_key %}?problem_name={{ problem.short_name }}">
                                            {% trans "More..." %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            &nbsp;<span class="loading-spinner hidden"><span class="glyphicon glyphicon-refresh glyphicon-spin"></span></span>
                    {% else %}
                        {% if show_add_button %}
                        <a type="button" class="btn btn-default"
                        href="{% url 'problemset_add_to_contest' site_key=problem.problemsite.url_key %}?problem_name={{ problem.short_name }}">
                        {% trans "Add to contest" %}
                        </a>
                        {% endif %}
                    {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% paginate %}
{% else %}

<div class="alert alert-info">
    <p>{% trans 'There are no problems here :(' %}</p>
</div>
{% endif %}

<form id="add_to_contest" method="post" class="hidden">
    {% csrf_token %}
    <input id="url_key" name="url_key" type="hidden">
</form>

<script type="text/javascript" src="{{ STATIC_URL }}problems/problemset/add-to-contest.js"></script>

{% endblock %}
