{% extends "problems/problemset/base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load tag %}

{% block main_content %}
<h1>{{ page_title }}</h1>

{% if problems %}

<div class="paginated-list span8 offset2">
    {% autopaginate problems 20 %}
    {% paginate %}
    <table class="table">
        <thead>
            <tr>
                <th style="width: 100px">{% trans "ID" %}</th>
                <th>{% trans "Name" %}</th>
                {%if show_tags %}<th>{% trans "Tags" %}</th>{% endif %}

                {% if select_problem_src %}
                <th>{% trans "Select problem" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for problem in problems %}
            <tr>
                <td>{{ problem.short_name }}</td>
                <td><a href="{% url 'problem_site' site_key=problem.problemsite.url_key %}{% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                    {{ problem.name }}
                </a></td>

                {% if show_tags %}
                <td>
                {% for tag in problem.tag_set.all %}
                    {% tag_label tag %}
                {% endfor %}
                </td>
                {% endif %}

                {% if select_problem_src %}
                <td><a type="button" class="btn btn-info"
                        href="{{ select_problem_src }}{% if '?' in select_problem_src %}&{% else %}?{% endif %}url_key={{ problem.problemsite.url_key }}">
                    {% trans "Choose me!" %}
                </a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% paginate %}
</div>

{% else %}

<div class="empty-space-filler">
    <p>{% trans 'There are no problems here :(' %}</p>
</div>
{% endif %}

{% endblock %}
