{% extends "problems/problemset/base.html" %}
{% load i18n pagination_tags tag statistics_tags static %}

{% block main_content %}

{% if problems %}
    {% autopaginate problems 20 %}
    <div class="table-responsive-md">
        <table class="table button-flat">
            <thead>
                <tr>
                    <th class="col-md-auto">
                        <a href="{% ordered_col request.GET "short_name" %}">
                            {% trans "ID" %}
                        </a>
                    </th>

                    <th class="col-sm-{{ col_proportions.name }}">
                        <a href="{% ordered_col request.GET "name" %}">
                            {% trans "Name" %}
                        </a>
                    </th>

                    {% if show_tags %}
                        <th class="col-sm-{{ col_proportions.tags }}">
                            {% trans "Tags" %}
                        </th>
                    {% endif %}

                    {% if show_statistics %}
                        <th class="col-sm-{{ col_proportions.statistics1 }} text-center">
                            <a href="{% ordered_col request.GET "submitted" True %}"
                               data-toggle="tooltip"
                               title="{% trans "How many users submitted a solution for this task" %}">
                                {% trans "Submitters" %}
                            </a>
                        </th>
                        <th class="col-sm-{{ col_proportions.statistics2 }} text-center">
                            <a href="{% ordered_col request.GET "solved_pc" True %}"
                               data-toggle="tooltip"
                               title="{% trans "Percentage of users who submitted that also solved this task" %}">
                                {% trans "% Correct" %}
                            </a>
                        </th>
                        <th class="col-sm-{{ col_proportions.statistics3 }} text-center">
                            <a href="{% ordered_col request.GET "avg_best_score" True %}"
                               data-toggle="tooltip"
                               title="{% trans "Average score result for this task" %}">
                                {% trans "Average" %}
                            </a>
                        </th>
                        <script type="text/javascript">
-                            $(document).ready(function(){
-                                $('[data-toggle="tooltip"]').tooltip();
-                            });
-                        </script>
                    {% endif %}

                    {% if show_user_statistics %}
                        <th class="col-sm-{{ col_proportions.user_score }} text-center">
                            <a href="{% ordered_col request.GET "user_score" True %}"
                               data-toggle="tooltip"
                               title="{% trans "Your score for this problem" %}">
                                {% trans "Your score" %}
                            </a>
                        </th>
                    {% endif %}

                    {% if show_add_button %}
                        <th class="col-sm-{{ col_proportions.add_button }} text-center">
                            {% trans "Actions" %}
                        </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% if show_tags %}
                    {% prefetch_tags problems %}
                    {% prefetch_top_tag_proposals problems %}
                {% endif %}
                {% for problem in problems %}
                <tr>
                    <td>{{ problem.short_name }}</td>
                    <td>
                        <a href="{% url 'problem_site' site_key=problem.problemsite.url_key %}
                        {% if select_problem_src %}?select_problem_src={{ select_problem_src }}{% endif %}">
                            {{ problem.name }}
                        </a>
                    </td>

                    {% if show_tags %}
                        <td>
                            {% for tag in problem.algorithmtag_set.all %}
                                {% tag_label tag %}
                            {% endfor %}
                            {% comment %}
                                Skip rendering the div if there are no top tag proposals
                                so it does not generate a whitespace between other tags.
                            {% endcomment %}
                            {% if show_tag_proposals and problem.top_tag_proposals %}
                                <div class="aggregated-proposals" style="display: none;">
                                    {% for tag in problem.top_tag_proposals %}
                                        {% aggregated_tag_label tag %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% for tag in problem.origintag_set.all %}
                                {% tag_label tag %}
                                {% for info in problem.origininfovalue_set.all %}
                                    {% if info.parent_tag == tag %}
                                        {% origininfo_label info %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% for tag in problem.difficultytag_set.all %}
                                {% tag_label tag %}
                            {% endfor %}
                        </td>
                    {% endif %}

                    {% if show_statistics %}
                        {% comment %}
                            Use annotations instead of related when displaying
                            statistics for better implementation of logic.
                        {% endcomment %}

                        <td class="text-center">{{ problem.statistics_submitted }}</td>

                        {% if problem.statistics_solved_pc is not None %}
                            <td class="text-center">{{ problem.statistics_solved_pc }}%</td>
                        {% else %}
                            <td/>
                        {% endif %}

                        {% if problem.statistics_avg_best_score is not None %}
                            <td class="text-center">{{ problem.statistics_avg_best_score }}</td>
                        {% else %}
                            <td/>
                        {% endif %}
                    {% endif %}

                    {% if show_user_statistics %}
                        {% if problem.user_statistics_user_score is not None %}
                            <td class="text-center result--{{ problem.score_display_type }} result__margin">
                                {{ problem.user_statistics_user_score }}
                            </td>
                        {% else %}
                            <td/>
                        {% endif %}
                    {% endif %}
                    
                    {% if show_add_button or administered_recent_contests %}
                        <td class="text-center">
                            <div class="btn-group">
                                <button class="btn btn-outline-secondary dropdown-toggle add-to-contest-button pl-1 pr-2" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="caret add-contest-caret"></span>
                                    <span class="d-none loading-spinner job-active"><i class="fa-solid fa-rotate-right spinner"></i></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                {% if administered_recent_contests %}
                                    <h5 class="dropdown-header">{% trans "Add to contest" %}</h5>
                                    {% for contest in administered_recent_contests %}
                                        <a class="dropdown-item" href="#" data-addorupdate="{% url 'add_or_update_problem' contest_id=contest.id %}"
                                           data-urlkey="{{ problem.problemsite.url_key }}">{{ contest.name }}</a>
                                    {% endfor %}
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'problemset_add_to_contest' site_key=problem.problemsite.url_key %}?problem_name={{ problem.short_name }}">
                                        {% trans "More contests..." %}
                                    </a>
                                {% elif show_add_button %}
                                    <a class="dropdown-item" href="{% url 'problemset_add_to_contest' site_key=problem.problemsite.url_key %}?problem_name={{ problem.short_name }}">
                                        {% trans "Add to contest" %}
                                    </a>
                                {% endif %}
                                </div>
                            </div>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% paginate %}
{% else %}

<div class="alert alert-info">
    {% trans "There are no problems here :(" %}
</div>
{% endif %}

<form id="add_to_contest" method="post"  class="d-none">
    {% csrf_token %}
    <input id="url_key" name="url_key" type="hidden">
</form>

<script type="text/javascript" src="{{ STATIC_URL }}problems/problemset/add-to-contest.js"></script>
{% if show_tags and show_tag_proposals %}
    <script type="text/javascript" src="{{ STATIC_URL }}problems/problemset/control-tag-proposals.js"></script>
{% endif %}

{% endblock %}
