{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm rejudge" %}{% endblock %}

{% block main-content %}

<h1>{% trans "Confirm rejudge" %}</h1>

<p>
    {% trans "Tests for this problem have changed, you should rejudge existing submissions." %}
</p>
<p>
    {% blocktrans %}You are going to rejudge {{ count }} submissions. It may take some time.{% endblocktrans %}
</p>

<p>{% trans "Are you sure?" %}</p>

<div>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="post" value="yes" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">
                {% trans "Yes, I am sure." %}
            </button>
            <button type="button" class="btn btn-default" onclick="history.back()">
                {% trans "No, go back" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
