{% extends "contests/base_confirmation_screen.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm contest archive" %}{% endblock %}
{% block confirmation_header %}{% trans "Confirm contest archive" %}{% endblock %}
{% block confirmation_form_explanation %}
    <p>
        {% blocktrans %}
        Archiving will make the contest 'read-only', which means nobody will be able to:
        <ul>
            <li>Add new participants</li>
            <li>Submit solutions</li>
            <li>Add new problems and rounds</li>
            <li>Ask questions</li>
            <li>Add posts and comments on forum</li>
        </ul>
        {% endblocktrans %}
    </p>

    <p>
        {% trans "You will be able to unarchive this contest later." %}
    </p>

{% endblock %}

