{% extends "contests/base_confirmation_screen.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm marking for rejudge" %}{% endblock %}

{% block confirmation_header %}{% trans "Confirm marking for rejudge" %}{% endblock %}

{% block confirmation_form_explanation %}
    <p>
        {% trans "Marking the problem for rejudge essentially indicates that the tests have changed, or some other serious change has happened." %}
    </p>
    <p>
        {% trans "You are going to mark this problem as needing a rejudge." %}
    </p>
{% endblock %}
