{% load i18n %}

<h4>{% trans "Evaluation failure report" %}</h4>
<p>{% blocktrans %}This is a technical report of an evaluation failure. If you are
an administrator and would like to report the problem to OIOIOI authors, make sure
to send this entire information as well.{% endblocktrans %}</p>
<pre class="hscroll">{{ message }}</pre>
<p>{% trans "The next step in the recipe was:" %}</p>
<pre class="hscroll">{{ next_step }}</pre>
<p>{% blocktrans %}The final evaluation environment (with <code>recipe</code> and
<code>error_handlers</code> removed for readability) was:{% endblocktrans %}</p>
<pre class="hscroll">{{ environ }}</pre>
