{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load check_perm %}

{% block title %}{% trans "Files" %}{% endblock %}

{% block content %}
<h2>{% trans "Files" %}</h2>
{% check_perm 'contests.contest_admin' for contest as is_admin %}
{% if is_admin %}
<div class="corner-icons">
    <ul>
        <li><a class="btn btn-small" href="{% url 'oioioiadmin:contests_contest_change' contest.id %}">
                <i class="icon-upload"></i>
                <span class="toolbar-button-text">{% trans "Add file" %}</span>
            </a>
        </li>
    </ul>
</div>
{% endif %}
{% if files %}
<div class="paginated-list">
{% autopaginate files files_on_page %}
{% paginate %}
<table class="table auto-width row-links">
    <thead>
        <tr>
            {% if add_category_field %}
            <th style="min-width: 100px">{% trans "Category" %}</th>
            {% endif %}
            <th style="min-width: 100px">{% trans "File" %}</th>
            <th style="min-width: 300px">{% trans "Description" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            {% if add_category_field %}
            <td>{{ file.category }}</td>
            {% endif %}
            <td><a href="{{ file.link }}">{{ file.name }}</a></td>
            <td>{{ file.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% paginate %}
</div>
{% else %}
<div class="empty-space-filler">
    {% blocktrans %}No files are available.{% endblocktrans %}
</div>
{% endif %}
{% endblock %}
