{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load check_perm %}

{% block title %}{% trans "Downloads" %}{% endblock %}

{% block main-content %}
    <div class="clearfix">
        {% check_perm 'contests.contest_basicadmin' for contest as is_admin %}
        {% if is_admin %}
            <div class="float-right">
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="{% url 'edit_files_message' %}">
                    <i class="fa-solid fa-pencil"></i>
                    {% trans "Edit files message" %}
                </a>
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="{% url 'oioioiadmin:contests_contest_change' contest.id %}">
                    <i class="fa-regular fa-circle-up"></i>
                    {% trans "Add file" %}
                </a>
            </div>
        {% endif %}
        <h1 class="float-left">{% trans "Downloads" %}</h1>
    </div>
    {% include "public_message/show.html" %}

    {% include "problems/files.html" %}
{% endblock %}
