{% extends "simple-centered.html" %}

{% load i18n %}

{% block content %}
{% url 'oioioiadmin:contests_contest_add' as new_contest_link %}
{% url 'auth_login' as login_link %}
{% url 'sign-up' as reg_link %}
<div class="empty-space-filler text-center">
    {% if user.is_superuser %}
        {% blocktrans %}
            <p>This is a new OIOIOI installation. Begin by <a href="{{ new_contest_link }}">creating
                a new contest</a>.</p>
        {% endblocktrans %}
    {% elif user.is_anonymous %}
        {% blocktrans %}
            <p>There are no contests available to logged out users.</p>
            <p>Please <a href="{{ login_link }}">log in</a> or <a href="{{ reg_link }}">sign up</a>.</p>
        {% endblocktrans %}
    {% else %}
        {% blocktrans %}
            <p>There are no contests available.</p>
        {% endblocktrans %}
    {% endif %}
</div>
{% endblock %}
