{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "My submissions" %}{% endblock %}

{% block content %}
<h2>{% trans "My submissions" %}</h2>
<div class="corner-icons">
    <ul>
        <li><a class="btn btn-small" href="{% url 'submit' contest_id=contest.id %}">
                <i class="icon-upload"></i>
                <span class="toolbar-button-text">{% trans "Submit" %}</span>
            </a>
        </li>
    </ul>
</div>
{{ header }}

{% include "problems/submissions.html" %}
{% endblock %}
