{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "My submissions" %}{% endblock %}

{% block main-content %}
    <div class="clearfix">
        <div class="float-right">
            <a role="button"
               class="btn btn-sm btn-outline-secondary"
               href="{% url 'submit' contest_id=contest.id %}">
                <i class="fa-regular fa-circle-up"></i>
                {% trans "Submit" %}
            </a>
        </div>
        <h1 class="float-left">{% trans "My submissions" %}</h1>
    </div>

    {{ header }}
    {% include "problems/submissions.html" %}
{% endblock %}
