{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "My submissions" %}{% endblock %}

{% block main-content %}
    <div class="clearfix">
        <div class="pull-right">
            <a role="button"
               class="btn btn-sm btn-default"
               href="{% url 'submit' contest_id=contest.id %}">
                <span class="glyphicon glyphicon-upload"></span>
                {% trans "Submit" %}
            </a>
        </div>
        <h1 class="pull-left">{% trans "My submissions" %}</h1>
    </div>

    {{ header }}
    {% include "problems/submissions.html" %}
{% endblock %}
