{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Problems" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Problems" %}</h1>
{% if problem_instances %}
    <div class="table-responsive-md">
        {% autopaginate problem_instances problems_on_page %}
        {% paginate %}
        <table class="table table-striped table--narrow">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans "Name" %}</th>
                    {% if show_submissions_limit %}
                        <th class="text-right">
                        {% if user.is_authenticated %}
                            {% trans "Tries left" %}
                        {% else %}
                            {% trans "Submissions limit" %}
                        {% endif %}
                        </th>
                    {% endif %}
                    <th class="text-right">{% trans "Score" %}</th>
                    {% if show_submit_button %}
                        <th class="text-right"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for pi, statement_visible, round_time, result, submissions_left, submissions_limit, can_submit in problem_instances %}

                    {% if show_rounds %}
                        {% ifchanged pi.round %}
                            <tr class="problemlist-subheader">
                                <td colspan={{ table_columns }}>
                                    <strong>{{ pi.round }}</strong>
                                    {% if round_time.get_end %}
                                        <em>({{ round_time.get_end|date:"j E Y, H:i" }})</em>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endifchanged %}
                    {% endif %}
                    <tr>
                        <td>{{ pi.get_short_name_display }}</td>
                        <td>
                            {% if statement_visible %}
                                {% url 'problem_statement' contest_id=contest.id problem_instance=pi.short_name as link %}
                                <a href="{{ link }}">{{ pi.problem.name }}</a>
                            {% else %}
                                {{ pi.problem.name }}
                            {% endif %}
                        </td>
                        {% if show_submissions_limit %}
                            <td class="text-right">
                                {% if submissions_left == None %}
                                    {% if not user.is_authenticated and not submissions_limit == None %}
                                        {{ submissions_limit }}
                                    {% else %}
                                        {% trans "unlimited" %}
                                    {% endif %}
                                {% else %}
                                    {{ submissions_left }} {% trans "of" %} {{ submissions_limit }}
                                {% endif %}
                            </td>
                        {% endif %}
                        <td class="text-right">
                            {% if result %}
                                {% if not is_admin %}
                                {% url 'submission' contest_id=contest.id submission_id=result.submission_report.submission_id as link %}
                                <a href="{{ link }}">
                                {% endif %}
                                    {% if result.score == result.submission_report.score_report.max_score %}
                                        <div class="badge badge-success"> {{ result.score }}</div>
                                    {% elif result.score > 0 %}
                                        <div class="badge badge-warning"> {{ result.score }}</div>
                                    {% else %}
                                        <div class="badge badge-danger"> {{ result.score }}</div>
                                    {% endif %}
                                {% if not is_admin %}
                                </a>
                                {% endif %}
                            {% endif %}
                        </td>
                        {% if show_submit_button %}
                            <td class="text-right">
                                {% if can_submit %}
                                    {% url 'submit' problem_instance_id=pi.id as link %}
                                    <a href="{{ link }}">{% trans "Submit" %}</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>

                {% endfor %}
            </tbody>
        </table>
        {% paginate %}
    </div>
{% else %}
<div class="text-center">
    {% blocktrans %}No problems are active at the moment.{% endblocktrans %}
</div>
{% endif %}
{% endblock %}
