{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Problems" %}{% endblock %}

{% block content %}
<h2>{% trans "Problems" %}</h2>
{% if problem_instances %}
<div class="paginated-list">
{% autopaginate problem_instances problems_on_page %}
{% paginate %}
<table class="table auto-width">
    <thead>
        <tr>
            <th style="min-width: 60px">{% trans "Symbol" %}</th>
            <th style="min-width: 200px">{% trans "Name" %}</th>
            {% if show_scores %}
                <th>{% trans "Score" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for pi, statement_visible, round_time, result in problem_instances %}

            {% if show_rounds %}
                {% ifchanged pi.round %}
                    <tr>
                        <td colspan="3">
                            <b>{{ pi.round }}</b>
                            {% if round_time.get_end %}
                                <i>({{ round_time.get_end|date:"j F Y, H:i" }})</i>
                            {% endif %}
                        </td>
                    </tr>
                {% endifchanged %}
            {% endif %}
            <tr>
                <td>{{ pi.get_short_name_display }}</td>
                <td>
                    {% if statement_visible %}
                        {% url 'problem_statement' contest_id=contest.id problem_instance=pi.short_name as link %}
                        <a href="{{ link }}">{{ pi.problem.name }}</a>
                    {% else %}
                        {{ pi.problem.name }}
                    {% endif %}
                </td>
                {% if show_scores %}
                    <td style="text-align: right">
                        {% if result %}
                            {% if result.score == result.submission_report.score_report.max_score %}
                                <div class="label label-success"> {{ result.score }}</div>
                            {% elif result.score > 0 %}
                                <div class="label label-warning"> {{ result.score }}</div>
                            {% else %}
                                <div class="label label-important"> {{ result.score }}</div>
                            {% endif %}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% paginate %}
</div>
{% else %}
<div class="empty-space-filler">
    {% blocktrans %}No problems are active at the moment.{% endblocktrans %}
</div>
{% endif %}
{% endblock %}
