{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm attachement" %}{% endblock %}

{% block main-content %}

<h1>{% trans "Confirm attachement" %}</h1>
<p>
    {% blocktrans %}
    You are going to attach the following problems to the contest
    {% endblocktrans %}
    <strong> {{ contest.name }} </strong>
    <ul class="list-group d-inline-block">
        {% for problem in problem_instances %}
            <li class="list-group-item">{{ problem }}</li>
        {% endfor %}
    </ul>
</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="post" value="yes" />
    <div class="form-group">
        <div class="checkbox"><label for="copy-limits">
            <input type="checkbox" id="copy-limits" name="copy-limits" />
            {% trans "Copy limits from the source contest" %}
        </label></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% trans "Attach" %}
        </button>
        <button type="button" class="btn btn-outline-secondary" onclick="history.back()">
            {% trans "No, go back" %}
        </button>
    </div>
</form>
{% endblock %}
