{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm attachement" %}{% endblock %}

{% block main-content %}

<h1>{% trans "Confirm attachement" %}</h1>

<p>
    {% blocktrans %}
        You are going to attach problem {{ problem_instance }}
        to contest {{ destination_contest }}
    {% endblocktrans %}
</p>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="post" value="yes" />
    <div class="form-group">
        <div class="checkbox"><label for="copy-limits">
            <input type="checkbox" id="copy-limits" name="copy-limits" />
            {% trans "Copy limits from source contest" %}
        </label></div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% trans "Attach" %}
        </button>
        <button type="button" class="btn btn-outline-secondary" onclick="history.back()">
            {% trans "No, go back" %}
        </button>
    </div>
</form>
{% endblock %}
