{% extends "base-with-menu.html" %}
{% load i18n pagination_tags %}

{% block title %}{% trans "Select contest" %}{% endblock %}

{% block main-content %}

<article>
    <h1>{% trans "Select contest" %}</h1>

    <div style="width: 20%; margin-bottom: 1rem;">
            <form method="GET" action="{% url 'filter_contests' filter_value='PLACEHOLDER' %}" id="filter_form">
                <div class="input-group">
                <input type="text" id="filter_input" class="form-control search-query" style="width: 20%;" placeholder="Search" name="filter_field" value="{{ filter }}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-outline-secondary "  name="submit_button"> <i class="fa-solid fa-magnifying-glass"> </i> </button>
                </span>
                </div>  
            </form>
            <script>
                document.getElementById('filter_form').addEventListener('submit', function(event) {
                    event.preventDefault();
                    let filterValue = document.getElementById('filter_input').value;
                    let actionUrl = "";
                    if(filterValue == "") {
                        actionUrl = "{% url 'select_contest'%}";
                    } else {
                        actionUrl = "{% url 'filter_contests' filter_value='PLACEHOLDER' %}".replace('PLACEHOLDER', encodeURIComponent(filterValue));
                    }
                    window.location.href = actionUrl;
                });
            </script>
        </div>
        {% autopaginate contests contests_on_page %}
        <div class="table-responsive-md">
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "ID" %}</th>
                    <th>{% trans "Name" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for contest in contests %}
                    <tr>
                        <td>{{ contest.id }}</td>
                        <td>
                            <a class="fill-clickable"
                               href="{% url 'default_contest_view' contest_id=contest.id %}">
                                {{ contest.name }}
                            </a>
                            {% if contest.is_archived %}
                                <span class="badge badge-warning">{% trans "Archived" %}</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% paginate %}
</article>

{% endblock %}
