{% extends "base-with-menu.html" %}
{% load i18n %}
{% load check_perm %}

{% block title %}{% trans "Submission" %} {{ submission.id }}{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% check_perm 'contests.contest_admin' for contest as is_admin %}
    {% if is_admin %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('[data-parent-toggle]').on('click', function () {
                    var $t = $($(this).data('target')),
                        $report_row = $t.parent();
                    $report_row.toggle('fast');
                    $t.collapse('reset');
                });
            });
        </script>
    {% endif %}
{% endblock %}

{% block content %}
<h2>{% trans "Submission" %} {{ submission.id }}</h2>
{{ header }}
{% for report in reports %}
    {{ report }}
{% endfor %}

{% check_perm 'contests.contest_admin' for contest as is_admin %}
{% if is_admin %}
<h4><button type="button" class="btn btn-small" data-toggle="collapse" data-target="#hidden_reports"><i class="icon-chevron-down"></i></button> <span class="expand-label">{% trans "Hidden reports" %}</span></h4>
<div id="hidden_reports" class="collapse">
    <table class="table auto-width dense space-columns full-grid">
        <thead>
            <tr>
                <th style="min-width: 30px">{% trans "Actions" %}</th>
                <th style="min-width: 30px">{% trans "ID" %}</th>
                <th style="min-width: 70px">{% trans "Creation date" %}</th>
                <th style="min-width: 150px">{% trans "Kind" %}</th>
                <th style="min-width: 80px">{% trans "Status" %}</th>
                <th style="min-width: 80px">{% trans "Score" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for report in all_reports %}
            <tr>
                <td>
                    <button type="button" class="btn btn-small" data-async-toggle="collapse" data-parent-toggle="collapse" data-target="#hidden_report_{{ report.id }}"><i class="icon-chevron-down"></i></button>
                </td>
                <td>{{ report.id }}</td>
                <td>{{ report.creation_date }}</td>
                <td>{{ report.get_kind_display }}</td>
                <td>{{ report.get_status_display }}</td>
                <td>{{ report.score_report.get_score_display }}</td>
            </tr>
            <tr>
                <td colspan="6" style="display: none"><div id="hidden_report_{{ report.id }}" data-loadurl="{% url report contest_id=contest.id submission_id=submission.id report_id=report.id %}" class="collapse"></div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{{ footer }}
{% endblock %}
