{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "My submissions" %}{% endblock %}

{% block main-content %}

<h2>{% trans "Rejudge" %}</h2>

<form action="rejudge/" method="POST" class="form-list-unstyled">
    {% csrf_token %}
    {% trans "Select type of rejudge:" %}
    <ul class="radio">
        {{ form.rejudge_type }}
    </ul>
    {% if form.tests %}
        {% trans "Tests:" %}
        <ul class="checkbox list-grid" id="test_list">
            {{ form.tests }}
        </ul>
    {% endif %}
    <div  class="d-none">
        {{ form.submissions }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary"/>
    </div>
</form>

{% endblock %}
