.news-item {
    padding: 10px;
    margin: 10px;
}

.news-date {
    color: gray;
}

.news-title {
    color: #005299;
}

.news-content {
    text-align: justify;
}

.news-add-link {
    padding: 10px;
    margin: 10px;
}
