{% extends "base-with-menu.html" %}
{% load i18n %}

{% block scripts %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block title %}{% trans "Change message" %}{% endblock %}

{% block main-content %}
    <h1>{% trans "Change message" %}</h1>
    {% if message.top_reference %}
        <div>
            <small>{% trans "This message is a reply to the following:" %}</small>
            {% include "questions/single_message.html" with message=message.top_reference %}
        </div>
    {% endif %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_author" class="control-label">{% trans "Author" %}</label>
            <div id="id_author">
                {{ message.author.username }}{% if message.author.get_full_name %} ({{ message.author.get_full_name }}){% endif %}
            </div>
        </div>
        <div class="form-group">
            <label for="message_date" class="control-label">{% trans "Date" %}</label>
            <div id="message_date">{{ message.date }}</div>
        </div>
        <div class="form-group">
            <label for="message_contest" class="control-label">{% trans "Contest" %}</label>
            <div id="message_contest">{{ message.contest.name }}</div>
        </div>
        {% include "ingredients/form.html" with focus="#id_content" %}
        {% if message.top_reference %}
            <div class="form-group">
                <button type="button" class="btn btn-outline-secondary btn-sm" tabindex="-1" id="respond_inline" onclick="add_question_content();">
                    <span class="glyphicon glyphicon-pencil"></span>
                    {% blocktrans %}Add question content{% endblocktrans %}
                </button>
            </div>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                {% trans "Save" %}
            </button>
            <div class="pull-right">
                <a role="button" class="btn btn-primary" href="history/">{% trans "History" %}</a>
                <a role="button" class="btn btn-danger" href="delete/">{% trans "Delete" %}</a>
            </div>
        </div>
    </form>
{% if message.top_reference %}
    <script type="text/javascript">
        $(function() {
            scroll_to('#id_content');
        });
    </script>
{% endif %}
{% endblock %}
