{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Printing" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Printing" %}</h1>
{% if success_message %}
    <div class="alert alert-success">
        {{ success_message }}
    </div>
{% elif error_message %}
    <div class="alert alert-danger">
        <strong>{% trans "Error occurred while printing." %}</strong>
        <pre>{{ error_message }}</pre>
    </div>
{% endif %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% trans "Print" %}
        </button>
    </div>
</form>
{% endblock %}
