{% load i18n simple_filters %}

{% if form.non_field_errors %}
    <div class="form-group">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="sr-only">{% trans "Error" %}:</span>
                {{ error }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
    {% if not inline %}<div class="form-group">{% endif %}
    {% if field|is_checkbox %}
        <div class="form-check {% if inline %}mr-sm-2 mb-2{% endif %}">
            {% if field.errors %}
                {{ field | add_class:"form-check-input" | add_class:"is-invalid" }}
            {% else %}
                {{ field | add_class:"form-check-input" }}
            {% endif %}
            <label class="form-check-label" for="id_{{ field.name }}">
                 {{ field.label }}
            </label>
        </div>
    {% else %}
        {% if field.label %}
            <label for="{{ field.auto_id }}" class="{% if display_labels == False %}sr-only{% endif %} control-label {% if field.errors %}text-danger{% endif %} {% if inline %}mr-sm-2 mb-2{% endif %}" data-submit="{{ field.field.widget.attrs|safe_lookup:"data-submit" }}">
                {{ field.label }}
            </label>
        {% endif %}

        {% if field|is_checkbox_select_multiple or field|is_radioselect %}
            {% for pk, choice in field.field.widget.choices %}
                <div class="form-check ml-2">
                    <input class="form-check-input{% if field.errors %} is-invalid{% endif %}" id="id_{{ field.name }}_{{ forloop.counter0 }}" name="{{ field.name }}" type="{% if field|is_radioselect %}radio{% else %}checkbox{% endif %}" value="{{ pk }}" data-submit="{{ field.field.widget.attrs|safe_lookup:"data-submit" }}">
                    <label class="form-check-label" for="id_{{ field.name }}_{{ forloop.counter0 }}">
                        {{ choice }}
                    </label>
                </div>
            {% endfor %}
        {% else %}
            {% if inline %}
                {% if field.errors %}
                    {{ field | add_class:"form-control" | add_class:"is-invalid" | add_class:"mr-sm-2" | add_class:"mb-2" }}
                {% else %}
                    {{ field | add_class:"form-control" | add_class:"mr-sm-2" | add_class:"mb-2" }}
                {% endif %}
            {% else %}
                {% if field.errors %}
                    {{ field | add_class:"form-control" | add_class:"is-invalid" }}
                {% else %}
                    {{ field | add_class:"form-control" }}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
        {% for error in field.errors %}
            <small class="{% if not inline %}form-text{% endif %} text-danger">{{ error }}</small>
        {% endfor %}
        {% if field.help_text %}
            <small class="{% if not inline %}form-text{% endif %} {% if field.errors %}text-danger{% else %}text-muted{% endif %}">{{ field.help_text }}</small>
        {% endif %}
    {% if not inline %}</div>{% endif %}
{% endfor %}

{% if focus != False %}
    <script>
        $(function() {
            {% if focus %}
                $('{{ focus }}').focus();
            {% else %}
                if ($(':focus').length === 0) {
                    $(':input:visible:first').focus();
                }
            {% endif %}
        })
    </script>
{% endif %}

{% if form.additional_scripts %}
    {% for script in form.additional_scripts %}
        <script>
            {{ script }}
        </script>
    {% endfor %}
{% endif %}
