{% load i18n simple_filters %}

{% if form.non_field_errors %}
    <div class="form-group">
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Error" %}:</span>
                {{ error }}
            </div>
        {% endfor %}
    </div>
{% endif %}

{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

{% for field in form.visible_fields %}
    {% if field|is_checkbox %}
        <div class="checkbox {% if field.errors %}has-error{% endif %}">
            <label class="control-label">
                {{ field }} {{ field.label }}
            </label>
        {% else %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% if display_labels != False %}
                <label for="{{ field.auto_id }}" class="control-label">
                    {{ field.label }}
                </label>
            {% endif %}
            {{ field | add_class:"form-control" }}
        {% endif %}
            {% for error in field.errors %}
                <div class="{% if inline %}help-inline{% else %}help-block{% endif %}">{{ error }}</div>
            {% endfor %}
            {% if field.help_text %}
                <div class="{% if inline %}help-inline{% else %}help-block{% endif %}">{{ field.help_text }}</div>
            {% endif %}
        </div>
{% endfor %}

{% if focus != False %}
    <script>
        $(function() {
            {% if focus %}
                $('{{ focus }}').focus();
            {% else %}
                if ($(':focus').length === 0) {
                    $(':input:visible:first').focus();
                }
            {% endif %}
        })
    </script>
{% endif %}
