{% if LANGUAGES|length > 1 %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img title="{{ LANGUAGE_CODE|language_name_local }}" src="{{ STATIC_URL }}images/flags/{{ LANGUAGE_CODE }}.png"/>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
            {% for lang_short, lang_name in LANGUAGES %}
                <li>
                    <a href="#" class="lang-select" lang="{{ lang_short }}">
                        <img title="{{ lang_short|language_name_local }}" src="{{ STATIC_URL }}images/flags/{{ lang_short }}.png"/>
                        {{ lang_short|language_name_local }}
                        {% if lang_short == LANGUAGE_CODE %}
                            <span class="current-language">✓</span>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
