{% if LANGUAGES|length > 1 %}
    {% load i18n %}
    {% get_current_language as LANGUAGE_CODE %}

    <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
            <img title="{{ LANGUAGE_CODE|language_name_local }}" src="{{ STATIC_URL }}images/flags/{{ LANGUAGE_CODE }}.png"/>
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% for lang_short, lang_name in LANGUAGES %}
                <a class="dropdown-item lang-select" href="#" lang="{{ lang_short }}">
                    <img title="{{ lang_short|language_name_local }}" src="{{ STATIC_URL }}images/flags/{{ lang_short }}.png"/>
                    {{ lang_short|language_name_local }}
                    {% if lang_short == LANGUAGE_CODE %}
                        <span class="current-language">✓</span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}
