{% load staticfiles %}

<link charset="utf-8" rel="stylesheet" href="{{ STATIC_URL }}bootstrap-markdown/css/bootstrap-markdown.min.css" />
<link charset="utf-8" rel="stylesheet" href="{{ STATIC_URL }}icofont/css/icofont.css" />
<script src="{{ STATIC_URL }}bootstrap-markdown/js/marked.js"></script>
<script src="{{ STATIC_URL }}bootstrap-markdown/js/bootstrap-markdown.js"></script>

{% comment %}
    After including markdown add codesnippet to change `<textarea id="editor"></textarea>`
    into a markdown editor.

    ```
    <script>
    $(function () {
        $("#editor").markdown();
    });
    </script>
    ```
{% endcomment %}