{% load menu check_perm i18n all_with_prefix listutil %}
{% all_with_prefix extra_menu_top_ %}
{% if side_menus|length > 1 %}
<ul class="nav nav-list admin-menu">
    {% for registry in side_menus %}
        {% generate_menu registry %}
            <li class="nav-header">{{ registry.text }}</li>
            {% for item in menu %}
                <li {% if item.url == request.path %}class="active"{% endif %}>
                    <a href="{{ item.url }}" {{ item.attrs }}>{% if item.icon %}<i class="icon-{{ item.icon }}"></i>{% endif %}{{ item.text }}</a>
                </li>
            {% endfor %}
    {%  endfor %}
    <li class="divider" id="nav-dropdown-divider" style="display: none;"></li>
    <li class="dropdown nav-dropdown-submenu" style="display: none;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'More' %}</a>
        <ul class="dropdown-menu"></ul>
    </li>
</ul>

{% else %}
<ul class="nav nav-list user-menu">
    {% generate_menu side_menus|first %}
    {% for item in menu %}
        <li id="{{ item.name }}" {% if item.url == request.path %}class="active"{% endif %}>
            <a href="{{ item.url }}" {{ item.attrs }}>
                {% if menu_icons %}{{ menu_icons|cyclic_lookup:forloop.counter0 }}{% endif %}
                {{ item.text }}
            </a>
        </li>
    {% endfor %}
    <li class="divider" id="nav-dropdown-divider" style="display: none;"></li>
    <li class="dropdown nav-dropdown-submenu" style="display: none;">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'More' %}</a>
        <ul class="dropdown-menu"></ul>
    </li>
</ul>
{% endif %}
{% all_with_prefix extra_menu_bottom_ %}
