{% load menu check_perm i18n all_with_prefix %}
{% all_with_prefix extra_menu_top_ %}
{% if side_menus|length > 1 %}
<ul class="nav nav-list admin-menu">
    {% for registry in side_menus %}
        {% generate_menu registry %}
            <li class="nav-header">{{ registry.text }}</li>
            {% for item in menu %}
                <li {% if item.url == request.path %}class="active"{% endif %}>
                    <a href="{{ item.url }}" {{ item.attrs }}>
                        {% if item.icon %}<i class="icon-{{ item.icon }}"></i>{% endif %}
                        {{ item.text }}</a>
                </li>
            {% endfor %}
    {%  endfor %}
</ul>
{% else %}
<ul class="nav nav-list user-menu">
    {% generate_menu side_menus|first %}
    {% for item in menu %}
        <li id="{{ item.name }}" {% if item.url == request.path %}class="active"{% endif %}>
        <a href="{{ item.url }}" {{ item.attrs }}>
            <img src="{{ STATIC_URL }}images/menu/menu-icon-{% cycle '1' '2' '3' %}.png"/>
            {{ item.text }}
        </a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% all_with_prefix extra_menu_bottom_ %}
