{% extends "ingredients/navbar.html" %}
{% load i18n %}

{% block navbar_user_panel %}
    <li style="float: right;">
        <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
    </li>
    <form class="pull-right navbar-form navbar-login" action="{% url 'auth_login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" class="default" placeholder="{% trans "Login" %}">
        <input type="password" name="password" placeholder="{% trans "Password" %}">
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;">
    </form>
    <script>
        $(document).ready(function(){
            function init_login() {
                var jloginform = $('.navbar-login');
                jloginform.focus().select();
                if (!$.Storage.get('login-popover-shown')) {
                    jloginform.popover({
                            placement: 'bottom',
                            offset: 9,
                            trigger: 'manual',
                            title: "{% trans "You may log in here!" %}",
                            {% url 'user_registration' as registration_url %}
                            content: "{% blocktrans %}<p>Use this box to quickly log in without even using your mouse. If you don't have an account, feel free to <a href='{{ registration_url }}'>register</a>.</p><p><small>Click to dismiss.</small></p>{% endblocktrans %}",
                            html: 'html'
                        }).each(function(index, elem) {
                            var popover = $(elem).data('popover');
                            popover.show();
                            $(document).click(function() {
                                popover.hide();
                                $.Storage.set('login-popover-shown', 'yes');
                                jloginform.focus();
                                return true;
                            });
                        });
                }
            }
            // Wait a moment to let browser autocompletion kick in.
            setTimeout(init_login, 500);
        });
    </script>
{% endblock %}

