{% load menu check_perm i18n all_with_prefix simple_filters simple_tags %}

<a href="#" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">{% trans "Toggle navigation" %}</span>
    <i class="fa-solid fa-bars"></i>
</a>
<div class="dropdown-menu">
    {% all_with_prefix extra_menu_top_ %}

    {% if side_menus|length > 1 %}
        {% for registry in side_menus %}
            {% generate_menu registry %}
            <h5 class="dropdown-header">{{ registry.text }}</h5>
            {% for item in menu %}
                <a class="dropdown-item {% active_url item.url %}" href="{{ item.url }}" {{ item.attrs }}>
                    {% if item.has_icon and menu_icons %}
                        {{ menu_icons|cyclic_lookup:forloop.counter0 }}
                    {% endif %}
                    {{ item.text }}
                </a>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% generate_menu side_menus|first %}
        {% for item in menu %}
            <a id="{{ item.name }}" class="dropdown-item {% active_url item.url %}" href="{{ item.url }}" {{ item.attrs }}>
                {% if menu_icons %}
                    {{ menu_icons|cyclic_lookup:forloop.counter0 }}
                {% endif %}
                {{ item.text }}
            </a>
        {% endfor %}
    {% endif %}
    {% all_with_prefix extra_menu_bottom_ %}
</div>
