{% load i18n menu get_su get_user_info_form get_maintenance_state %}

{% if user.is_anonymous %}

<script>
function setFocusToLoginInput(){
    // setTimeout used to run the focus command when the element is visible.
    // Now the dropdown didn't open yet, but after the event queue is emptied
    // and setTimeout is ran, it will be.
    window.setTimeout(function ()
    {
        document.getElementById('navbar-login-input').focus();
    }, 0);
}
</script>

    <div class="dropdown">
        <a href="#" id="navbar-username" class="dropdown-toggle" data-toggle="dropdown" role="button" onclick="setFocusToLoginInput()"
           aria-expanded="false">
            <i class="fa-solid fa-user"></i>
            <span class="username"> {% trans "Log in" %}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <form id="navbar-login" class="navbar-login p-3" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <input name="login_view-current_step" type="hidden" value="auth">
                <div class="form-group">
                    <input id="navbar-login-input" type="text" name="auth-username" class="form-control" placeholder="{% trans "Login" %}" tabindex="-1">
                </div>
                <div class="form-group">
                    <input type="password" name="auth-password" class="form-control" placeholder="{% trans "Password" %}">
                </div>
                <div class="form-row">
                    <div class="col"><button type="submit" class="btn btn-primary btn-block">{% trans "Log in" %}</button></div>
                    <div class="col"><a role="button" class="btn btn-outline-secondary btn-block" href="{% url 'registration_register' %}">{% trans "Sign up" %}</a></div>
                </div>
            </form>
        </div>
    </div>
{% else %}
    <div class="dropdown">
        <a href="#" id="navbar-username" class="dropdown-toggle {% if avatar %}has-avatar{% endif %}"
           data-toggle="dropdown" role="button" aria-expanded="false">
            {% is_maintenance_enabled as enabled %}
            {% if user.is_superuser and enabled %}
                <span id="maintenance-label" class="badge badge-warning"
                        data-toggle="tooltip" data-placement="bottom" title="{% trans "Maintenance Mode is ON" %}">
                    <i class="badge-short fa-solid fa-gear"></i>
                    <span class="badge-full">{% trans "Maintenance Mode is ON" %}</span>
                </span>
            {% endif %}
            {% if avatar %}
                <img src="{{ avatar }}" alt="avatar" class="navbar-avatar">
            {% else %}
                <i class="fa-solid fa-user"></i>
            {% endif %}
            <strong class="username" id="username">{{ user.username }}</strong>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            {% generate_menu 'oioioi.base.menu.account_menu_registry' %}
            {% for item in menu %}
                <a class="dropdown-item" href="{{ item.url }}" {{ item.attrs }}>{{ item.text }}</a>
            {% endfor %}

            {% su_dropdown_form %}
            {% user_info_dropdown_form %}
        </div>
    </div>
{% endif %}
