{% load i18n %}

{% if contest %}
    {% if contest_exclusive %}
        <a href="#">{{ contest.name }}</a>
    {% else %}
        <div class="dropdown {% if not user.is_anonymous and recent_contests and contest != recent_contests.0 %}open{% endif %}">
            <a href="#" class="contest-picker dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="contest-name">{{ contest.name }}</div> <div class="caret"></div>
            </a>
            <div class="dropdown-menu">
                {% if recent_contests %}
                    {% for contest in recent_contests %}
                        <a class="dropdown-item" href="{% url 'default_contest_view' contest_id=contest.id %}">{{ contest.name }}</a>
                    {% endfor %}
                    <a class="dropdown-item" href="{% url 'select_contest' %}">{% trans "Other..." %}</a>
                {% else %}
                    <a class="dropdown-item" href="{% url 'select_contest' %}">{% trans "Switch contest" %}</a>
                {% endif %}

                {% if user.is_superuser %}
                    {% if recent_contests %}
                        <div role="separator" class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'oioioiadmin:contests_contest_add' %}">{% trans "Create a new contest" %}</a>
                {% endif %}

                {% if is_problemset_link_visible %}
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'problemset_main' %}">{% trans "Problemset" %}</a>
                    <a class="dropdown-item" href="{% url 'task_archive' %}">{% trans "Task archive" %}</a>
                {% endif %}
                {% if portals_main_page_link_visible  %}
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'portals_main_page' %}">{% trans "Portals" %}</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% elif navbar_location %}
    <a href="#">{{ navbar_location }}</a>
{% endif %}
