{% load i18n check_perm all_with_prefix menu get_clocks get_su %}

<div id="main-navbar" class="navbar navbar-fixed-top navbar-inverse {% if request.session.admin_time %} admin-time-set {% endif %}{% if is_under_su %} under-su{% endif %} {% block navbar-class %}{% endblock %}">
    <noscript><div class="js-disabled-info">{% trans "OIOIOI works properly only if javascript is enabled." %}</div></noscript>
    <div class="navbar-inner">
        <div class="{% block navbar-container-class %}container-fluid{% endblock %}">
            {% include "ingredients/navbar_branding.html" %}
            {% if contest %}
                {% if single_contest_mode %}
                <div class="contest nav">
                    <a href="{% url index %}" class="">
                        {{ contest.name }}
                    </a>
                </div>
                {% else %}
                    <ul class="nav">
                        {% if only_default_contest %}
                        <li><a href="#">{{ contest.name }}</a></li>
                        {% else %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ contest.name }}
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if recent_contests %}
                                {% for contest in recent_contests %}
                                <li><a href="{% url default_contest_view contest_id=contest.id %}">{{ contest.name }}</a></li>
                                {% endfor %}
                                <li><a href="{% url select_contest %}">{% trans "Other..." %}</a></li>
                            {% else %}
                            <li><a href="{% url select_contest %}">{% trans "Switch contest" %}</a></li>
                            {% endif %}

                            {% if user.is_superuser %}
                            {% if recent_contests %}<li class="divider"></li>{% endif %}
                            <li><a href="{% url oioioiadmin:contests_contest_add %}">{% trans "Create a new contest" %}</a></li>
                            {% endif %}
                        </ul>
                        </li>
                        {% endif %}
                    </ul>
                {% endif %}
            {% endif %}

            <ul class="nav pull-left">
                {% all_with_prefix extra_navbar_left_ %}
                {% block navbar-left-extras %}{% endblock %}
                {% navbar_countdown %}
            </ul>

            {% include "ingredients/language_picker_pro.html" %}

            <ul class="nav pull-right">
                {% all_with_prefix extra_navbar_right_ %}
                {% block navbar-right-extras %}{% endblock %}
                {% if real_user.is_superuser %}
                {% navbar_admin_clock %}
                {% else %}
                {% navbar_clock %}
                {% endif %}
                {% block navbar_user_panel %}
                {% if user.is_anonymous %}
                <li>
                    <a href="{% url auth_login %}" id="login_link" data-keyboard="true" data-backdrop="true" data-controls-modal="login_form">
                        <strong>{% trans "Log in" %}</strong>
                    </a>
                </li>
                <li>
                    <a href="{% url registration_register %}">{% trans "Register" %}</a>
                </li>
                {% else %}
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% if real_user.is_superuser %}
                        <span id="su-label" class="label label-inverse"{% if not is_under_su %} style="display: none"{% endif %}>{% trans "Switched user" %}</span>
                    {% endif %}
                    <strong id="username">{{ user.username }}</strong>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% generate_menu 'oioioi.base.menu.account_menu_registry' %}
                    {% for item in menu %}
                    <li><a href="{{ item.url }}" {{ item.attrs }}>{{ item.text }}</a></li>
                    {% endfor %}

                    {% su_dropdown_form %}
                </ul>

                </li>
                {% endif %}
                {% endblock %}

            </ul>
        </div>
    </div>
</div>
