<div class="modal fade" id="termsAndConditionsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Klauzula zgodna z art. 13 RODO</h4>
            </div>
            <div class="modal-body">
                <p>Zgodnie z art. 13 ust. 1 i 2 rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679  z dnia  27 kwietnia  2016  r. w  sprawie  ochrony  osób  fizycznych  w  związku   z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych) (Dz. Urz. UE L 119 z 04.05.2016, str. 1), dalej „RODO”, informuję, że:<br>
                - administratorem Pani/Pana danych osobowych jest Stowarzyszenie Talent Al. Zwycięstwa 96/98 , 81-451 Gdynia. Kontakt z inspektorem ochrony danych osobowych: e-mail: <a href="mailto:inspektor@talent.edu.pl">inspektor@talent.edu.pl</a> Pani/Pana dane osobowe przetwarzane będą na podstawie art. 6 ust. 1 lit. a RODO w celu związanym z realizacją Olimpiady Informatycznej Gimnazjalistów/Młodzieżowej Olimpiady Informatycznej.<br>
                - odbiorcami Pani/Pana danych osobowych będą osoby lub podmioty, którym udostępniona zostanie dokumentacja konkursowa oraz realizacyjna na podstawie zapytania w ramach tzw. Informacji publicznej, a także pracownicy Ministerstwa Edukacji Narodowej oraz inne osoby zaangażowane w prace konkursowe i projektowe.<br>
                - Pani/Pana dane osobowe będą przechowywane, przez okres 6 lat licząc od dnia zakończenia projektu,<br>
                - obowiązek podania przez Panią/Pana danych osobowych bezpośrednio Pani/Pana dotyczących jest związany z realizacją projektu Olimpiady Informatycznej Gimnazjalistów/Młodzieżowej Olimpiady Informatycznej,<br>
                - w odniesieniu do Pani/Pana danych osobowych decyzje nie będą podejmowane w sposób zautomatyzowany, stosowanie do art. 22 RODO,<br>
                -  posiada Pani/Pan:<br>
                −    na podstawie art. 15 RODO prawo dostępu do danych osobowych Pani/Pana dotyczących,<br>
                −    na podstawie art. 16 RODO prawo do sprostowania Pani/Pana danych osobowych,<br>
                −    na podstawie art. 18 RODO prawo żądania od administratora ograniczenia przetwarzania danych osobowych z zastrzeżeniem przypadków, o których mowa w art. 18 ust. 2 RODO,<br>
                −    prawo do wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, gdy uzna Pani/Pan, że przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy RODO,<br>
                - nie przysługuje Pani/Panu:<br>
                −    w związku z art. 17 ust. 3 lit. b, d lub e RODO prawo do usunięcia danych osobowych,<br>
                −    prawo do przenoszenia danych osobowych, o którym mowa w art. 20 RODO,<br>
                −    na podstawie art. 21 RODO prawo sprzeciwu, wobec przetwarzania danych osobowych, gdyż podstawą prawną przetwarzania Pani/Pana danych osobowych jest art. 6 ust. 1 lit. a RODO.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
