version: '3.8'
services:
  db:
    image: library/postgres:12.2
    environment:
      POSTGRES_USER: "oioioi"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "oioioi"
    volumes:
      - postgress-data-dev:/var/lib/postgresql/data
    stop_grace_period: 1m
  web:
    image: sio2project/oioioi-dev
    command: ["/sio2/oioioi/scripts/oioioi-init.sh"]
    build:
      context: .
      dockerfile: Dockerfile
      target: development
      args:
        - "OIOIOI_UID=${OIOIOI_UID}"
    environment:
      DEBUG: "True"
      DATABASE_HOST: "db"
      DATABASE_PORT: "5432"
      DATABASE_NAME: "oioioi"
      DATABASE_USER: "oioioi"
      DATABASE_PASSWORD: "password"
      RABBITMQ_HOST: "broker"
      RABBITMQ_PORT: "5672"
      RABBITMQ_USER: "oioioi"
      RABBITMQ_PASSWORD: "oioioi"
      FILETRACKER_URL: "http://web:9999"
      SIOWORKERS_LISTEN_URL: "http://web:7890"
      ENABLE_SANDBOXED_COMPILERS: "True"
      USE_UNSAFE_CHECKER: "True"
    ports:
      - "8000:8000"
    volumes:
      - .:/sio2/oioioi
      - oioioi-media-dev:/sio2/deployment/media
    stop_grace_period: 3m
    depends_on:
      - db
      - broker
  worker:
    image: sio2project/sioworkers
    stop_grace_period: 1m
    cap_add:
      - ALL
    privileged: true
    depends_on:
      - db
  broker:
    image: library/rabbitmq:3.8
    environment:
      RABBITMQ_DEFAULT_USER: oioioi
      RABBITMQ_DEFAULT_PASS: oioioi
    stop_grace_period: 1m
volumes:
  postgress-data-dev:
  oioioi-media-dev:
