version: '3.8'
services:
  db:
    image: library/postgres:15.1
    env_file: env
    volumes:
      - postgress-data:/var/lib/postgresql/data
    stop_grace_period: 1m
  web:
    image: $OIOIOI_VERSION
    command: ["/sio2/oioioi/oioioi_init.sh"]
    env_file: env
    environment:
      - DOMAIN_URL
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - "oioioi_uid=${OIOIOI_UID}"
          #      extra_hosts:
          #- "web:127.0.0.1"
    ports:
    # web server
      - "8000:8000"
    # notifications server
      - "7887:7887"
    volumes:
      - ./basic_settings_dev.py:/sio2/deployment/basic_settings.py
      - .:/sio2/oioioi
      - filetracker:/sio2/deployment/media
#      - ./deployment:/sio2/deployment
    stop_grace_period: 3m
    security_opt:
      - seccomp:./extra/docker/seccomp.json
      - apparmor:unconfined
    cap_add:
      - ALL
    depends_on:
      - db
      - broker
  worker:
    image: $OIOIOI_VERSION
    command: ["/sio2/oioioi/worker_init.sh"]
    environment:
      WORKER_CONCURRENCY: ${OIOIOI_CONCURRENCY}
      WORKER_RAM_MB: ${OIOIOI_RAM}
    stop_grace_period: 1m
    #volumes:
    #  - /src/sioworkers/sio:/home/oioioi/.local/lib/python3.7/site-packages/sio
    security_opt:
      - seccomp:./extra/docker/seccomp.json
      - apparmor:unconfined
    cap_add:
      - ALL
    depends_on:
      - db
  broker:
    image: library/rabbitmq:3.8
    volumes:
      - ./extra/docker/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    environment:
      RABBITMQ_LOGS:
      RABBITMQ_SASL_LOGS:
    stop_grace_period: 1m
volumes:
  postgress-data:
  filetracker:
