{% load i18n %}
{% load pagination_tags %}
{% autopaginate submissions submissions_on_page %}
{% paginate %}
<h4>{% blocktrans %}Users who shared code with you:{% endblocktrans %}</h4>
<table class="table auto-width dense space-columns submissions_list">
    <thead>
        <tr>
            <th style="min-width: 150px">{% trans "User" %}</th>
            <th style="min-width: 150px">{% trans "Submission time" %}</th>
            <th style="min-width: 60px">{% trans "Score" %}</th>
        </tr>
    </thead>
    {% for submission in submissions %}
        <tr>
            <td>
                <a href="{% url 'show_submission_source' contest_id=submission.problem_instance.contest.id submission_id=submission.id %}">{{ submission.user }}</a><br />
            </td>
            <td>{{ submission.date }}</td>
            <td>{{ submission.get_score_display|default_if_none:'' }}</td>
        </tr>
    {% endfor %}
</table>
{% paginate %}
