@import "scss/utility";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/utilities";

.round {
  &__header {
    margin-bottom: 20px;
  }

  &__name {
    display: inline-block;
    margin-right: 5px;
  }

  &__menu {
    display: inline-block;
  }

  &__problems {
    @include make-row;
  }

  &__info {
    @extend .text-muted;
  }
}
