{% extends "simple-centered.html" %}

{% load i18n %}

{% block content %}
<div class="text-center">
    <h1>405</h1>
    <p class="django-http-error-message">
        {% blocktrans %}
            Sorry, but this method is not allowed.
        {% endblocktrans %}
    </p>
    <p>{% blocktrans %}You can try again using {{ allowed }}.{% endblocktrans %}</p>
    <p><small>{% trans "In other words, you probably typed URL directly to the browser. Instead of this, use proper link from the website." %}</small></p>
</div>
{% endblock %}
