{% extends "base.html" %}

{% block body-class %}body-with-menu{% endblock %}
{% block container-class %}container-fluid{% endblock %}

{% block body %}
<div class="{% block row-class %}row-fluid{% endblock %} top-row">
    <div id="menu_div" class="span3">
        {% block menu %}
        {% include "ingredients/menu.html" %}
        {% endblock %}
    </div>
    <div class="{% block main_content_style %}span9{% endblock %} span-fixed-sidebar main-content">
        {% include "ingredients/flash.html" %}
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% include "ingredients/footer_sidebar.html" %}
{% endblock %}
