<!DOCTYPE html>

{% load i18n all_with_prefix common_media compress simple_tags get_clocks get_su %}
{% site_displayed_tag %}

<html lang="{{ LANGUAGE_CODE|default:"en" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    <head>
    {% block head %}
        <title>{% block title %}{% trans "Main page" %}{% endblock %} - {{ site_name }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include "ingredients/head-favicon.html" %}

        {% comment %}
        Load jQuery because inlined scripts in some views depends on it.
        Some scripts depends on events triggered by views so they also must be includede here.
        {% endcomment %}
        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
            <script src="{{ STATIC_URL }}fontawesomefree/js/all.min.js"></script>
            {% common_scripts %}
        {% endcompress %}

        {% block styles %}
            {% compress css %}
                <link charset="utf-8" rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}scss/style.scss">
                <link href="{{ STATIC_URL }}fontawesomefree/css/all.min.css" rel="stylesheet" type="text/css">
                {% common_styles %}
            {% endcompress %}
        {% endblock %}

        {% block adminhead %}{% endblock %}
        {% all_with_prefix extra_head_ %}

        {% block extrahead %}{% endblock %}
    {% endblock %}
    </head>
    <body class="{% block body-class %}{% endblock %}">
        <div class="wrapper">
            {# We cannot move it into seperate file, because blocks has be overriden by extending this template #}
            <header id="oioioi-navbar" class="oioioi-navbar d-print-none
            {% if request.session.admin_time %} oioioi-navbar--admin-time {% endif %}
            {% if is_under_su %} oioioi-navbar--admin-su {% endif %} {% block navbar-class %}{% endblock %}">

                {% block navbar-logo %}
                    {% include "ingredients/navbar-logo.html" with always_visible=True %}
                {% endblock %}

                <div class="oioioi-navbar__contests">
                    {% include "ingredients/navbar-contests.html" %}
                </div>

                {% block left-navbar %}
                    {% include "ingredients/navbar-left.html" %}
                {% endblock %}

                <div class="oioioi-navbar__extra">
                    {% all_with_prefix extra_navbar_left_ %}
                    {% block navbar-left-extras %}{% endblock %}
                </div>

                <div class="oioioi-navbar__flex"></div>

                <div class="oioioi-navbar__countdown">
                    {% block countdown-clock %}
                        {% navbar_countdown %}
                    {% endblock countdown-clock %}
                </div>

                <div class="oioioi-navbar__flex"></div>

                <div class="oioioi-navbar__extra">
                    {% all_with_prefix extra_navbar_right_ %}
                    {% block navbar-right-extras %}{% endblock %}
                    {% if real_user.is_superuser %}
                        {% navbar_admin_clock %}
                    {% else %}
                        {% navbar_clock %}
                    {% endif %}
                </div>

                <div class="oioioi-navbar__lang">
                    {% block navbar_language_selector %}
                        {% include 'ingredients/language-picker.html' %}
                    {% endblock %}
                </div>

                <div class="oioioi-navbar__user-su">
                    {% block navbar_user_su_panel %}
                        {% include "ingredients/navbar-user-su.html" %}
                    {% endblock %}
                </div>
                <div class="oioioi-navbar__user">
                    {% block navbar_user_panel %}
                        {% include "ingredients/navbar-user.html" %}
                    {% endblock %}
                </div>
            </header>

            <div class="{% block container-class %}container-fluid{% endblock %} body">
                {% all_with_prefix extra_body_ %}
                {% block body %}
                {% endblock %}
            </div>

            {% block footer %}
                {% comment %}
                    Please make sure that the footer is visible. We are glad that
                    you are using SIO2 and we simply want the other people to learn
                    about this system, too. Thank you.
                {% endcomment %}
                {% include "ingredients/footer.html" %}
            {% endblock %}
        </div>
        {% block scripts %}
            <script type="text/javascript">const oioioi_base_url = "{{ base_url|escapejs }}";</script>
            <script type="text/javascript" src="{% url 'javascript_catalog' %}"></script>
            {% compress js %}
                <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.bundle.min.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/csrf_link_protect.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/language-picker.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.storageapi.min.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-table-responsive-dropdown-fix.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-async-collapsible.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}js/menu.js"></script>
                <script type="text/javascript">
                    $(function () {
                        $("[data-toggle='tooltip']").tooltip();
                    });
                </script>
                <script>hljs.initHighlightingOnLoad();</script>
                <script type="text/javascript" src="{{ STATIC_URL }}common/clipboard.min.js"></script>
                <script type="text/javascript" src="{{ STATIC_URL }}common/clipboard-setup.js"></script>
            {% endcompress %}
            <script type="text/javascript" async
                    src="{{ mathjax_location }}MathJax.js?config=TeX-AMS-MML_HTMLorMML">
            </script>
       {% endblock %}
    </body>
</html>
