{% load i18n humanize %}

<article>
    <header>
        <h2>{{ news.title }}</h2>
    </header>
    <footer>
        <em>{% trans "Added" %} <time datetime="{{ news.date }}">{{ news.date | naturaltime }}</time></em>
    </footer>
    <section>
        <p>{{ news.rendered_content }}</p>
    </section>

    {% if request.user.is_superuser %}
        <footer>
            <div class="btn-group">
                <a role="button" class="btn btn-default" href="{% url 'edit_news' news.id %}">{% trans "Edit" %}</a>
                <a role="button" class="btn btn-danger" href="{% url 'delete_news' news.id %}"
                onclick="return confirm('{% trans "Are you sure you want to delete" %} \'{{ news.title }}\'?')">
                {% trans "Delete" %}
               </a>
            </div>
        </footer>
     {% endif %}
</article>