{% load i18n %}
{% load pagination_tags %}
{% load get_user_name %}

{% if rows %}
<div class="paginated-list">
{% autopaginate rows participants_on_page %}
{% paginate %}
<table class="{% block table-classes %}ranking table auto-width dense{% endblock %}">
    <thead>
        <tr>
            <th style="min-width: 50px" class="text-right">#</th>
            <th style="min-width: 120px">{% trans "User" %}</th>
            {% for pi in problem_instances %}
            <th style="min-width: 40px" class="text-right{% if pi.round.is_trial %} trial-round{% endif %}" >{{ pi.get_short_name_display }}</th>
            {% endfor %}
            <th style="min-width: 50px" class="text-right">{% trans "Sum" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td class="text-right">{{ row.place }}</td>
            <td>{% public_name row.user %}</td>
            {% for result in row.results %}
            <td class="text-right{% if result.problem_instance.round.is_trial %} trial-round{% endif %}" >
                {% if result.url %}
                    <a class="result_url" href="{{ result.url }}">
                {% endif %}
                    {{ result.score|default_if_none:'' }}
                {% if result.url %}
                    </a>
                {% endif %}
            </td>
            {% endfor %}
            <td class="text-right">{{ row.sum }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% paginate %}
</div>
{% else %}
<div class="empty-space-filler">
    {% blocktrans %}Strange, there is no one in this ranking...{% endblocktrans %}
</div>
{% endif %}
