{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Extend round for participants" %}{% endblock %}

{% block content %}
<h2>{% trans "Extend round for participants" %}</h2>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <input type="hidden" name="action" value="extend_round" />
    <div class="form-actions">
        <input type="submit" name="submit" class="btn btn-primary" value="{% trans "Extend" %}" />
    </div>
</form>
{% endblock %}
