{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Extend round for participants" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Extend round for participants" %}</h1>
<form method="post">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <input type="hidden" name="action" value="extend_round" />
    <div class="mb-3">
        <button type="submit" name="submit" class="btn btn-primary">
            {% trans "Extend" %}
        </button>
    </div>
</form>
{% endblock %}
