{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Complaints" %}{% endblock %}

{% block content %}
<h1>{% trans "Complaint form" %}</h1>

<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    <fieldset>
        <div class="controls">
            {% blocktrans %}<p>Please write your complaint in the box. Specify as
            many details, as possible.<br /> This increases the chances that the complaint
            will actually be accepted as valid.</p>{% endblocktrans %}
        </div>

        {% include "ingredients/form.html" %}
    </fieldset>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary"
            value="{% trans "Make a complaint" %}" />
    </div>
</form>

{% endblock %}
