{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Make complaint" %} - {% trans "Complaints" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Complaint form" %}</h1>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {% blocktrans %}<p>Please write your complaint in the box. Specify as
        many details, as possible.<br> This increases the chances that the complaint
        will actually be accepted as valid.</p>{% endblocktrans %}
    </div>
    {% include "ingredients/form.html" %}
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            {% trans "Make a complaint" %}
        </button>
    </div>
</form>

{% endblock %}
