{% extends "base-with-menu.html" %}
{% load i18n static %}
{% block title %}{% trans "Submitting solutions from terminal" %}{% endblock %}

{% block main-content %}
{% url "submitservice_clear_user_token" contest_id=contest.id as clear_token_url %}
{% static "submitservice/submit.py" as script_url %}
{% blocktrans %}
<h1>Submitting solutions from terminal</h1>
<p>You can submit your solutions in text mode, which makes it easier to test your solutions.
    Follow steps below to prepare your environment:</p>
<ul>
    <li>Install <b>Python 2.7</b> language interpreter.</li>
    <li>Download the <code><a href="{{ script_url }}">submit.py</a></code> program
            and put it in the same directory where you store your solution file.</li>
    <li>Execute command: <kbd>python submit.py -u {{ contest_url }} -k {{ token }} -s</kbd><br/>
        This command permanently saves your configuration. It is stored in user's home folder.
    </li>
    <li>To send the solution, execute command: <kbd>python submit.py (file-name)</kbd><br/>

        Make sure that solution file name starts with the 3-character task code (e.g. solution file for task
        <em>Subsequence (sub)</em> should be called <b>sub.<i>ext</i></b> &mdash; where <i>ext</i> is one of supported extensions.
        Optionally, it may come with a
        postfix like <b>sub1</b> &mdash; appropriate task will be automatically selected)</li>
    <li>Alternatively, you can specify filename manually by calling <kbd>python submit.py -t task any_filename.<i>ext</i></kbd>
    </li>
    <li>Run <kbd>python submit.py --help</kbd> for a complete list of options and usage details.</li>
</ul>
<h2>Authentication Token</h2>
<p class="d-flex flex-row align-items-center flex-wrap">Your current token is: <input type="text" class="form-control" title="token" disabled value="{{ token }}"/></p>
<div class="alert alert-danger"><b>Warning:</b> you should be the only person that holds access to this code, as it authorizes users to submit solutions in your name.
     If you suspect that someone might know your token, get a new one now. Of course, you will need to reconfigure <code>submit.py</code>.</div>
<button class="btn btn-outline-secondary" data-post-url="{{ clear_token_url }} ">Generate new token</button>

{% endblocktrans %}
{% endblock %}
