{% extends "base.html" %}
{% load i18n %}

{% block navbar %}
{% include "navbar-with-login-box.html" %}
{% endblock %}

{% block body %}
<div class="top-row">
    {% include "ingredients/flash.html" %}
    <img src="{{ STATIC_URL }}images/frontpage/oi-logo.png" id="frontpage-logo" />
    <div id="info-regi">
        <h1>{{ current_contest }}</h1>
        <div id="regi">
             <a href="{% url registration_register %}"
                 id="register-button">{% trans "Register!" %}</a>
        </div>
    </div>
    <div style="clear:both;"/>
</div>
{% endblock %}
