@import "scss/navbar";

.forum-hidden-notice {
  font-weight: bold;
  color: gray;
}

.forum-card-footer {
  font-size: small;
  color: gray;
}

// Workaround for anchors hiding below nav-bar.
.anchor-jump-fix {
  margin-top: -$oioioi-navbar-height;
  margin-bottom: $oioioi-navbar-height;
}

.reaction-list {
  display: none;
}

.reaction-symbol:hover + .reaction-list {
  display: inline;
}