@import "scss/utility";
@import "scss/style";

$list-grid-column-min-width: 70px !default;
$list-grid-column-count: 5 !default;
$list-subheader-bgcolor: #eee !default;

.table .report-group-score {
  vertical-align: middle;
  text-align: right;
}

.table td, .table th{
  vertical-align: middle !important;
}

.list-grid {
    columns: $list-grid-column-min-width $list-grid-column-count;
}

.table-sm .padded-collapsing-content {
  > * {
    padding: 0;
  }

  .collapsing, .in {
    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
  }
}

.form-list-unstyled {
  ul {
    @extend .list-unstyled;
  }
}

table.table-striped > tbody > tr.problemlist-subheader {
    background-color: $list-subheader-bgcolor;
}

.centered-title {
    margin: 3rem;
    margin-bottom: 4rem;
}
