{% extends "base.html" %}

{% load i18n static contest_selection newsfeed %}
{% get_current_language as LANGUAGE_CODE %}

{# disables the clock on the main page #}
{% block countdown-clock %}{% endblock countdown-clock %}

{% block container-class %}
    {% if user.is_authenticated %}szkopul-dashboard__container{% else %}container{% endif %}
{% endblock %}

{% block body %}
    {% block content %}
        {% if user.is_authenticated %}

            <div>
                <p><h1>{% trans "Welcome back! Let's write some code." %}</h1></p>
            </div>

            <div class="dashboard-container">

                <div class="row dashboard-row d-none d-lg-flex">
                    <div class="dashboard-panel col-lg-8">
                        {% include "ingredients/submissions-panel.html" %}
                    </div>

                    <div class="dashboard-panel col-lg-4">
                        {% include "ingredients/contests-panel.html" %}
                    </div>
                </div>

                <div class="row dashboard-row d-lg-none">
                    <div class="dashboard-panel col-sm-10 mb-3">
                        {% include "ingredients/submissions-panel.html" %}
                    </div>
                </div>

                <div class="row dashboard-row d-lg-none">
                    <div class="dashboard-panel col-sm-10">
                        {% include "ingredients/contests-panel.html" %}
                    </div>
                </div>

            </div>
            <div>
                {% include "ingredients/main-page-bottom.html" %}
            </div>
        {% else %}
            <div class="row content-row">
                <img class="szkopul-logo" src="{% static "szkopul/szkopul-logo-5.svg" %}"
                     alt="SZKOpuł">
            </div>
            <div class="row content-row">
                <div class="col-lg-10">
                    <h2>{% trans "Welcome!" %}</h2>
                    <p class="welcome-msg">
                        {% blocktrans trimmed %}
                            Welcome to Szkopuł - a place for solving algorithmic challenges!<br>
                            In order to submit solutions and register for contests you need to
                            <a href="register">make an account</a>.
                        {% endblocktrans %}
                    </p>

                    {% include "ingredients/main-page-bottom.html" %}

                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
