<div class="table-responsive">
    <table class="{% block table-classes %}table table-condensed submission{% endblock %}">
        <tbody>
            {% for record in submissions %}
                <tr>
                    {% if can_admin %}
                        <td id="submission{{ record.submission.id }}-icon">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </td>
                    {% endif %}
                    <td><a href="{{ record.link }}">
                        {{ record.submission.get_date_display }}
                    </a></td>
                    {% if not inside_problem_view %}
                        <td id="submission{{ record.submission.id }}-problem-instance" class="col-md-4">
                            {{ record.submission.problem_instance }}
                        </td>
                    {% endif %}
                    <td id="submission{{ record.submission.id }}-kind">
                        {{ record.submission.get_kind_display }}
                    </td>
                    <td id="submission{{ record.submission.id }}-status"
                        class="{% if record.can_see_status %}submission--{{ record.display_type }} {% endif %}">
                        {% if record.can_see_status %}
                            {{ record.message }}
                        {% endif %}
                    </td>
                    {% if show_scores %}
                        <td id="submission{{ record.submission.id }}-score">
                            {% if record.can_see_score %}
                                {{ record.submission.get_score_display|default_if_none:'' }}
                            {% endif %}
                        </td>
                    {% endif %}
                    {% block more-columns-after %}{% endblock %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>