#timeline-wrapper {
    border: none;
    margin: 30px 0 0 8px;
    border-left: 8px solid #006dcc;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding-left: 8px;
}

#timeline {
    width: 100%;
    height: 700px;
    margin-top: 8px;
    border: none;
    position: relative;
}

#now-bar {
    width: 100%;
    left: -50px;
    display: inline-block;
    border-bottom: 3px dotted #9ECFFF;
    position: absolute;
}

.separator {
    left: -50px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    position: absolute;
}

.datebox {
    z-index: 1;
    margin-bottom: 0;
    height: 30px;
    min-width: 450px;
    position: absolute;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: default;
}

.datebox > .inline {
    line-height: 30px;
    height: 30px;
    margin-left: 8px;
    color: #ffffff;
    margin-bottom: 0;
}

input.date-changed {
    background-color: rgb(249, 255, 208);
}

.date > input {
    width: auto;
}

.date-title {
    white-space: nowrap;
}

.group-delete-btn {
    float: right;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
}

.datebox > .group-delete-btn {
    display: none;
}

.datebox-group > .group-delete-btn {
    display: block;
}

.datebox-group {
    min-width: 500px;
    width: auto;
}

.round-group {
    width: 30px;
    height: 700px;
    background: lightgray;
    position: absolute;
    cursor: pointer;
}

.round-label {
    top: -150px;
    left: -40px;
    width: 350px;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.round-bar {
    left: 1px;
    width: 28px;
    height: 40px;
    background: blue;
    position: absolute;
}

.dim {
    opacity: 0.1;
}

.connector {
    width: 2px;
    height: 2px;
    background: gray;
    position: absolute;
    z-index: 2;
    cursor: default;
}

.connector-event {
    width: 30px;
    height: 4px;
    background: red;
    z-index: 3;
}

.btn-reset, .btn-hint {
    margin-right: 20px;
}

.no-text-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
