{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Add school" %}{% endblock %}

{% block content %}
<h1>{% trans "Add a school" %}</h1>
<form id="add-school-form" class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <fieldset>
        <div class="controls">
            {% blocktrans %}<p>Please provide the official name of the school, as well as contact details.</p>{% endblocktrans %}
        </div>

        {% include "ingredients/form.html" %}
    </fieldset>
    <div class="form-actions">
        <button id="add-school-button" type="submit" class="btn btn-primary"  data-loading-text="{% trans "Please, wait a while..." %}">{% trans "Add it" %}</button>
        <script type="text/javascript">
            $(document).ready(function() {
                var bind_form_validation = function() {
                    $('#add-school-form').one('submit', function() {
                        var form = this;
                        $('#add-school-button').button('loading');
                        $('.schools-similar-list').load(
                            '{% url 'schools_similar' %}',
                            $('#add-school-form').serializeArray(),
                            function(data) {
                                $('#add-school-button').button('reset');
                                if (data) {
                                    $('#confirm-modal').modal('show');
                                } else {
                                    form.submit();
                                }
                            }
                        );
                        return false;
                    });
                };

                $('#confirm-modal').on('hide', function() {
                    bind_form_validation();
                });
                bind_form_validation();
            });
        </script>
    </div>

    <!-- Modal -->
    <div id="confirm-modal" class="modal hide fade" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="confirm-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="confirm-modal-label">{% trans "Confirm" %}</h3>
        </div>
        <div class="modal-body schools-similar-list"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "No, go back" %}</button>
            <input type="submit" class="btn btn-primary" value="{% trans "Yes, I'm sure. Add that school." %}">
        </div>
    </div>

</form>

{% endblock %}
