{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Add school" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Add a school" %}</h1>
<p>{% trans "Please provide the official name of the school, as well as contact details." %}</p>
<form id="add-school-form" method="post">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <div class="form-group">
        <button id="add-school-button" type="submit" class="btn btn-primary"
            data-loading-text="{% trans "Please, wait a while..." %}">
            {% trans "Add it" %}
        </button>
        <script type="text/javascript">
            $(document).ready(function() {
                const bindFormValidation = function() {
                    $('#add-school-form').one('submit', function() {
                        const form = this;
                        $('#add-school-button').button('loading');
                        $('.schools-similar-list').load(
                            '{% url 'schools_similar' %}',
                            $('#add-school-form').serializeArray(),
                            function(data) {
                                $('#add-school-button').button('reset');
                                if (data) {
                                    $('#confirm-modal').modal('show');
                                } else {
                                    form.submit();
                                }
                            }
                        );
                        return false;
                    });
                };

                $('#confirm-modal').on('hide.bs.modal', function() {
                    bind_form_validation();
                });
                bind_form_validation();
            });
        </script>
    </div>

    <!-- Modal -->
    <div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">{% trans "Confirm" %}</h4>
                </div>
                <div class="modal-body schools-similar-list"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans "No, go back" %}</button>
                    <button type="submit" class="btn btn-primary">{% trans "Yes, I'm sure. Add that school." %}</button>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
