.admin-change-form {
  .form-row:last-child {
    border-bottom: none !important;
  }

  .col-label label {
    @extend .col-form-label;
  }

  tr.form-row:not(.empty-form) {
    display: contents;
  }

  .empty-form {
    display: none;
  }

  .vTextField, .vIntegerField, .vLargeTextField, select {
    @extend .form-control;
  }
 
  .vDateField, .vTimeField {
    @extend .form-control;
    max-width: 10rem;
    display: inline;
    margin-right: 0.5rem;
  }
}

#changelist-form {
  tr.selected {
    background-color: #ffc !important;
  }
}