@import "utility";
@import "_dark-mode-toggle";

$oioioi-footer-bg: #f5f5f5 !default;
$oioioi-footer-height: 60px !default;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: calc(#{$oioioi-footer-height} + #{$spacer});
}

.footer {
  @include absolute(auto, 0, 0, 0);
  @include centered-flex();
  background-color: $oioioi-footer-bg;
  height: $oioioi-footer-height;
  justify-content: center;
}

.footer-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
