$oioioi-table-narrow-max-width: map-get($grid-breakpoints, "md") !default;

.table--borderless > tbody > tr > td,
.table--borderless > tbody > tr > th,
.table--borderless > tfoot > tr > td,
.table--borderless > tfoot > tr > th,
.table--borderless > thead > tr > td,
.table--borderless > thead > tr > th {
    border: none;
}

.table--auto-width {
  width: auto;
}

.table--narrow {
  max-width: $oioioi-table-narrow-max-width;
}

@include media-breakpoint-down(md) {
  .table--narrow {
    max-width: none;
  }
}

.table-responsive thead th {
  white-space: nowrap;
}

// By default bootstrap's text-center centers only td.
.table--center {
  td, th {
    text-align: center;
  }
}

.well .table {
  margin-bottom: 0;
}
