@import "utility";

// Import Bootstrap
@import "../bootstrap/stylesheets/bootstrap";
@import "scss/bootstrap-fixes";

@import "scss/footer";
@import "scss/navbar";
@import "scss/table";
@import "scss/layout";
@import "scss/markdown-editor";
@import "scss/spinner";
@import "scss/language-picker";
@import "scss/translation-formset";

body {
  min-width: $oioioi-body-min-width;
}

form {
  max-width: $oioioi-form-max-width;
}

img {
  max-width: 100%;
}

.django-http-error-message {
  font-size: 24px;
  color: #777777;
}

.clickable {
  cursor: pointer;
}

.tag-label {
  line-height: 2.5em;
}