// Overwrite bootstrap property to disable navbar collapse
$grid-float-breakpoint: 0;

// Custom properties
$countdown-height: 5px;

// Min width
$oioioi-body-min-width: 320px;

// Max form width
$oioioi-form-max-width: 920px;