{% overextends 'problems/submit.html' %}
{% load gamification_widgets compress %}

{% block styles %}
{{ block.super }}
{% compress css %}
<link charset="utf-8" rel="stylesheet" type="text/less" href="{{ STATIC_URL }}gamification/less/exp_indicator.less">
{% endcompress %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}gamification/js/exp_indicator.js"></script>
<script type="text/javascript">
{% widget_constants as constants %}
var exp_info_url = "{% url 'user_problem_exp' problem.id %}";
var outer_radius = {{ constants.small_outer_radius }};
setupExpIndicator(exp_info_url, outer_radius);
</script>
{% endblock %}

{% block submit_btn %}
<div id="submit">
    {{ block.super }}
    <div class="exp-indic-container">
        <div class="exp-indicator animation-target">
            <div class="after animation-target">
                {% experience_widget_small request.user %}
            </div>
            <div class="arrow animation-target">&#x25c0</div>
            {% experience_widget_small request.user %}
        </div>
    </div>
</div>
{% endblock %}
