{% load i18n %}

<table class="problemTable">
    <thead>
        <tr>
            <th class="score"></th>
            <th class="problemName">{{ header }}</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td class="score">
                {% if problem.score_exists %}
                <a href="{{ problem.submission_url }}">{{ problem.score }}</a>
                {% endif %}
            </td>
            <td class="problemName"><a href="{{ problem.url }}">{{ problem.name }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
