[sio1db]
# MySQL db configuration
host = 172.31.0.4
user = sio1syncsio2
pass = passw0rd
name = sio

[sync]
# ID of contest in SIO1
sio1_contest = 20082
# ID of subcontest in SIO1
sio1_subcontest = 10117
# ID of contest in SIO2
sio2_contest = test2
# Name of round in SIO2
sio2_round = Round 2

# Time between two succesive syncs
wait_time = 10

[problems]
# Problems mapping: sio2_id = sio1_id
# sio2_id = ID of Problem in SIO2,
# sio1_id = ID of Problem in SIO1.
1 = 21845
2 = 21830

# Configuration for logger
[loggers]
keys=root,sio1sync

[handlers]
keys=consoleHandler

[formatters]
keys=simpleFormatter

[logger_root]
level=DEBUG
handlers=consoleHandler

[logger_sio1sync]
level=INFO
handlers=consoleHandler
qualname=sio1sync
propagate=0

[handler_consoleHandler]
class=StreamHandler
level=DEBUG
formatter=simpleFormatter
args=(sys.stdout,)

[formatter_simpleFormatter]
format=%(asctime)s - %(message)s
datefmt=
