{% load i18n %}
<div id="outdated-model" tabindex="-1" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "This page may be not up-to-date" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Close" %}">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% blocktrans %}
            <p>This page may present not up-to-date content or be misleading in other way. Refreshing it is strongly recommended.</p>
            <p>To close this popup, click <strong>Dismiss</strong> button. This will suppress further notifications.</p>
        {% endblocktrans %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{% trans "Dismiss" %}</button>
        <button type="button" class="btn btn-primary" onclick="location.reload(true);" aria-hidden="true">{% trans "Refresh" %}</button>
      </div>
    </div>
  </div>
</div>
