{% extends "simpleui/simpleui-base.html" %}
{% load i18n static compress %}

{% block title %}{% trans "Contest dashboard" %}{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link charset="utf-8" rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}simpleui/contest/contest.scss">
    {% endcompress %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'highcharts/lib/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'simpleui/contest/problem.js' %}"></script>
    <script type="text/javascript" src="{% static 'simpleui/contest/contest.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var contestData = {{ contest_data|safe }}
            new Contest(contestData);
        });
    </script>
{% endblock %}

{% block container-class %}simpleui__container{% endblock %}

{% block main-body %}
    <div class="contest">
        <header class="contest__header">
            <h1 class="inline-menu__name contest__name">{{ contest }}</h1>
            <nav class="inline-menu nav d-inline-flex">
                {% block contest-top-menu %}
                    <a class="nav-link" href="{% url 'problems_list' %}">{% trans "Problems" %}</a>
                    <a class="nav-link" href="{% url 'dashboard_message_edit' %}">{% trans "Edit dashboard message" %}</a>
                    <a class="nav-link" href="{% url 'default_ranking' %}">{% trans "Ranking" %}</a>
                    <a class="nav-link" href="{% url 'admin:contests_contest_change' contest.id %}">{% trans "Settings" %}</a>
                {% endblock %}
            </nav>
        </header>

        <section class="contest__rounds">
            <h2 class="inline-menu__name">{% trans "Rounds" %}</h2>
            <div class="inline-menu">
                <a href="{% url 'admin:contests_contest_change' contest.id %}">{% trans "Add a round" %}</a>
            </div>

            <section class="round">
                {% if selected_round %}
                    {% include "simpleui/contest/ingredients/round.html" with round=selected_round %}
                {% else %}
                    <p>{% trans "There are no rounds in this contest." %}</p>
                {% endif %}
            </section>

            <a href="{% url 'admin:contests_probleminstance_changelist' %}">{% trans "All problem settings" %}</a>
        </section>

        <section class="contest__submissions">
            <h2 class="inline-menu__name">{% trans "Submissions" %}</h2>
            <div class="inline-menu">
                <a href="{% url 'oioioiadmin:contests_submission_changelist' %}">{% trans "Show all" %}</a>
            </div>
            <div class="table-responsive-md">
                {% include "simpleui/contest/ingredients/submissions.html" %}
            </div>
        </section>

        <section class="contest__questions">
            <h2 class="inline-menu__name">{% trans "Questions and news" %}</h2>
            <div class="inline-menu">
                <a href="{% url 'contest_messages' %}">{% trans "Show all" %}</a>
            </div>
            <div class="table-responsive-md">
                {% include "simpleui/contest/ingredients/questions.html" %}
            </div>
        </section>
    </div>
{% endblock %}
