{% load i18n %}

<form method="post" style="max-width: initial;">
    {% csrf_token %}
    {% include "ingredients/translation-formset.html" %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
    </div>
</form>

{% include "ingredients/markdown-editor.html" %}
<script>
    new TranslationFormset({
        requiredFieldsSelector: '[id*="title"], [id*="content"]'
    });

    $(function () {
        $('textarea[id*="-content"]').markdown();
    });
</script>
