{% extends "base-with-menu.html" %}
{% load i18n pagination_tags %}

{% block title %}
    {% trans "Your User Groups" %}
{% endblock %}

{% block styles %}
{{ block.super }}
    <link charset="utf-8" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}usergroups/teacher_usergroups_list.css">
{% endblock %}

{% block main-content %}
<h1>
    {% trans "Your Groups" %}
</h1>

<p>
    {% trans "By grouping users in groups you can perform certain actions on all of them at the same time, e.g.: add all of them to the given contest without asking them to paste any link into the browser." %} <br>
    {% trans "You can also share yours groups with other teachers." %}
</p>

<div id="usergroups-list" class="mb-2">
    {% if not usergroup_list %}
        <p>{% trans "You don't have any defined user groups at the moment." %}</p>
    {% else %}
        {% autopaginate usergroup_list 20 %}
        {% paginate %}

        <ul class="list-group">
        {% for usergroup in usergroup_list %}
            <li class="list-group-item usergroup"> 
                <div class="text-start">
                    <button class="usergroup-title btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ usergroup.id }}">
                        {{ usergroup.name }}
                    </button>
                </div>
                <div id="collapse{{ usergroup.id }}" class="collapse usergroup-body">
                    <div>
                        {% if usergroup.members.count %}
                            <ul class="usergroup-user-list">
                                {% for member in usergroup.members.all|slice:":23" %}
                                    <li> {{ member.get_full_name|default:member.username }} </li>
                                {% endfor %}

                                {% if usergroup.members.count > 23 %}
                                    <li> &hellip; </li>
                                {% endif %}
                            </ul>
                        {% else %}
                            <p class="text-start"> {% trans "Strange, this group doesn't have any members." %} </p>
                        {% endif %}
                    </div>
                    <div class="text-start">
                        <a href="{% url 'teacher_usergroup_detail' usergroup_id=usergroup.id %}" class="btn btn-primary group-button"> {% trans "Modify group" %} </a>
                    </div>
                </div>
            </li>
        {% endfor%}
        </ul>
        {% paginate %}
    {% endif %}
</div>

<div id="add-new-usergroup">
    <a role="button" class="btn btn-success" href="{% url 'teacher_usergroups_add_group' %}"> {% trans "Add new group" %} </a>
</div>
{% endblock %}