{% load i18n pagination_tags get_user_name %}

{% with prize_list=prize.list %} {# autopaginate doesn't work with 'prize.list' #}

    {% autopaginate prize_list users_on_page %}
    {% paginate %}
    <div class="table-responsive">
        <table class="{% block table-classes %}table table-striped{% endblock %}">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ prize.grouper.name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for pfu in prize_list %}
                <tr>
                    <td></td>
                    <td>{% public_name pfu.user %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% paginate %}
{% endwith %}
