#user-info-top {
    overflow: hidden;
}

#user-info-top #experience-widget {
    float: left;
}

#user-info-top .info {
    padding-left: 20px;
    float: left;
}

#friend-status form {
    display: inline !important;
}

.info-panel {
    clear: both;
    margin: 20px;
}

.friend-list .username {
    display: inline;
    position: relative;
    margin-left: 16px;
    bottom: 20px;
}
