{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Bulk add similar submits" %}{% endblock %}

{% block main-content %}
    <div class="clearfix">
        <div class="pull-right">
            <a role="button" class="btn btn-sm btn-outline-secondary"
                href="{% url 'oioioiadmin:similarsubmits_submissionssimilaritygroup_add' %}">
                <span class="glyphicon glyphicon-plus"></span>
                {% trans "Add by selecting" %}
            </a>
        </div>
        <h1 class="pull-left">{% trans "Bulk add similar submits" %}</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        {% include "ingredients/form.html" %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">
                {% trans "Submit" %}
            </button>
        </div>
    </form>
{% endblock %}

