{% load i18n %}

<div class="disqualification-reason">
<h5>{% trans "Cooperation" %}</h5>
{% blocktrans count similarities|length as counter%}
    This submission was found to be suspiciously similar to the solutions provided by other contestants, thus we believe you were not working on your own,
    and probably cooperated in the following group:
{% plural %}
    This submission was found to be suspiciously similar to the solutions provided by other contestants, thus we believe you were not working on your own,
    and probably cooperated in the following groups:
{% endblocktrans %}

    {% for group in similarities %}
    <div class="table-responsive">
        <table class="{% block table-classes %}table{% endblock %}">
            <thead>
            <tr>
                <th>{% trans "Submission time" %}</th>
                <th>{% trans "Contestant" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for entry in group.submissions.all %}
                {% with entry.submission as similar_to %}
                    {% if similar_to.id != main_submission_id %}
                        {% url 'show_submission_source' contest_id=contest.id submission_id=similar_to.id as source_link %}
                        {% url 'download_submission_source' contest_id=contest.id submission_id=similar_to.id as download_link %}
                        {% url 'source_diff' contest_id=contest.id submission1_id=main_submission_id submission2_id=similar_to.id as diff_link %}
                        <tr>
                            <td><a href="{{ source_link }}">{{ similar_to.get_date_display }}</a></td>
                            <td>{{ similar_to.user.get_full_name }}</td>
                            <td>
                                <a role="button" href="{{ diff_link }}" class="btn btn-outline-secondary btn-xs">
                                    <i class="fa-solid fa-down-left-and-up-right-to-center"></i> {% trans "Show diff" %}
                                </a>
                                <a role="button" href="{{ source_link }}" class="btn btn-outline-secondary btn-xs">
                                    <i class="fa-solid fa-eye"></i> {% trans "Show code" %}
                                </a>
                                <a role="button" href="{{ download_link }}" class="btn btn-outline-secondary btn-xs">
                                    <i class="fa-solid fa-download"></i> {% trans "Download" %}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
