{% load i18n simple_filters %}

<div>
    <h5>{% trans "Cooperation" %}</h5>
    {% blocktrans count similarities|length as counter%}
        This submission was found to be suspiciously similar to the submissions from following group:
    {% plural %}
        This submission was found to be suspiciously similar to the submissions from following groups:
    {% endblocktrans %}

    {% for group in similarities %}
    {% url 'oioioiadmin:similarsubmits_submissionssimilaritygroup_change' group.id as admin_link %}

    <h6>
        {% trans "Group" %}
        <a href="{{ admin_link }}?came_from={{ request.get_full_path|urlencode }}" data-toggle="tooltip" title="{% trans "Edit" %}">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </h6>
    <div class="similarity-group">
    <blockquote><p>{{ group.comment|linebreaks }}</p></blockquote>
    <table class="{% block table-classes %}table auto-width dense space-columns submissions_list{% endblock %}">
        <thead>
        <tr>
            <th>{% trans "ID" %}</th>
            <th>{% trans "Submission time" %}</th>
            <th>{% trans "Contestant" %}</th>
            <th>{% trans "Guilty" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for entry in group.submissions.all %}
            {% with entry.submission as similar_to %}
            {% url 'submission' contest_id=contest.id submission_id=similar_to.id as link %}
            {% url 'mark_guilty' contest_id=contest.id entry_id=entry.id as guilty_link %}
            {% url 'mark_not_guilty' contest_id=contest.id entry_id=entry.id as not_guilty_link %}
            {% url 'show_submission_source' contest_id=contest.id submission_id=similar_to.id as source_link %}
            {% url 'download_submission_source' contest_id=contest.id submission_id=similar_to.id as download_link %}
            {% url 'source_diff' contest_id=contest.id submission1_id=main_submission_id submission2_id=similar_to.id as diff_link %}
            <tr>
                <td><a href="{{ link }}">{{ similar_to.id }}</a></td>
                <td>
                    <a href="{{ link }}">{{ similar_to.get_date_display }}</a>
                    {% if similar_to.kind != 'NORMAL' %} ({{ similar_to.get_kind_display }}){% endif %}
                </td>
                <td>{{ similar_to.user.get_full_name }}</td>
                <td>
                    <span class="glyphicon glyphicon-{% if entry.guilty %}warning-sign{% else %}minus{% endif %}"></span>
                </td>
                <td>
                    {% if similar_to.kind != 'IGNORED_HIDDEN' %}
                        {% if entry.guilty %}
                        <a href="#" data-post-url="{{ not_guilty_link }}" data-toggle="tooltip" title="{% trans "Mark not guilty" %}">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </a>
                        {% else %}
                        <a href="#" data-post-url="{{ guilty_link }}" data-toggle="tooltip" title="{% trans "Mark guilty" %}">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            </a>
                        {% endif %}
                    {% endif %}
                    {% with submission_contexts|lookup:similar_to as submission_context %}
                        {% for value, description in submission_context.valid_kinds_for_submission %}
                            <a href="#" data-post-url="{% url 'change_submission_kind' contest_id=contest.id submission_id=similar_to.id kind=value %}"
                                data-toggle="tooltip" title="{% blocktrans %}Change kind: {{ description }} (and mark not guilty){% endblocktrans %}">
                                <span class="glyphicon glyphicon-tag"></span>
                            </a>
                        {% endfor %}
                    {% endwith %}

                    <a href="{{ diff_link }}" data-toggle="tooltip" title="{% trans "Show diff" %}">
                        <span class="glyphicon glyphicon-resize-small"></span>
                    </a>
                    <a href="{{ source_link }}" data-toggle="tooltip" title="{% trans "Show code" %}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="{{ download_link }}" data-toggle="tooltip" title="{% trans "Download" %}">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </a>
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
    </div>
    {% endfor %}
</div>
