{% load menu check_perm i18n all_with_prefix %}
{% check_perm 'contests.contest_admin' for contest as is_contest_admin %}
{% all_with_prefix extra_menu_top_ %}
{% if is_contest_admin or user.is_superuser or perms.teachers.teacher %}
<ul class="nav nav-list admin-menu">
    {% if user.is_superuser %}
    {% include "ingredients/admin_menu_section.html" with registry='oioioi.base.admin.system_admin_menu_registry' header=_("System Administration") %}
    {% endif %}

    {% if perms.teachers.teacher %}
    {% include "ingredients/admin_menu_section.html" with registry='oioioi.teachers.menu.teacher_menu_registry' header=_("Teacher Menu") %}
    {% endif %}

    {% if is_contest_admin %}
    {% include "ingredients/admin_menu_section.html" with registry='oioioi.base.admin.contest_admin_menu_registry' header=_("Contest Administration") %}
    {% endif %}

    {% include "ingredients/admin_menu_section.html" with registry=None header=_("User Menu")%}
</ul>
{% else %}
<ul class="nav nav-list user-menu">
    {% generate_menu %}
    {% for item in menu %}
    <li id="{{ item.name }}" {% if item.url == request.path %}class="active"{% endif %}>
    <a href="{{ item.url }}" {{ item.attrs }}><img src="{{ STATIC_URL }}images/menu/menu-icon-{% cycle '1' '2' '3' %}.png"/>{{ item.text }}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% all_with_prefix extra_menu_bottom_ %}
