{% load menu check_perm i18n all_with_prefix %}
{% check_perm 'contests.contest_admin' for contest as is_contest_admin %}
{% all_with_prefix extra_menu_top_ %}
{% if is_contest_admin or user.is_superuser or perms.teachers.teacher %}
<ul class="nav nav-list admin-menu">
    {% if user.is_superuser %}
    <li class="nav-header">{% trans "System Administration" %}</li>
    {% include "ingredients/admin_menu_section.html" with registry='oioioi.base.admin.system_admin_menu_registry' %}
    {% endif %}
    {% if perms.teachers.teacher %}
    <li class="nav-header">{% trans "Teacher Menu" %}</li>
    {% include "ingredients/admin_menu_section.html" with registry='oioioi.teachers.menu.teacher_menu_registry' %}
    {% endif %}
    {% if contest %}
    {% if is_contest_admin %}
    <li class="nav-header">{% trans "Contest Administration" %}</li>
    {% include "ingredients/admin_menu_section.html" with registry='oioioi.base.admin.contest_admin_menu_registry' %}
    {% endif %}
    <li class="nav-header">{% trans "User Menu" %}</li>
    {% include "ingredients/admin_menu_section.html" with registry=None %}
    {% endif %}
</ul>
{% else %}
<ul class="nav nav-list user-menu">
    {% if contest %}
    {% generate_menu %}
    {% for item in menu %}
    <li id="{{ item.name }}" {% if item.url == request.path %}class="active"{% endif %}>
    <a href="{{ item.url }}"><img src="{{ STATIC_URL }}images/menu/menu-icon-{% cycle '1' '2' '3' %}.png"/>{{ item.text }}</a>
    </li>
    {% endfor %}
    {% endif %}
</ul>
{% endif %}
{% all_with_prefix extra_menu_bottom_ %}
