{% extends "simple-centered.html" %}

{% load i18n %}

{% block content %}
<div class="well text-center">
    <form method="post" class="form-inline">
        {% csrf_token %}
        {% include "ingredients/flash.html" %}
        {% if form.non_field_errors %}
            <div class="form-group">
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        <span class="sr-only">{% trans "Error" %}:</span>
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form.visible_fields %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    {{ field.label }}: {{ error }}
                </div>
            {% endfor %}
        {% endfor %}

        <p>{% blocktrans %}Please enter postal submission confirmation code to accept.{% endblocktrans %}</p>
        <div class="form-group">
            <input id="id_mailsubmission_id" name="mailsubmission_id" type="text" value="{{ form.mailsubmission_id.value }}" class="form-control input-sm"> /
            <input id="id_submission_hash" name="submission_hash" type="text" value="{{ form.submission_hash.value }}" maxlength="{{ HASH_LENGTH }}" class="form-control input-sm">
        </div>
        <button id="id_submit" type="submit" class="btn btn-primary btn-sm">{% trans "Submit" %}</button>
        <script>
            $(function() {
                $('#id_mailsubmission_id').focus().keydown(function(event) {
                    if (event.which === 191) {
                        /* Slash */
                        $('#id_submission_hash').focus();
                        event.preventDefault();
                    }
                });
            });
        </script>
    </form>
</div>
{% endblock %}
