{% extends "base-with-menu.html" %}
{% load i18n compress static %}

{% block styles %}
{{ block.super }}
{% compress css %}
    <link rel="stylesheet" type="text/css" href="{% static '@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css' %}" />
    <link rel="stylesheet" type="text/x-scss" href="{% static 'timeline/timeline.scss' %}" />
{% endcompress %}
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'timeline.bundle.js' %}"></script>
{% endblock %}

{% block title %}{% trans "Timeline" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Timeline" %}</h1>
{% if error_list %}
<div class="alert alert-danger">
    {% for error in error_list %}
        <p>
            <strong>{{ error.0 }}:</strong>
            <ul>
                {% for error_field, error_msgs in error.1.items %}
                    <li>
                        {% if error_field %}
                            {{ error_field }}:
                        {% endif %}
                        {% for error_msg in error_msgs %}
                            {{ error_msg }}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        </p>
    {% endfor %}
</div>
{% endif %}

{% if registry %}
<form id="timeline-form" method="post" autocomplete="off">
    <div class="form-group clearfix">
        <div class="float-right">
            <button type="button" class="btn btn-outline-secondary btn-hint">?</button>
            <button type="button" class="btn btn-outline-secondary btn-reset">{% trans "Reset" %}</button>
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </div>
    <div class="h-scrollable form-group oioioi-timeline__wrapper">
        <div class="oioioi-timeline">
            {% csrf_token %}
            {% for round, events in registry %}
            <div id="round_group_{{ round.0 }}" class="oioioi-timeline__round-group">
                {% if round.0 != 0 %}
                <div id="round_label_{{ round.0 }}" class="oioioi-timeline__round-label"><strong>{{ round.1 }}</strong></div>
                {% endif %}
                {% for record in events %}
                <div id="datetimepickerbox_{{ round.0 }}_{{ forloop.counter }}" data-timeline-round-num="{{ round.0 }}" data-timeline-order="{{ record.order }}" data-timeline-type="{{ record.type }}" class="oioioi-timeline__datebox">
                    <div id="datetimepicker_{{ round.0 }}_{{ forloop.counter }}" class="input-group date inline float-left" data-td-target-input="nearest" data-td-target-toggle="nearest">
                        <input type="text" name="{{ record.date_id }}" class="oioioi-timeline__datetime-input form-control" value="{{ record.date|date:'Y-m-d H:i' }}" {{ attrs }} />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary bg-light border datepickerbutton oioioi-timeline__calendar-icon" type="button" data-td-toggle="datetimepicker"><i class="fa-solid fa-calendar"></i></button>
                            <div class="oioioi-timeline__date-title bg-transparent input-group-text text-white">{{ record.text }}<small class="group-members"></small></div>
                            <button class="btn btn-secondary border bg-transparent oioioi-timeline__group-delete-btn" type="button"><i class=" fa-solid fa-up-down"></i></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="float-right">
            <button type="button" class="btn btn-outline-secondary btn-reset">{% trans "Reset" %}</button>
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </div>
</form>
{% else %}
<div class="text-center">
    {% blocktrans %}There are no items on the timeline.{% endblocktrans %}
</div>
{% endif %}
{% endblock %}
