{% extends "forum/forum-base.html" %}
{% load i18n %}
{% load check_perm %}
{% load get_user_name %}
{% load pagination_tags %}

{% block title %}{% trans "Category" %}: {{ category.name }}{% endblock %}

{% block forum-head %}
<div class="clearfix">
    {% if user.is_authenticated and can_interact_with_users and not is_contest_archived %}
        <div class="float-right">
            <a role="button" class="btn btn-sm btn-outline-secondary"
                href="{% url 'forum_add_thread' contest_id=contest.id category_id=category.id %}">
                <i class="fa-solid fa-message"></i>
                {% trans "Add new thread" %}
            </a>
        </div>
    {% endif %}
    <h1 class="float-left">{% trans "Category" %}: {{ category.name }}</h1>
</div>
{% endblock %}

{% block forum-contents %}
{% if threads %}
{% autopaginate threads forum_threads_per_page %}
{% paginate %}
<div class="table-responsive-md">
    <table class="table auto-width">
        <thead>
            <tr>
                <th>{% trans "Threads" %}</th>
                <th>{% trans "Posts" %}</th>
                {% if is_admin %}
                    <th>{% trans "Options" %}</th>
                    <th>{% trans "Reported posts" %}</th>
                {% endif %}
                <th>{% trans "Last post" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for t in threads %}
                {% url 'forum_thread' contest_id=contest.id category_id=category.id thread_id=t.id as thread_link %}
                <tr>
                    <td class="{% if is_admin %} col-md-4 {% else %} col-sm-6 {% endif %}">
                        <a class="show" href="{{ thread_link }}">
                            {{ t.name }}
                        </a>
                    </td>
                    <td>{{ t.count_posts }}</td>
                    {% if is_admin %}
                        <td>
                            <a href="#" data-post-url="{% url 'forum_thread_delete' contest_id=contest.id category_id=category.id thread_id=t.id %}">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </td>
                        <td>
                            <div class="{% if t.count_reported > 0 %}badge badge-danger{% endif %}">
                                {{ t.count_reported }}
                            </div>
                        </td>
                    {% endif %}
                    <td>
                        {% if t.last_post != None %}
                        <small>
                            {% full_name t.last_post.author as author_link %}
                            {% blocktrans with date=t.last_post.add_date author=author_link last_id=t.last_post.id %}
                                <a href="{{ thread_link }}#forum-post-{{ last_id }}">{{ date }}</a>, by {{ author }}
                            {% endblocktrans %}
                        </small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% paginate %}
{% else %}
    <h5>{% trans "There is no thread in this category, sorry." %}</h5>
{% endif %}
{% endblock %}
