{% extends "forum/forum.html" %}
{% load i18n %}
{% load check_perm %}

{% block title %}{% trans "Edit post" %} - {% trans "Thread" %}: {{ thread.name }}{% endblock %}

{% block content %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}
<h2>{% trans "Thread" %}: {{ thread.name }}</h2>
<div class="breadcrumb">
    <li>
        <a href="{% url 'forum' contest_id=contest.id %}">{{ forum }}</a>
        <span class="divider">|</span>
    </li>
    <li>
        <a href="{% url 'forum_category' contest_id=contest.id category_id=category.id %}">{{ category.name }}</a>
        <span class="divider">|</span>
    </li>
    <li>
        <a href="{% url 'forum_thread' contest_id=contest.id category_id=category.id thread_id=thread.id %}">{{ thread.name }}</a>
        <span class="divider">|</span>
    </li>
    <li>
        <span>{% trans "Edit post" %}</span>
    </li>
</div>

<h4>{% trans "Edit post" %}</h4>
<form action="" method="post" class="form-horizontal">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
    </div>
</form>
{% endblock %}
