{% extends 'forum/forum-base.html' %}

{% load i18n %}
{% load check_perm %}

{% block forum-head %}
    <div class="clearfix">
        {% if is_admin %}
            <div class="float-right">
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="{% url 'edit_forum_message' %}">
                    {% trans "Edit forum message" %}
                </a>
                <a role="button" class="btn btn-sm btn-outline-secondary"
                    href="{% url 'edit_forum_new_post_message' %}">
                    {% trans "Edit new post message" %}
                </a>
                {% if not is_contest_archived %}
                    <a role="button" class="btn btn-sm btn-outline-secondary"
                        href="{% url 'oioioiadmin:forum_category_add' %}">
                        {% trans "Add new category" %}
                    </a>
                {% endif %}
                {% if not is_locked %}
                    <a role="button" class="btn btn-sm btn-outline-secondary" href="#"
                        data-post-url="{% url 'forum_lock' contest_id=contest.id %}">
                        {% trans "Lock forum now" %}
                    </a>
                {% else %}
                    <a role="button" class="btn btn-sm btn-outline-secondary" href="#"
                        data-post-url="{% url 'forum_unlock' contest_id=contest.id %}">
                        {% trans "Unlock forum now" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <h1 class="float-left">{% trans "Forum" %}: {{ forum }}</h1>
    </div>
    {% include "public_message/show.html" %}
{% endblock %}

{% block forum-contents %}
    {% if category_set.exists %}
        <div class="table-responsive-md">
            <table class="table auto-width">
                <thead>
                    <tr>
                        <th class="{% if is_admin %} col-md-4 {% else %} col-sm-8 {% endif %}">
                            {% trans "Category" %}
                        </th>
                        <th>{% trans "Threads" %}</th>
                        <th>{% trans "Posts" %}</th>
                        {% if is_admin %}
                            <th>{% trans "Options" %}</th>
                            <th>{% trans "Reported posts" %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for c in category_set %}
                        <tr>
                            <td>
                                <a class="show"
                                   href="{% url 'forum_category' contest_id=contest.id category_id=c.id %}">
                                    {{ c.name }}
                                </a>
                            </td>
                            <td>{{ c.thread_count }}</td>
                            <td>{{ c.post_count }}</td>
                            {% if is_admin %}
                                <td>
                                    <a href="#" data-post-url="{% url 'forum_category_toggle_reactions' contest_id=contest.id category_id=c.id %}">
                                        {% if c.reactions_enabled %}
                                            {% trans "Disable post reactions" %}
                                        {% else %}
                                            {% trans "Enable post reactions" %}
                                        {% endif %}
                                    </a>
                                    <a href="#" data-post-url="{% url 'forum_category_delete' contest_id=contest.id category_id=c.id %}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                    {% if forloop.counter0 > 0 %}
                                    <a href="#" data-post-url="{% url 'forum_category_move_up' contest_id=contest.id category_id=c.id %}">
                                        <i class="fa-solid fa-chevron-up"></i>
                                    </a>
                                    {% endif %}
                                    {% if forloop.counter < category_set|length %}
                                    <a href="#" data-post-url="{% url 'forum_category_move_down' contest_id=contest.id category_id=c.id %}">
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <div {% if c.reported_count > 0 %}class="badge badge-danger"{% endif %}>
                                        {{ c.reported_count }}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h5>{% trans "There is no category in the forum, sorry." %}</h5>
    {% endif %}
{% endblock %}
