{% extends "base-with-menu.html" %}
{% load i18n %}
{% load check_perm %}

{% block title %}{{ forum }} - {% trans "Forum" %}{% endblock %}

{% block main-content %}

{% check_perm 'contests.contest_admin' for contest as is_admin %}

{% if not forum_error %}
    {% block forum-alerts %}
        {% for msg in msgs%}
            <div class="alert alert-info" role="alert">
                {{ msg }}
            </div>
        {% endfor %}
    {% endblock %}

    {% block forum-head %}
    {% endblock %}

    {% block forum-breadcrumbs %}
        <ol class="breadcrumb">
            <li>
                <a href="{% url 'forum' contest_id=contest.id %}">{{ forum }}</a>
            </li>
            {% if category %}
                <li>
                    <a href="{% url 'forum_category' contest_id=contest.id category_id=category.id %}">{{ category.name }}</a>
                </li>
            {% endif %}
            {% if thread %}
                <li>
                    <a href="{% url 'forum_thread' contest_id=contest.id category_id=category.id thread_id=thread.id %}">{{ thread.name }}</a>
                </li>
            {% endif %}
            {% block forum-breadcrumbs-add %}

            {% endblock %}
        </ol>
    {% endblock %}

    {% block forum-contents %}
    {% endblock %}
{% else %}
    <h1>{% trans "Forum" %}</h1>
    <h5>{{ forum_error }}</h5>
{% endif %}
{% endblock %}
