{% extends 'forum/forum-base.html' %}

{% load i18n %}
{% load check_perm %}

{% block forum-head %}
    <div class="clearfix">
        {% if is_admin %}
            <div class="pull-right">
                <a role="button" class="btn btn-sm btn-default"
                    href="{% url 'oioioiadmin:forum_category_add' %}">
                    {% trans "Add new category" %}
                </a>
                {% if not is_locked %}
                    <a role="button" class="btn btn-sm btn-default" href="#"
                        data-post-url="{% url 'forum_lock' contest_id=contest.id %}">
                        {% trans "Lock forum now" %}
                    </a>
                {% else %}
                    <a role="button" class="btn btn-sm btn-default" href="#"
                        data-post-url="{% url 'forum_unlock' contest_id=contest.id %}">
                        {% trans "Unlock forum now" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <h1 class="pull-left">{% trans "Forum" %}: {{ forum }}</h1>
    </div>
{% endblock %}

{% block forum-contents %}
    {% if category_set.exists %}
        <div class="table-responsive">
            <table class="table auto-width">
                <thead>
                    <tr>
                        <th class="{% if is_admin %} col-sm-4 {% else %} col-xs-8 {% endif %}">
                            {% trans "Category" %}
                        </th>
                        <th>{% trans "Threads" %}</th>
                        <th>{% trans "Posts" %}</th>
                        {% if is_admin %}
                            <th>{% trans "Options" %}</th>
                            <th>{% trans "Reported posts" %}</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for c in category_set %}
                        <tr>
                            <td>
                                <a class="show"
                                   href="{% url 'forum_category' contest_id=contest.id category_id=c.id %}">
                                    {{ c.name }}
                                </a>
                            </td>
                            <td>{{ c.count_threads }}</td>
                            <td>{{ c.count_posts }}</td>
                            {% if is_admin %}
                                <td>
                                    <a href="#" data-post-url="{% url 'forum_category_delete' contest_id=contest.id category_id=c.id %}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    {% if forloop.counter0 > 0 %}
                                    <a href="#" data-post-url="{% url 'forum_category_move_up' contest_id=contest.id category_id=c.id %}">
                                        <span class="glyphicon glyphicon-chevron-up"></span>
                                    </a>
                                    {% endif %}
                                    {% if forloop.counter < category_set|length %}
                                    <a href="#" data-post-url="{% url 'forum_category_move_down' contest_id=contest.id category_id=c.id %}">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <div {% if c.count_reported > 0 %}class="label label-danger"{% endif %}>
                                        {{ c.count_reported }}
                                    </div>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h5>{% trans "There is no category in the forum, sorry." %}</h5>
    {% endif %}
{% endblock %}