{% extends "forum/forum-base.html" %}
{% load i18n %}
{% load check_perm %}
{% load get_user_name %}
{% load pagination_tags %}

{% block title %}{% trans "Latest posts" %}: {{ forum.name }}{% endblock %}

{% block forum-head %}
    <h2>{% trans "Latest posts" %}</h2>
{% endblock %}

{% block forum-contents %}
    <div class="card-column">
        {% autopaginate post_set posts_per_page %}
        {% for post in post_set %}
            <div class="card mb-2" id="forum-post-{{ post.id }}">
                <div class="anchor-jump-fix" id="forum-anchor-{{ post.id }}"></div>
                {% if post.hidden %}
                    <div class="card-header">
                        {% include "forum/thread-element-heading.html" with post=post thread=post.thread category=post.thread.category %}
                    </div>
                {% endif %}
                {% if not post.hidden or is_admin %}
                    <div class="card-body {% if post.hidden %} collapse {% endif %}">
                        {{ post.content|urlize|linebreaksbr }}
                    </div>
                {% endif %}
                <div class="card-footer forum-card-footer">
                    {% include "forum/latest-posts-element-footer.html" with post=post thread=post.thread category=post.thread.category contest=contest %}
                </div>
            </div>
        {% empty %}
            {% trans "No posts to show." %}
        {% endfor %}
        {% paginate %}
    </div>
{% endblock %}
