{% load i18n %}
{% load check_perm %}
{% load get_user_name %}

{% url 'forum_post_edit' contest_id=contest.id category_id=category.id thread_id=thread.id post_id=post.id as forum_post_edit_url %}
{% url 'forum_post_delete' contest_id=contest.id category_id=category.id thread_id=thread.id post_id=post.id as forum_post_delete_url %}
{% url 'forum_post_hide' contest_id=contest.id category_id=category.id thread_id=thread.id post_id=post.id as forum_post_hide_url %}
{% url 'forum_post_approve' contest_id=contest.id category_id=category.id thread_id=thread.id post_id=post.id as forum_post_approve_url %}
{% url 'forum_post_report' contest_id=contest.id category_id=category.id thread_id=thread.id post_id=post.id as forum_post_report_url %}
{% url 'forum_post_revoke_approval' contest_id=contest.id category_id=category.id thread_id=thread.id post_id=post.id as forum_post_revoke_approval_url %}
{% url 'forum_post_toggle_reaction' contest_id=contest.id category_id=category.id thread_id=thread.id post_id=post.id as forum_post_toggle_reaction_url %}

{% block links_to_post %}<a href="#forum-anchor-{{ post.id }}">#{{ post.id }}</a>{% endblock %}

{% if category.reactions_enabled %}
    <span class="post_reactions">|
        {% if can_interact_with_users %}
            <a href="#" data-post-url="{{ forum_post_toggle_reaction_url }}?reaction=upvote">
        {% endif %}
        <span class="{% if post.user_upvoted %} text-success {% else %} text-muted {% endif %}">
            <i class="fa-solid fa-plus"></i> {{ post.upvotes_count }}
        </span>
        {% if can_interact_with_users %}
            </a>
        {% endif %}

        {% if can_interact_with_users %}
            <a href="#" data-post-url="{{ forum_post_toggle_reaction_url }}?reaction=downvote">
        {% endif %}
        <span class="{% if post.user_downvoted %} text-danger {% else %} text-muted {% endif %}">
            <i class="fa-solid fa-minus"></i> {{ post.downvotes_count }}
        </span>
        {% if can_interact_with_users %}
            </a>
        {% endif %}
    </span>
{% endif %}

| {% full_name post.author %}

{% if is_admin %}
    {% if post.is_author_banned %}
        | {% trans "This user was banned." %}
    {% else %}
        | <a href="{% url 'forum_user_ban' contest_id=contest.id user_id=post.author_id %}?next={{ request.path | urlencode }}">
            {% trans "ban author" %}
          </a>
    {% endif %}
{% endif %}

| {% trans "Added" %}: {{ post.add_date }}

{% if post.edited %}
    | {% trans "Last edit" %}: {{ post.last_edit_date }}
{% endif %}

{% if can_interact_with_users and post.author == user or is_admin %}
    | <a href="{{ forum_post_edit_url }}">
        {% trans "edit" %}
      </a>
    {% if forloop.last and post.can_be_removed or is_admin %}
        | <a href="{{ forum_post_delete_url }}">
            <i class="fa-solid fa-trash"></i>
          </a>
    {% endif %}
{% endif %}
{% if not post.hidden %}
    {% if is_admin %}
        | <a href="#" data-post-url="{{ forum_post_hide_url }}">
            {% trans "hide" %}
          </a>
        {% if not post.approved %}
            | <a href="#" data-post-url="{{ forum_post_approve_url }}">
                {% trans "approve" %}
             </a>
        {% endif %}
    {% endif %}
    {% if post.approved %}
        {% if is_admin %}
            <span class="text-success">
                | {% trans "This post was approved." %}
            </span>
            | <a href="#" data-post-url="{{ forum_post_revoke_approval_url }}">
                {% trans "revoke approval" %}
             </a>
        {% endif %}
    {% elif can_interact_with_admins and not post.reported %}
        | <a href="{{ forum_post_report_url }}">
            {% trans "report" %}
          </a>
    {% endif %}
    {% if post.reported %}
        |
        <span class="text-danger">
            {% if is_admin and post.reported_by %}
                {% full_name post.reported_by as reporter_name %}
                {% blocktrans trimmed %} This post was reported by {{ reporter_name }}. {% endblocktrans %}
                <abbr title="{{ post.report_reason }}">{% trans "Reason" %}</abbr>
                {% if post.is_reporter_banned %}
                    | {% trans "Reporter was banned." %}
                {% else %}
                    | <a href="{% url 'forum_user_ban' contest_id=contest.id user_id=post.reported_by_id %}?next={{ request.path | urlencode }}">
                        {% trans "ban reporter" %}
                      </a>
                {% endif %}
            {% else %}
                {% trans "This post was reported." %}
            {% endif %}
        </span>
    {% endif %}
{% endif %}
