{% extends "forum/forum.html" %}
{% load i18n %}
{% load check_perm %}
{% load get_user_name %}

{% block title %}{% trans "Thread" %}: {{ thread.name }}{% endblock %}

{% block main-content %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}

<article class="col-md-10">
    <h2>{% trans "Thread" %}: {{ thread.name }}</h2>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'forum' contest_id=contest.id %}">{{ forum }}</a>
        </li>
        <li>
            <a href="{% url 'forum_category' contest_id=contest.id category_id=category.id %}">{{ category.name }}</a>
        </li>
        <li>
            {{ thread.name }}
        </li>
    </ol>
    {% if msgs %}<h6>{{ msgs }}</h6>{% endif %}
    <div class="panel-group">
        {% for post in post_set %}
            <div class="panel panel-default" id="forum-post-{{ post.id }}">
                <div class="anchor-jump-fix" id="forum-anchor-{{ post.id }}"></div>
                {% if post.hidden %}
                    <div class="panel-heading">
                        {% include "forum/thread-element-heading.html" with post=post %}
                    </div>
                {% endif %}
                {% if not post.hidden or is_admin %}
                    <div class="panel-body {% if post.hidden %} collapse {% endif %}">
                        {{ post.content|urlize|linebreaksbr }}
                    </div>
                {% endif %}
                <div class="panel-footer forum-panel-footer">
                    {% include "forum/thread-element-footer.html" with post=post %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if form %}
        <h4>{% trans "New post" %}</h4>
        <form method="post">
            {% csrf_token %}
            {% include "ingredients/form.html" with focus=False display_labels=False %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            </div>
        </form>
    {% endif %}
</article>
{% endblock %}