td.color-cell {
    width:  90px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.4),
        1px -1px 0 rgba(0, 0, 0, 0.4),
        -1px 1px 0 rgba(0, 0, 0, 0.4),
        1px 1px 0 rgba(0, 0, 0, 0.4);
}

td.color-cell .no-color {
    color: red;
    text-shadow: none;
}

td.button-cell {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}
