@import "scss/utility";

.simpleui__container {
  max-width: 1000px;
}

.settings__section {
  margin-bottom: 10px;
}

.settings {
  @include make-row;

  #main_form {
    width: 100%;
  }

  &__header{
    @include make-col-ready;

    @include media-breakpoint-up(lg) {
      @include make-col(12);
    }
    margin-bottom: 20px;
  }

  &__general {
    @extend .settings__section;

    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
  }

  &__tags_and_attachments {
    @extend .settings__section;
    @include make-row;

    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
  }

  &__links {
    @extend .settings__section;

    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    text-align: center;
  }

  &__tests {
    @extend .settings__section;

    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(12);
    }
  }

  &__actions {
    @extend .settings__section;

    @include make-col-ready;

    @include media-breakpoint-up(md) {
      @include make-col(12);
    }

    text-align: right;
    margin-top: 10px;
  }
}

.test {
  &__time {
    width: 9em;
  }

  &__memory {
    width: 9em;
  }

  &__points {
    width: 6em;
  }
}

.to-be-deleted {
  background-color: #f7e4e4;
}

.table {
  input {
    @include input-block-level;
    min-width: 60px;
  }

  td {
    padding: 10px 8px;
  }

  margin-bottom: 0;
}

ul.errorlist > li
{
  color: #B94A48;
  list-style-type: none;
}