{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Teams" %}{% endblock %}

{% block content %}

<h2>{{ name }}</h2>
<ul>
    {% for member in members %}
    <li>{{ member }}</li>
    {% endfor %}
</ul>

<form method="post" action="{% url 'join_team' contest_id=contest.id join_key=join_key%}">
    {% csrf_token %}
    <input type="submit" class="btn btn-primary pull-left" value="{% trans "You can join this team!" %}" />
</form>

{% endblock %}
