{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Teams" %}{% endblock %}

{% block main-content %}
    <h1>{% trans "Teams" %}</h1>
    {% for team in teams %}
        <h2>{{ team.name }}</h2>
        <table class="table table--auto-width">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans "User" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team.members %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ member }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
