{% load i18n %}

<div class="problem">
    <div class="clearfix">
        <div class="problem__settings">
            <a href="{% url 'simpleui_problem_settings' problem_instance.problem_instance.id %}">
                {% blocktrans %}
                <span class="glyphicon glyphicon-cog"></span> Settings
                {% endblocktrans %}
            </a>
        </div>

        <div class="problem__header">
            <h4 class="problem__name">
                <a href="{% url 'problem_statement' contest_id=contest.id problem_instance=problem_instance.problem_instance.short_name %}">
                    {{ problem_instance.problem_instance.problem.name|truncatechars:15 }}
                </a>
            </h4>
            <div class="problem__solved problem__solved--{{ problem_instance.solved }}" data-toggle="tooltip" title="{% trans "Solved / tried solving" %}">
                {{ problem_instance.solved_count }} / {{ problem_instance.tried_solving_count }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            {% trans "Recent activity:" %}
            <div class="problem__submissions">
                <a href="{% url 'oioioiadmin:contests_submission_changelist' %}?pi={{ problem_instance.problem_instance.problem.name|urlencode }}">
                    {% blocktrans count count=problem_instance.submission_count %}
                        {{ count }} submission
                    {% plural %}
                        {{ count }} submissions
                    {% endblocktrans %}
                </a>
            </div>
            <div class="problem__questions">
                <a href="{% url 'contest_messages' %}?category=p_{{ problem_instance.problem_instance.id }}">
                    {% blocktrans count count=problem_instance.question_count %}
                        {{ count }} question
                    {% plural %}
                        {{ count }} questions
                    {% endblocktrans %}
                </a>
            </div>
        </div>
        {% if not public_contest %}
            <div class="col-xs-6">
                <div id="pointsChart-{{ problem_instance.problem_instance.short_name }}" class="problem__stats">
                </div>
            </div>
        {% endif %}
    </div>
</div>