{% load i18n check_perm get_user_name %}
{% check_perm 'contests.contest_basicadmin' for contest as is_admin %}

<table class="{% block table-classes %}table table-responsive-md{% endblock %}">
    <thead>
        <tr>
            {% if not hide_author %}
                <th>{% trans "Author" %}</th>
            {% endif %}
            <th>{% trans "Date" %}</th>
            <th>{% trans "Category" %}</th>
            <th>{% trans "Topic" %}</th>
            {% if is_admin %}
                <th>{% trans "Kind" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for record in records %}
        {% with record.message as msg %}
        {% url 'message' contest_id=contest.id message_id=record.link_message.id as link %}
        {% url 'message_visit' contest_id=contest.id message_id=record.link_message.id as visit_link %}
        <tr id="message_{{ msg.id }}">
            {% if not hide_author %}<td>{% full_name msg.author %}</td>{% endif %}
            <td><a href="{{ link }}">{{ msg.date }}</a></td>
            <td>{{ msg.problem_instance|default_if_none:_("General") }}</td>
            <td>
                {% if not record.read and not is_admin %}
                    <span class="badge badge-info" id="new-msg-label">
                        {% trans "NEW" %}
                    </span>
                {% endif %}
                <a href="{{ link }}">{{ msg.topic|truncatechars:80 }}</a>
            </td>
            {% if is_admin %}
                <td>
                    <span class="badge {% if record.needs_reply %}badge-danger{% elif msg.kind == 'PUBLIC' %}badge-secondary{% elif msg.kind == 'PRIVATE' %}badge-light{% else %}badge-primary{% endif %}">
                        {{ msg.kind }}
                    </span>
                </td>
            {% endif %}
        </tr>
        <tr
          {% if not record.read and not is_admin %}data-visit-url="{{ visit_link }}"{% endif %}
          data-is-new="{% if not record.read and not is_admin %}1{% else %}0{% endif %}" id="hidden_message_{{ msg.id }}"
          class="collapse">
            <td colspan="{% if is_admin %}5{% else %}3{% endif %}">
                <div>{{ msg.content|urlize|linebreaks }}</div>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
    </tbody>
</table>
