{% extends "base-with-menu.html" %}
{% load i18n mptt_tags portal_url menu %}

{% block title %}{{ current_node.full_name }}{% endblock %}

{% block menu %}
    {% include "portals/menu.html" %}
{% endblock %}

{% block navbar-menu %}
    {% include "portals/navbar-menu.html" %}
{% endblock %}

{% block main-content %}
    {% generate_menu portal_admin_menu %}
    {% if menu %}
        <ul class="nav nav-tabs nav-margin">
            {% for item in menu %}
                {{ item.name }}
                <li{% if item.url == request.get_full_path %} class="active"{% endif %}>
                    <a href="{{ item.url }}" {{ item.attrs }}>
                        {% if item.icon %}
                            <span class="glyphicon glyphicon-{{ item.icon }}"></span>
                        {% endif %}
                        {{ item.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <section>
        {% block panel %}{% endblock %}
    </section>
{% endblock %}
