{% extends "simple-centered-wide.html" %}
{% load i18n %}

{% block title %}{% trans "Delete portal" %}{% endblock %}

{% block content %}
    <p>{% trans "Are you sure you want to delete your portal? All nodes will be deleted. This cannot be undone." %}</p>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" name="confirmation" value="">{% trans "Yes" %}</button>
        <button type="submit" class="btn btn-primary">{% trans "No" %}</button>
    </form>
{% endblock %}
