{% extends "simple-centered-wide.html" %}
{% load i18n mptt_tags portal_url %}

{% block title %}{% trans "Manage portal" %}{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}portals/tree.jquery.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#tree').tree({
                autoOpen: true,
                dragAndDrop: true,
                selectable: false,
                onCanMove: function(node) {
                    return !!node.parent.parent;
                },
                onCanMoveTo: function(node, target, position) {
                    var newParent;
                    if(position == 'inside')
                        newParent = target;
                    else
                        newParent = target.parent;

                    if(!newParent.parent)
                        return false;

                    if(newParent == node.parent)
                        return true;

                    for(var i = 0; i < newParent.children.length; ++i)
                        if(newParent.children[i].short_name == node.short_name)
                            return false;

                    return true;
                }
            }).bind('tree.click', function(event) {
                var path = '';
                node = event.node;
                while(node.parent && node.parent.parent) {
                    path = node.short_name + '/' + path;
                    node = node.parent;
                }
                var url = '{% portal_url portal=portal path='__PATH__' %}';
                url = url.replace(/__PATH__/g, path);
                window.location.href = url;
            }).bind('tree.move', function(event) {
                $.ajax('{% url 'move_node' %}', {
                    data: {
                        node: event.move_info.moved_node.id,
                        target: event.move_info.target_node.id,
                        position: event.move_info.position
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <h2>{% trans "Manage portal" %}</h2>
    <p>{% trans "Short description of your portal:" %}</p>

    <form method="post">
        {% csrf_token %}
        {% include 'ingredients/form.html' %}
        <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    {% if user.is_superuser %}
                        {% trans "Save description and public option" %}
                    {% else %}
                        {% trans "Save description" %}
                    {% endif %}
                </button>
        </div>
    </form>

    <p>{% trans "Drag and drop pages to reorganize the portal structure." %}</p>
    <div id="tree" data-url="{% portal_url portal=portal action='portal_tree_json' %}">
    </div>
    <hr class="divider">
    <div class="float-right">
        <a role="button" href="{% portal_url portal=portal action='delete_portal' %}" class="btn btn-danger">
            {% trans "Delete portal" %}
        </a>
    </div>
    <link rel="stylesheet" href="{{ STATIC_URL }}portals/jqtree.css">
{% endblock %}
