{% load menu check_perm i18n all_with_prefix portal_url simple_filters simple_tags %}

<a class="oioioi-navbar__brand" href="{% url 'index' contest_id=None %}">{{ site_name }}</a>

<div class="oioioi-navbar__menu dropdown">
    <a href="#" type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="sr-only">{% trans "Toggle navigation" %}</span>
        <span class="glyphicon glyphicon-menu-hamburger"></span>
    </a>
    <ul class="dropdown-menu">
        {% if current_node.is_root_node and current_node.is_leaf_node %}
            <li><a class="active" href="{% portal_url node=current_node %}">{{ current_node.full_name }}</a></li>
        {% else %}
            {% for node in current_node.get_ancestors_including_self %}
                {% if not node.is_leaf_node %}
                    {% if node.get_siblings %}
                        {% for sibling in node.get_siblings_including_self %}
                            <li><a href="{% portal_url node=sibling %}">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                {{ sibling.full_name }}
                            </a></li>
                        {% endfor %}
                        <li class="divider" role="separator"></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ node.full_name }}
                        </a></li>
                    {% else %}
                        <li><a href="{% portal_url node=node %}">
                            {{ node.full_name }}
                        </a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if not current_node.is_leaf_node %}
                {% for node in current_node.get_children %}
                    <li><a href="{% portal_url node=node %}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{ node.full_name }}
                    </a></li>
                {% endfor %}
            {% else %}
                {% for node in current_node.get_siblings_including_self %}
                    <li><a href="{% portal_url node=node %}">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{ node.full_name }}
                    </a></li>
                {% endfor %}
            {% endif %}
        {% endif %}
    </ul>
</div>