{% extends "portals/base-node.html" %}
{% load i18n %}

{% block panel %}
    <h2>{% block form_header %}{% endblock %}</h2>
    <form method="post">
        {% csrf_token %}
        {% include 'ingredients/form.html' %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
        </div>
    </form>

    {% include "ingredients/markdown-editor.html" %}
    <script>
        $(function() {
            $("#{{ form.panel_code.id_for_label }}").markdown({
                onPreview: function(e) {
                    const originalContent = e.getContent();
                    let rendered = originalContent;

                    $.ajax({
                      type: 'POST',
                      url: '{% url "render_markdown" %}',
                      data: {
                          markdown: originalContent,
                          csrfmiddlewaretoken: '{{ csrf_token }}'
                      },
                      success: function (data) {
                            console.log('fun');
                          rendered = data.rendered;
                      },
                      async: false
                    });
                    return rendered;
                },
                additionalButtons: [
                    [
                        {
                            name: "oioioiGroup",
                            data: [
                                {
                                    name: "cmdYoutube",
                                    title: "YouTube",
                                    icon: {
                                        glyph: 'glyphicon glyphicon-play'
                                    },
                                    callback: function (e) {
                                        e.replaceSelection('[[YouTube|<url>]]');
                                    }
                                },
                                {
                                    name: "cmdProblemTable",
                                    title: "Problem Table",
                                    icon: {
                                        glyph: 'glyphicon glyphicon-align-justify'
                                    },
                                    callback: function (e) {
                                        e.replaceSelection('[[ProblemTable|url1;url2;...]]');
                                    }
                                },
                            ]
                        }
                    ]
                ]
            })
        });
    </script>
{% endblock %}
