{% extends "portals/base-node.html" %}
{% load i18n %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/urlify.js"></script>
    <script type="text/javascript">
        $(function() {
            var short_name = $('#id_short_name');
            if(short_name.length) {
                $('#id_full_name').keyup(function() {
                    short_name.val(URLify($(this).val()));
                });
            }
        });
    </script>
{% endblock %}

{% block panel %}
    <h2>{% block form_header %}{% endblock %}</h2>
    <form method="post" action="" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {% include 'ingredients/form.html' %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
