{% extends "base.html" %}
{% load i18n simple_tags pagination_tags tag staticfiles node_language_version %}

{% block title %}{% trans "Portals" %} {% endblock %}

{% block container-class %}{% endblock %}


{% block body %}

<div class="container">
    <h3>{{ page_title }}</h3>
    {% include "ingredients/flash.html" %}


    {% if user.is_authenticated %}
        {% url 'create_user_portal' as user_portal %}  <!--if portal already exists, redirect to it-->
        {% blocktrans %}
            If you want to create or edit your portal <a href="{{ user_portal }}"> click here</a>.
            If you want to publish your portal below, please contact us.
        {% endblocktrans %}
    {% endif %}

    {% if user.is_superuser %}
        {% if curr_view_type == 'global' %}
            <hr style="margin: 3px;">
            {% url 'create_global_portal' as create_global_portal %}
            <b>
                {% blocktrans %}
                    If you want to create new global portal <a href="{{ create_global_portal }}"> click here</a>.
                {% endblocktrans %}
            </b>
        {% endif %}

        <hr style="margin: 7px;">
        <div class="row">
            <form method="get" class="col-md-4 col-sm-6 col-xs-12">
                <div class="input-group">
                    {{ form.q }}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>


        <ul class="nav nav-pills nav-justified nav-margin">
            {% for view_type, view_name in views.items %}
            <li role="presentation" {% if view_type == curr_view_type %} class="active" {% endif %}>
                <a href="{% url 'portals_main_page_type' view_type=view_type %}">
                    {{ view_name }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <hr style="margin: 2px;">
    {% endif %}

    {% block main_content %}
    {% if portals %}
        <br>
        {% autopaginate portals 20 %}
        {% paginate %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "URL" %}</th>
                    <th>{% trans "Short description" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for portal in portals %}
                    {% if portal.owner %}
                        {% url 'user_portal' username=portal.owner portal_path=portal.root.get_path as portal_url %}
                    {% else %}
                        {% url 'global_portal' link_name=portal.link_name portal_path=portal.root.get_path as portal_url%}
                    {% endif %}
                    <tr>
                        <td>{{ portal.root|full_name:request }}</td>
                        <td>
                            <a href="{{ portal_url }}"> {{ portal_url  | slice:"1:-1" }}</a>
                        </td>
                        <td>{{portal.short_description}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% paginate %}
    {% else %}
        <div class="alert alert-info">
            <p>{% trans 'There are no portals here :(' %}</p>
        </div>
    {% endif %}

    {% endblock %}
</div>
{% endblock %}
