#test_set-group .time_limit input {
    width: 60px;
}

#test_set-group .memory_limit input {
    width: 80px;
}

#test_set-group .max_score input {
    width: 60px;
}

#test_set-empty {
    display: none;
}

#test_set-group .time_limit,
#test_set-group .memory_limit,
#test_set-group .max_score {
    text-align: center;
}
