{% extends "base-with-menu.html" %}
{% load i18n runtimeformat %}

{% block title %}{% trans "Model solutions" %}{% endblock %}

{% block main-content %}
<div class="clearfix">
    {% if submissions %}
        <div class="float-end">
            <a role="button" class="btn btn-sm btn-outline-secondary"
               href="{% url 'model_solutions_rejudge' problem_instance.id %}">
                <i class="fa-solid fa-rotate-right"></i>
                {% trans "Rejudge" %}
            </a>
        </div>
    {% endif %}
    <h1 class="float-start">{% trans "Model solutions" %}</h1>
</div>

{% if not submissions %}
    <p>{% blocktrans %}There are no model solutions in this problem package.
    {% endblocktrans %}</p>
{% else %}
    <div class="table-responsive-md">
        <table class="table table-bordered table--auto-width table--center">
            <thead>
                <tr>
                    <th rowspan="3" colspan="2"></th>
                    {% for s in submissions %}
                         <th>
                             <a href="{% url 'submission' submission_id=s.id %}">
                                 {{ s.model_solution.short_name }}
                             </a>
                         </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for r in submissions_row %}
                        <th class="submission submission--{{ r.status }}">{{ r.submission.status }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for s in submissions %}
                        <th>{{ s.get_score_display|default_if_none:'' }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th class="force-text-right">{% trans "Total" %}</th>
                    <th>{{ total_row.test|runtimeformat }}</th>
                    {% for result in total_row.results %}
                        <th>{{ result|runtimeformat }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% spaceless %}
                    {% for row in rows %}
                        <tr>
                            <th class="force-text-right">{{ row.test.name }}</th>
                            <td>{{ row.test.time_limit|runtimeformat }}</td>
                            {% for cell in row.results %}
                                <td class="submission submission--{{ cell.test_report.status }}{% if cell.test_report.status == 'OK'%}{{ cell.percentage_status }}{% endif %}">
                                    {% if cell.test_report.status == 'OK' %}
                                        {{ cell.test_report.time_used|runtimeformat }}
                                    {% else %}
                                        {{ cell.test_report.status }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endspaceless %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}
