@import "scss/utility";

.button-flat button {
    padding-top: 0;
    padding-bottom: 0;
}

.search-row {
  display: flex;
  justify-content: space-evenly;
}

.search-bar {
  margin: 5rem 0 4rem 0;
}

.filter-bar {
  margin: 5rem 0 4rem 0;
}

.tabbed-content {
  margin-top: 7rem;
}

.menu-link-green {
  background-color: #c0ffc0;
}

#tag-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.origintag-group {
  display: flex;
}

.search-tag-root .search-tag {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: .2em;
}

.search-tag-text {
  cursor: default;
}

.search-tag .glyphicon {
  top: 0;
  cursor: pointer;
  color: #ffffff;
  vertical-align: middle;
  opacity: 0.6;
}

.search-tag .glyphicon:hover {
  opacity: 1.0;
}


.tag-label-origin {
    background-color: #C3A877;
    color: #000;
}
.tag-label-algorithm {
    background-color: #2A2C59;
    color: #fff;
}
.tag-label-difficulty {
    background-color: #2DB941;
    color: #fff;
}
