@import "scss/utility";

.search-row {
  display: flex;
  justify-content: center;
}

.search-bar {
  margin: 5rem 0 4rem 0;
}

.tabbed-content {
  margin-top: 7rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    border-radius: 12px 12px 0 0;
  }

  .menu-item:hover {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }

  .menu-item-active {
    @include gradient-vertical(#eeeeee, #ffffff);
  }
}

@media screen and (max-width: 768px) {
  .menu-item {
    border-radius: 12px 12px 12px 12px;
  }

  .menu-item:hover {
    border-radius: 12px 12px 12px 12px;
    overflow: hidden;
    background-color: #eeeeee;
  }

  .menu-item-active {
    background-color: #f5f5f5;
  }
}


#tag-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.origintag-group {
  display: flex;
}

.search-tag {
  margin: .2em;
}

.search-tag-text {
  cursor: default;
}

.search-tag .glyphicon {
  top: 0;
  cursor: pointer;
  color: #ffffff;
  vertical-align: middle;
  opacity: 0.6;
}

.search-tag .glyphicon:hover {
  opacity: 1.0;
}


.tag-label-origin {
    background-color: #C3A877;
    color: #000;
}
.tag-label-algorithm {
    background-color: #2A2C59;
    color: #fff;
}
.tag-label-difficulty {
    background-color: #2DB941;
    color: #fff;
}
.tag-label-tag {
    background-color: #718D87;
    color: #fff;
}
