.problem-title {
  margin: 3rem 0 4rem 0;
}

.bottom-text {
  margin: 5rem 0 3rem 0;
}

.settings-row {
  display: flex;
  justify-content: center;
}

.settings-item {
  border-style: solid;
  border-color: #555555;
  border-width: 1px;
  margin: 2rem 1rem;
  border-radius: 15px;
  padding: 10px 20px;

  h4 {
    margin-bottom: 0.5rem;
  }

  p, h5 {
    margin-bottom: 0;
  }
}

.settings-group {
  width: 100%;
}

.item-title {
  text-align: center;
  margin-bottom: 2rem;
}

.settings-button:hover {
  background-color: #eeeeee;
}

.tagform-icon {
  margin-top: 0.72em;
  font-size: 20px;
  color: #003eff;
}

.lower-button {
  display: flex;
  justify-content: center;
  margin: 3rem 0 2rem 0;
}

.separator {
  border-top-style: solid;
  border-top-color: #dddddd;
  border-top-width: 1px;
}

.item-footer {
  margin-top: 4rem;
}

.btn-row {
  margin-top: 3rem;
  margin-bottom: 2rem;
  justify-content: space-evenly;
}

.btn-option {
  background-color: #e5e5e5;
}

.tag-input {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.autocomplete-list {
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  padding-left: 0;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
}

.autocomplete-item {
  padding-left: 1rem;
}

.autocomplete-item:hover {
  cursor: pointer;
}

.autocomplete-active {
  background-color: #eeeeee;
}

.tag-proposal {
  cursor: pointer;
}

.error-message {
  text-align: center;
  font-size: small;
}

#autocomplete {
  width: 100%;
  justify-content: center;
  position: relative;
}

#algorithm-tags {
  width: 100%;
}

#model-solutions-table {
  margin: 3rem 3rem 0 3rem;
  overflow-x: auto;
}

#tag-form > .modal-dialog {
  max-width: 540px;
}
