{% extends "admin/base.html" %}
{% load i18n grp_tags compress common_media all_with_prefix %}

{% block stylesheets %}
{% compress css %}
{{ block.super }}
<link charset="utf-8" rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/admin.less">
{% common_styles %}
{% endcompress %}
{% endblock %}

{% block javascripts %}
{% compress js %}
{{ block.super }}
<script type="text/javascript"> var oioioi_base_url ="/"; </script>
{% if debug %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
{% else %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/csrf_link_protect.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/lang_select_pro.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-transition.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-typeahead.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/menu.js"></script>
{% common_scripts %}
{% endcompress %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
{% endblock %}
{% block extrahead %}
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
{% all_with_prefix extra_head_ %}
{% endblock %}

{% block title %}{{ title }} - {% blocktrans %}{{ site_name }} Admin{% endblocktrans %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% blocktrans %}{{ site_name }} Admin{% endblocktrans %}</h1>
{% endblock %}

{% block footer %}
    <div class="full-bootstrap">
        {% all_with_prefix extra_footer_ %}
    </div>
{% endblock %}
