{% extends "admin/base.html" %}
{% load i18n grp_tags compress common_media %}

{% block stylesheets %}
{% compress css %}
{{ block.super }}
<link charset="utf-8" rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/admin.less">
{% common_styles %}
{% endcompress %}
{% endblock %}

{% block javascripts %}
{% compress js %}
{{ block.super }}
{% if debug %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.js"></script>
{% else %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.min.js"></script>
{% endif %}
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-dropdown.js"></script>
{% common_scripts %}
{% endcompress %}
{% endblock %}

{% block title %}{{ title }} | {% trans 'OIOIOI Admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name">{% trans 'OIOIOI Admin' %}</h1>
{% endblock %}
