{% extends "base-with-menu.html" %}
{% load i18n static %}

{% block adminhead %}
    {% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
    <title>{% block title %}{% endblock %}</title>
    {% block extrastyle %}{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}

    <style>
        body { padding-top: 67px }
        .submit-row a.deletelink { height: auto }
    </style>
{% endblock %}

{% block main-content %}
    <div id="container">

        {% if not is_popup %}
        <!-- Header -->
        <!-- END Header -->
        {% block breadcrumbs %}
        <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
        {% if title %} &rsaquo; {{ title }}{% endif %}
        </div>
        {% endblock %}
        {% endif %}

        {% block messages %}
        {% endblock messages %}

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">
            {% block pretitle %}{% endblock %}
            <div class="clearfix">
                {% block object-tools %}{% endblock %}
                {% block content_title %}
                    {% if title %}<h1 class="float-left">{{ title }}</h1>{% endif %}
                {% endblock %}
            </div>
            {% block content %}
                {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}
            <br class="clear" />
        </div>
        <!-- END Content -->
    </div>
{% endblock %}
