{% load i18n %}
<a href="#" 
   class="dropdown-item dropdown-toggle d-flex justify-content-between align-items-center filter-toggle"
   role="button"
   data-toggle="collapse"
   data-target="#filter-{{ title|slugify }}"
   aria-expanded="false"
   aria-controls="filter-{{ title|slugify }}">
    <span>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</span>
</a>

<div class="collapse pl-3" id="filter-{{ title|slugify }}">
    {% for choice in choices %}
        <a class="dropdown-item dropdown-item-action filter-option {% if choice.selected %}filter-option-selected{% endif %}" 
           href="{{ choice.query_string|iriencode }}">
           {{ choice.display }}
        </a>
    {% endfor %}
</div>