{% load i18n static admin_urls admin_list  %}
{% if cl.search_fields %}
<form class="form-inline ml-sm-auto" id="changelist-search" method="get">
    <input type="text" class="form-control mr-sm-2 mb-2" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" autofocus{% if cl.search_help_text %} aria-describedby="searchbar_helptext"{% endif %}>
    <input type="submit" class="btn btn-outline-primary mr-2 mb-2" value="{% translate 'Search' %}">
    {% for pair in cl.params.items %}
    {% if pair.0 != search_var %}<input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">{% endif %}
    {% endfor %}

    {% block filters %}
      {% if cl.has_filters %}
        <div class="dropdown">
            <a href="#" class="btn btn-outline-secondary mb-2 dropdown-toggle" id="filtersDropdown" role="button" data-toggle="dropdown" aria-expanded="false">{% trans 'Filter' %}</a>
            <ul class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="filtersDropdown">
              {% for spec in cl.filter_specs %}
                {% admin_list_filter cl spec %}
              {% endfor %}
            </ul>
        </div>
      {% endif %}
    {% endblock %}

    {% if show_result_count %}
      <span class="small quiet mb-2 ml-2">{% blocktranslate count counter=cl.result_count %}{{ counter }} result{% plural %}{{ counter }} results{% endblocktranslate %} (<a href="?{% if cl.is_popup %}{{ is_popup_var }}=1{% endif %}">{% if cl.show_full_result_count %}{% blocktranslate with full_result_count=cl.full_result_count %}{{ full_result_count }} total{% endblocktranslate %}{% else %}{% translate "Show all" %}{% endif %}</a>)</span>
    {% endif %}
</form>
{% endif %}