{% load simple_filters %}

<script type="text/javascript">
    $(function() {
        const dataJSON = "{{ options|jsonify|escapejs }}";

        {% if options.functions %}
            let functions = {{ options.functions|json_parse }};
            const data = JSON.parse(dataJSON, function (key, value) {
                if (functions.hasOwnProperty(value)) {
                    value = new Function(functions[value]);
                }
                return value;
            });
        {% else %}
            const data = JSON.parse(dataJSON);
        {% endif %}

        $('#{{ plot_name_id|escapejs }}').highcharts(data);
    });
</script>

<div id="{{ plot_name_id }}" class="highcharts_plot"></div>
