{% load listutil %}

<script type="text/javascript">
$(function() {
        $('#{{ plot_name_id|escapejs }}').highcharts({
            chart: {type: 'column'},
            title: {text: '{{ plot_name|escapejs }}'},
            xAxis: {categories: [
                  {% for key in keys %}'{{ key|escapejs }}', {% endfor %}
            ]},
            yAxis: {
                min: 0,
                title: {text: '{{ y_axis_title|escapejs }}'}
            },
            plotOptions: { column: {
                    stacking: 'normal',
                    pointPadding: 0.2,
                    borderWidth: 0
            }},
            series: [
             {% for name, row in columns|zip:data %}
                {
                    name: '{{ name|escapejs }}',
                    data: {{ row|escapejs }}
                },
             {% endfor %}
            ]
        });
    });
</script>

<div id="{{ plot_name_id }}" style="min-width: 310px; height: 400px; margin: 0 auto">
<noscript>
   <h3>{{ plot_name }}</h3>
   <table class="table">
       <thead>
           <tr>
               <th></th>
           {% for key in keys %}
               <th>{{ key }}</th>
           {% endfor %}
           </tr>
       </thead>
       <tbody>
           {% for name, row in columns|zip:data %}
           <tr>
               <th>{{ name }}</th>
               {% for value in row %}
               <td>{{ value }}</td>
               {% endfor %}
           </tr>
           {% endfor %}
       </tbody>
   </table>
</noscript>
</div>
