{% extends "base-with-menu.html" %}
{% load i18n pagination_tags %}

{% block title %}{% trans "Monitoring" %}{% endblock %}

{% block main-content %}
    {{ head|safe }}

    <div class="row">
        <div class="col">
            {% include "statistics/_permissions_info.html" %}
        </div>
        <div class="col">
            {% include "statistics/_rounds_info.html" %}
        </div>
        <div class="col">
            {% include "statistics/_general_info.html" %}
        </div>
    </div>
{% endblock %}
