{% load listutil %}

<script type="text/javascript">
$(function() {
        $('#{{ plot_name_id|escapejs }}').highcharts({
            chart: {type: 'scatter', zoomType: 'xy'},
            title: {text: '{{ plot_name|escapejs }}'},
            xAxis: {
                {% if x_min != None %}min: {{ x_min|escapejs }},{% endif %}
                title: {text: '{{ x_axis_title|escapejs }}'}
            },
            yAxis: {
                {% if y_min != None %}min: {{ y_min|escapejs }},{% endif %}
                title: {text: '{{ y_axis_title|escapejs }}'}
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 5,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    }
                }
            },
            series: [
             {% for name, row in series|zip:data %}
                {
                    {% if forloop.first %}
                        color: 'rgba(47, 126, 216, 0.5)',
                    {% endif %}
                    name: '{{ name|escapejs }}',
                    data: {{ row|escapejs }}
                },
             {% endfor %}
            ]
        });
    });
</script>

<div id="{{ plot_name_id }}" style="min-width: 310px; height: 400px; margin: 0 auto">
<noscript>
   <h3>{{ plot_name }}</h3>
   <table class="table">
       <thead>
           <tr>
               <th></th>
               <th>{{ x_axis_title }}</th>
               <th>{{ y_axis_title }}</th>
           </tr>
       </thead>
       <tbody>
           {% for name, row in series|zip:data %}
           {% for x, y in row %}
           <tr>
               <td>{{ name }}</td>
               <td>{{ x }}</td>
               <td>{{ y }}</td>
           </tr>
           {% endfor %}
           {% endfor %}
       </tbody>
   </table>
</noscript>
</div>
