{% load i18n %}

<div class="clearfix">
    <div class="dropdown pull-right">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            Other <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% for link in links %}
                {% if link.object == "" %}
                    {% url 'statistics_view_without_object' contest_id=contest.id category=link.link as address %}
                {% else %}
                    {% url 'statistics_view' contest_id=contest.id category=link.link object_name=link.object as address %}
                {% endif %}
                <li><a href="{{ address }}">{{ link.category_name }} {{ link.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <h1 class="pull-left">
        {% if title %} {{ title }} {% else %} {% trans "Statistics" %} {% endif %}
    </h1>
</div>
