@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";
@import "../bootstrap/less/layouts.less";
@import "../bootstrap/less/navbar.less";
@import "../bootstrap/less/navs.less";
@import "../bootstrap/less/dropdowns.less";
@import "../bootstrap/less/wells.less";
@import "../bootstrap/less/labels-badges.less";
@import "navbar.less";
@import "sidebar.less";
@import "debug_toolbar.less";

.navbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 20px;
    color: #333;

    .brand {
        color: white;
    }
}

#grp-context-navigation {
    top: 42px;
    display: none;
}

#grp-content {
    min-width: 800px;
    width: auto;
    .span-fixed-sidebar;
    top: 40px;
}

#grp-content-container {
    //margin-top: 40px;
}

table.grp-sortable thead th.sortable {
    .grp-sortoptions {
        display: none;
    }
}

.grp-messagelist {
    margin-top: 20px;
}

.grp-changelist-results {
    background-image: none !important;
}

.grp-change-form .grp-module {
    min-width: 680px;
}

.grp-row .vTextField, .grp-row .vURLField, .grp-row .vFileBrowseField, .grp-row textarea, .grp-row .vLargeTextField, .grp-row .vXMLLargeTextField, .grp-autocomplete-wrapper-m2m {
    width: 278px;
}

.grp-fixed-footer > ul {
    .span-fixed-sidebar;
}

#lang_list {
    display: block;
    float: right;
    padding: 10px 10px 12px;
    img {
        margin-right: 1px;
        width: 16px;
        height: 11px;
    }
}

#menu_div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: @textColor;
}

span.subm_admin {
    display: block;
    margin: -8px;
    padding: 8px;
    width: 100%;
    height: 100%;
}

table td, table th {
    font-size: inherit;
    padding: 8px;
}
