@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

.full-bootstrap {
    // Reset styles from grappelli
    @import "../bootstrap/less/reset.less";
    input[type="text"],
    input[type="password"] {
        .box-sizing(content-box);
    }
    input[type="text"],
    input[type="password"],
    .btn {
        height: 30px;
    }
    .btn {
        width: inherit;
    }
    select {
        appearance: menulist;
        -moz-appearance: menulist;
        -webkit-appearance: menulist;
    }
}

@import "../bootstrap/less/layouts.less";
@import "../bootstrap/less/navbar.less";
@import "../bootstrap/less/navs.less";
@import "../bootstrap/less/dropdowns.less";
@import "../bootstrap/less/wells.less";
@import "../bootstrap/less/labels-badges.less";
@import "../bootstrap/less/tooltip.less";
@import "../bootstrap/less/responsive-utilities.less";

// Can't import full component-animation as it has name clash with grappelli
.fade {
    opacity: 0;
    .transition(opacity .15s linear);
    &.in {
        opacity: 1;
    }
}

@import "../bootstrap/less/modals.less";

.full-bootstrap {
    // Import in namespace to prevent name clashes with grappelli
    @import "../bootstrap/less/type.less";
    @import "../bootstrap/less/code.less";
    @import "../bootstrap/less/forms.less";
    @import "../bootstrap/less/sprites.less";
    @import "../bootstrap/less/close.less";
    @import "../bootstrap/less/buttons.less";
    @import "../bootstrap/less/button-groups.less";
    @import "../bootstrap/less/alerts.less";
    @import "../bootstrap/less/progress-bars.less";
    @import "../bootstrap/less/utilities.less";
    #font > .shorthand();
    #font > #family > .sans-serif();
    -webkit-font-smoothing: initial;
}

@import "sidebar.less";
@import "navbar.less";
@import "debug_toolbar.less";

.js-disabled-info {
    background: @red;
    color: @white;
    text-align: center;
}

#grp-context-navigation {
    @media screen {
        top: 42px;
    }

    display: none;
}

#grp-content {
    min-width: 800px;
    width: auto;
    .span-fixed-sidebar;
    top: 45px;

    @media print {
        top: 0;
    }
}

#grp-content-container {
    //margin-top: 40px;
}

table.grp-sortable thead th.sortable {
    .grp-sortoptions {
        display: none;
    }
}

.grp-messagelist {
    margin-top: 20px;
}

.grp-changelist-results {
    background-image: none !important;
}

.grp-change-form .grp-module {
    min-width: 680px;
}

.grp-row .vTextField, .grp-row .vURLField, .grp-row .vFileBrowseField, .grp-row textarea, .grp-row .vLargeTextField, .grp-row .vXMLLargeTextField, .grp-autocomplete-wrapper-m2m {
    width: 278px;
}

/* Below we defuse django-grappelli craziness.
 * Sadly it makes css class names not reflect reality, but it
 * is impossible to fix without changing grapelli templates.
 * Also some grapelli hacks (!important) leak here.
*/

.grp-fixed-footer.grp-module {
    padding: 0px;
    position: static;
    background-image: none;
    margin-top: 5px;
}

li.grp-changelist-actions .grp-horizontal-list li {
    margin-right: 0px;
    border: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

.grp-submit-row.grp-fixed-footer > ul > li {
    margin: 0px 0px 0px 6px !important;
    padding: 0px !important;
    background: none;
}

.grp-submit-row.grp-fixed-footer > ul > li.grp-float-left {
    margin: 0px 6px 0px 0px !important;
}

li.grp-changelist-actions .grp-horizontal-list span {
    color: #000 !important;
    cursor: default !important;
    border: 1px solid #fff !important;
    background: #fff !important;
}

.grp-fixed-footer input[type="submit"]:hover, .grp-fixed-footer input[type="submit"]:focus {
    color: inherit;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fb2d3),color-stop(100%, #309bbf));
    background-image: -moz-linear-gradient(#4fb2d3,#309bbf);
    background-image: -webkit-linear-gradient(#4fb2d3,#309bbf);
    background-image: linear-gradient(#4fb2d3,#309bbf);
}

.grp-fixed-footer a.grp-button.grp-delete-link:hover, .grp-fixed-footer a.grp-button.grp-delete-link:focus, .grp-fixed-footer button.grp-button.grp-delete-link:hover, .grp-fixed-footer button.grp-button.grp-delete-link:focus, .grp-fixed-footer input[type=button].grp-button.grp-delete-link:hover, .grp-fixed-footer input[type=button].grp-button.grp-delete-link:focus {
    color: inherit;
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d34f4f),color-stop(100%, #bf3030));
    background-image: -moz-linear-gradient(#d34f4f,#bf3030);
    background-image: -webkit-linear-gradient(#d34f4f,#bf3030);
    background-image: linear-gradient(#d34f4f,#bf3030);
}


#menu_div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: @textColor;
}

span.subm_admin {
    display: block;
    margin: -8px;
    padding: 8px;
    width: 100%;
    height: 100%;
}

table td, table th {
    font-size: inherit;
    padding: 8px;
}
