#menu_div {
    position: fixed;
    left: 0;
    top: 0;
    width: 230px;
    height: 10000px;
    padding: 60px 10px;
    background: @wellBackground;
    border-right: 1px solid #CCC;
    .box-sizing(border-box);
}

.nav a {
    text-shadow: none;
    color: @linkColor;
    text-decoration: none;
}

.span-fixed-sidebar {
    margin-left: 250px !important;
}

.body-with-menu {
    footer {
        position: fixed;
        bottom: 0;
        min-width: 0;
        width: 210px;
        background: transparent;
        border: none;
        padding: 10px;
        height: auto;
        color: @textColor;
        p {
            margin: 0;
        }
    }

    background: @bodyBackground;
}

div#contestlogo {
    text-align: center;
    margin-bottom: 1.3em;
}


