{% load i18n runtimeformat check_perm %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}

<h4>{% trans "Test run report" %}</h4>

{% if compilation_report.status != 'OK' %}
    <p>{% trans "Compilation failed." %}</p>
    <pre>
        {{ compilation_report.compiler_output }}
    </pre>
{% else %}
<div class="table-responsive-md">
    <table class="table table-sm submission">
        <thead>
            <tr>
                {% block thead_tr %}
                <th class="submission__margin"></th>
                <th>{% trans "Input" %}</th>
                <th>{% trans "Result" %}</th>
                <th>{% trans "Time" %}</th>
                <th>{% trans "Output" %}</th>
                {% endblock %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% block tbody_tr %}
                <td class="submission__margin submission--{{ testrun_report.status }}"></td>
                <td>
                    {% if not input_is_zip %}
                    <button type="button" class="btn btn-xs btn-outline-secondary" data-async-toggle="collapse" data-target="#input_data">
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                    {% endif %}
                    <a role="button" class="btn btn-xs btn-outline-secondary" href="{% url 'download_testrun_input' contest_id=contest.id submission_id=testrun_report.submission_report.submission_id %}">
                        <i class="fa-solid fa-download"></i>
                    </a>
                </td>
                <td class="submission__status submission--{{ testrun_report.status }}">{{ testrun_report.get_status_display }}</td>
                <td>{{ testrun_report.time_used|runtimeformat }}/{{ testrun_report.test_time_limit|runtimeformat }}</td>
                <td>
                    <button type="button" class="btn btn-xs btn-outline-secondary" data-async-toggle="collapse" data-target="#{{ output_container_id_prefix }}{{ testrun_report.id }}">
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                    {% if is_admin %}
                        <a role="button" class="btn btn-xs btn-outline-secondary" href="{% url 'download_specific_testrun_output' contest_id=contest.id submission_id=testrun_report.submission_report.submission_id testrun_report_id=testrun_report.id%}">
                            <i class="fa-solid fa-download"></i>
                        </a>
                    {% else %}
                        <a role="button" class="btn btn-xs btn-outline-secondary" href="{% url 'download_testrun_output' contest_id=contest.id submission_id=testrun_report.submission_report.submission_id %}">
                            <i class="fa-solid fa-download"></i>
                        </a>
                    {% endif %}
                </td>
                {% endblock %}
            </tr>
        </tbody>
    </table>
</div>

{% if testrun_report.comment %}
    <p><strong>{% trans "Comment" %}:</strong> {{ testrun_report.comment }}</p>
{% endif %}

{% block output_collapse %}
{% if is_admin %}
    <div id="{{ output_container_id_prefix }}{{ testrun_report.id }}" class="collapse" data-loadurl="{% url 'get_specific_testrun_output' contest_id=contest.id submission_id=testrun_report.submission_report.submission_id testrun_report_id=testrun_report.id %}">
    </div>
{% else %}
    <div id="{{ output_container_id_prefix }}{{ testrun_report.id }}" class="collapse" data-loadurl="{% url 'get_testrun_output' contest_id=contest.id submission_id=testrun_report.submission_report.submission_id %}">
    </div>
{% endif %}
{% endblock %}

{% endif %}
