{% load i18n %}
{% load runtimeformat %}

<h4>{% trans "Test run report" %}</h4>

{% if compilation_report.status != 'OK' %}
<p>{% trans "Compilation failed." %}</p>
<pre class="hscroll">
{{ compilation_report.compiler_output }}
</pre>
{% else %}
<table class="table auto-width dense space-columns full-grid results">
    <thead>
        <tr>
            <th></th>
            <th class="subm_margin" style="min-width: 80px">{% trans "Input" %}</th>
            <th style="min-width: 200px">{% trans "Result" %}</th>
            <th style="min-width: 110px">{% trans "Time" %}</th>
            <th style="min-width: 80px">{% trans "Output" %}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="subm_margin subm_{{ testrun_report.status }}"></td>
            <td>
                <button type="button" class="btn" data-async-toggle="collapse" data-target="#input_data"><i class="icon-chevron-up"></i></button>
                <a class="btn" href="{% url download_testrun_input contest_id=contest.id submission_id=testrun_report.submission_report.submission.id %}"><i class="icon-download-alt"></i></a>
            </td>
            <td class="subm_status subm_{{ testrun_report.status }}">{{ testrun_report.get_status_display }}</td>
            <td>{{ testrun_report.time_used|runtimeformat }}/{{ testrun_report.test_time_limit|runtimeformat }}</td>
            <td>
                <button type="button" class="btn" data-async-toggle="collapse" data-target="#output_data"><i class="icon-chevron-down"></i></button>
                <a class="btn" href="{% url download_testrun_output contest_id=contest.id submission_id=testrun_report.submission_report.submission.id %}"><i class="icon-download-alt"></i></a>
            </td>
        </tr>
    </tbody>
</table>

{% if testrun_report.comment %}
<div class="test-comments">
    <ul>
        <li>
            <span class="test">{{ testrun_report.comment }}</span>
        </li>
    </ul>
</div>
{% endif %}

<div id="output_data" class="collapse" data-loadurl="{% url get_testrun_output contest_id=contest.id submission_id=testrun_report.submission_report.submission.id %}">
</div>

{% endif %}
