{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Submit solution" %} - {% trans "Test run" %}{% endblock %}

{% block content %}
<script>
$(handle_prog_lang_updates);
</script>
<h2>{% trans "Test run" %}</h2>
<form enctype="multipart/form-data" method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
    </div>
</form>
{% endblock %}
