{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Submit solution" %} - {% trans "Test run" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Test run" %}</h1>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% trans "Submit" %}
        </button>
    </div>
</form>

<script type="text/javascript" src="{{ STATIC_URL }}programs/submit.js"></script>
{% endblock %}
