{% load i18n static %}

<script src="{{ notif_server_url }}socket.io/socket.io.min.js"></script>
<script>
    $(document).ready(function() {
        notificationsClient = new NotificationsClient('{{ notif_server_url }}', '{{ notifications_session_id }}');
    });
</script>

<div id="notifications_panel" class="notifications dropdown">
    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="notifications_dropdown" class="dropdown-toggle" title="{% trans "Recent submissions" %}">
        <i id="notifications_icon" class="text-warning fa-solid fa-bars-progress"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
            {% trans "Recent submissions" %}
            <a href="#" id="notifications_refresh" class="float-right" title="{% trans "Refresh" %}">
                <i class="fa-solid fa-arrows-rotate"></i>
            </a>
        </li>
        <li id="notifications_table">
            <span class="dropdown-item-text">{% trans "Your most recent submissions should appear here in a moment." %}</span>
        </li>
        <li id="notifications_error" style="display: none" class="dropdown-item-text">
            {% trans "Connection to notifications server was lost. You may no longer receive notifications." %}
        </li>
    </ul>
</div>
