{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "notifications/notifications.css" %}">
<script src="{{ notif_server_url }}socket.io/socket.io.js"></script>
<script>
    // temporarily enable Notifications only on condition
    // to enable, type in browser: javascript:$.cookie('notifications', 'true', {path:'/'})
    // and reload the page.
    $(document).ready(function() {
        notificationsClient = new NotificationsClient('{{ notif_server_url }}', '{{ notifications_session_id }}');

        if ($.cookie('notifications') == 'true')
            $('#notifications_panel').show(); });
</script>
<script type="text/javascript" src="{% static "common/notifications.js" %}"></script>

<li id="notifications_panel" class="notifications dropdown" style="display: none">
    <span data-toggle="dropdown" class="label label-primary dropdown-toggle" style="margin-top: 10px; margin-left: 15px" id="notifications_number">...</span>
    <ul class="dropdown-menu notifications-balloon">
        <li>
           <table id="balloon_table_notifications" class="table table-striped table-hover">
           </table>
           <p id="info_no_notifications">You have no new notifications.</p>
        </li>
    </ul>
</li>
