{% load i18n staticfiles %}

<script src="{{ notif_server_url }}socket.io/socket.io.js"></script>
<script>
    $(document).ready(function() {
        notificationsClient = new NotificationsClient('{{ notif_server_url }}', '{{ notifications_session_id }}');
    });
</script>

<div id="notifications_panel" class="notifications dropdown">
    <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="notifications_dropdown" class="dropdown-toggle" title="{% trans "Recent submissions" %}">
        <span id="notifications_icon" class="text-warning glyphicon glyphicon-tasks"></span>
    </a>
    <ul class="dropdown-menu pull-right">
        <li class="dropdown-header">
            {% trans "Recent submissions" %}
            <a href="#" id="notifications_refresh" class="pull-right" title="{% trans "Refresh" %}">
                <span class="glyphicon glyphicon-refresh"></span>
            </a>
        </li>
        <li id="notifications_table">
            {% trans "Your most recent submissions should appear here in a moment." %}
        </li>
        <li id="notifications_error" style="display: none">
            {% trans "Connection to notifications server was lost. You may no longer receive notifications." %}
        </li>
    </ul>
</div>
