sphinx==4.2.0
furo==2021.9.22  # sphinx theme, 2021.9.22 is the latest version that works with old version of pygments
sphinx-autoapi==2.0.0  # sphinx extension https://sphinx-autoapi.readthedocs.io/en/latest/index.html
