@import "scss/utility";

$countdown-height: 10px !default;

$countdown-fill-empty-color: $gray-200 !default;

$countdown-fill-success: $success !default;
$countdown-fill-warning: $warning !default;
$countdown-fill-danger: $danger !default;

.countdown-time {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.countdown-progress {
  @include absolute(100%, 0, auto, 0);

  background: $countdown-fill-empty-color;
  border-radius: 0;
  height: $countdown-height;
}