$oioioi-drop-zone-height: 200px !default;
$oioioi-drop-zone-margin: 5px !default;
$oioioi-drop-zone-border: 3px !default;
$color-error-message: red;
$color-success-message: green;
$color-default-message: gray;

.drop-zone {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.15) 100%);
  & > &__message {
    height: $oioioi-drop-zone-height;
    margin: $oioioi-drop-zone-margin;
    border: $oioioi-drop-zone-border dashed $color-default-message;
    line-height: $oioioi-drop-zone-height;
    font-size: xx-large;
    text-align: center;
    vertical-align: center;
    color: $color-default-message;
  }
  & > &__message--hover {
    color: $color-success-message;
    border-color: $color-success-message;
  }
  & > &__message--error {
    color: $color-error-message;
    border-color: $color-error-message;
  }
}

