@import "../bootstrap/less/variables.less";
@import "../bootstrap/less/mixins.less";

@submRed: #ffbbbb;
@submYellow: #ffd894;

td.subm_margin {
    width: 7px;
    padding: 0;

    &.subm_WA, &.subm_RE, &.subm_RV {
        #gradient > .horizontal(@submRed, rgba(255,204,204,0));
    }

    &.subm_CE, &.subm_MLE, &.subm_TLE, &.subm_OLE {
        #gradient > .horizontal(@submYellow, rgba(255,216,148,0));
    }
}

.subm_status {
    &.subm_WA, &.subm_RE, &.subm_RV{
        background: lighten(@submRed, 5%);
    }

    &.subm_CE, &.subm_MLE, &.subm_TLE, &.subm_OLE {
        background: lighten(@submYellow, 5%);
    }
}

