@import "bootstrap/stylesheets/_functions";
@import "bootstrap/stylesheets/_variables";
@import "bootstrap/stylesheets/mixins/_breakpoints";
@import "bootstrap/stylesheets/mixins/_border-radius";
@import "bootstrap/stylesheets/mixins/_hover";
@import "bootstrap/stylesheets/_card";

.test-actions {
  visibility: hidden;
}

.test-actions-toggler:hover {
  .test-actions {
    visibility: visible;
  }
}

.table-report {
  // In table-report with table-responsive firefox makes new line for
  // test-actions used with float-right on sm display.
  // This is a workaround for this.
  .fix-float-right {
    white-space: normal !important;
  }
  .group-score {
    vertical-align: middle;
  }
}

.force-text-right {
  text-align: right !important;
}

.submission-admin {
  display: block;
  padding: ($spacer * .5);
  margin: (-$spacer * .5);
}

.syntax-highlighttable {
  // Collapse the border between line numbers and code.
  // (...) (...) -> (...|...)
  td.linenos {
    & > .linenodiv {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: none;
    }
    padding-right: 0;
  }
  td.code {
    & > .syntax-highlight {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    padding-left: 0
  }

  // Disallow selecting line numbers. We disable pointer events so that a mouse
  // drag starting over this element will still select other elements
  // (especially the code).
  .linenos {
    user-select: none;
    pointer-events: none;
  }

  // Slightly grayer text.
  .linenos pre {
    color: $text-muted;
  }

  pre {
    margin-bottom: 0;
  }

  .linenodiv, .syntax-highlight {
    @extend .card;
    // Should be @extend .bg-light
    // but it requires whole bootstrap to be included
    // which increases bundle size dramatically
    background-color: #f8f9fa !important;
    padding: ($spacer * 0.5);
  }
}

.diff-highlight {
  pre {
    margin-bottom: 0;
  }

  &.line-numbers, &.code {
    @extend .card;
    // Should be @extend .bg-light
    // but it requires whole bootstrap to be included
    // which increases bundle size dramatically
    background-color: #f8f9fa !important;
    padding: ($spacer * 0.5);
  }
}
