@import "scss/style";

.test-actions {
  visibility: hidden;
}

.test-actions-toggler:hover {
  .test-actions {
    visibility: visible;
  }
}

.table-report {
  // In table-report with table-responsive firefox makes new line for
  // test-actions used with float-right on sm display.
  // This is a workaround for this.
  .fix-float-right {
    white-space: normal !important;
  }
  .group-score {
    vertical-align: middle;
  }
}

.force-text-right {
  text-align: right !important;
}

.submission-admin {
  display: block;
  padding: 10px !important;
  margin: -10px !important;
}
