{% extends "programs/submission_header.html" %}
{% load i18n %}
{% block program_controls %}
<div class="clearfix">
    <div class="pull-right">
        {% if can_admin and submission.valid_kinds_for_submission %}
            <div class="btn-group">
                <button class="btn btn-sm btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-tags"></span>
                    {% trans "Change kind" %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for value, description in submission.valid_kinds_for_submission %}
                        <li>
                            <a href="#"
                               data-post-url="{% url 'change_submission_kind' submission_id=submission.submission.id kind=value %}">
                                <span class="glyphicon glyphicon-tag"></span>
                                {{ description }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if can_admin %}
            <div class="btn-group">
                <button class="btn btn-sm btn-default dropdown-toggle"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-repeat"></span>
                    {% trans "Rejudge" %}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"
                           data-post-url="{% url 'rejudge_submission' submission_id=submission.submission.id %}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            {% trans "Normal rejudge" %}
                        </a>
                    </li>
                    {% for link, name in supported_extra_args.items %}
                        <li>
                            <a href="#"
                               data-post-url="{% url 'rejudge_submission' submission_id=submission.submission.id %}?{{ link }}=true">
                                <span class="glyphicon glyphicon-eye-close"></span>
                                {{ name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <h1 class="pull-left">{% trans "Submission" %} {{ submission.submission.id }}</h1>
</div>
{% endblock %}

