{% extends "simple-centered.html" %}
{% load i18n %}

{% block title %}{% trans "Account activation" %}{% endblock %}

{% block content %}
    <div class="alert alert-danger text-center">
        <h1>{% trans "Account activation unsuccessful" %}</h1>
        <p>{% blocktrans %}The activation link was invalid.{% endblocktrans %}</p>
        <p>
            {% blocktrans trimmed %}Please make sure that you correctly copied the entire link
            from the email to the web browser address bar.{% endblocktrans %}
        </p>
    </div>
{% endblock %}
