{% extends "simple-centered.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm deletion" %}{% endblock %}

{% block content %}
    <div class="alert alert-danger text-center">
        <h1>{% trans "Confirm deletion" %}</h1>
        <p>{% trans "You are going to delete your account. It cannot be undone." %}
        <p>{% trans "Are you sure?" %}
        <form method="post" class="empty-space-filler">
            {% csrf_token %}
            <input type="hidden" name="post" value="yes" />
            <div class="btn-group">
                <button type="submit" class="btn btn-danger">
                    {% trans "Yes, I'm sure" %}
                </button>
                <button type="button" class="btn btn-default" onclick="history.back()">
                    {% trans "No, go back" %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
