{% extends "base.html" %}

{% load i18n simple_filters %}

{% block body %}
    <div class="row">
        <div class="well col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <div class="text-center">
                        <h1>{% trans "Log in" %}</h1>
                    </div>
                </div>

                {% if form.non_field_errors %}
                    <div class="form-group">
                        <div class="col-xs-12">
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">{% trans "Error" %}:</span>
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

                {% for field in form.visible_fields %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {% if display_labels != False %}
                            <label for="{{ field.auto_id }}" class="col-sm-4 control-label">
                                {{ field.label }}
                            </label>
                        {% endif %}
                        <div class="col-sm-8">
                            {{ field | add_class:"form-control" }}
                            {% for error in field.errors %}
                                <div class="help-block">{{ error }}</div>
                            {% endfor %}
                            {% if field.help_text %}
                                <div class="help-block">{{ field.help_text }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button id="id_submit" type="submit" class="btn btn-primary">
                            {% trans "Log in" %}
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <p><a href="{% url 'auth_password_reset' %}">{% trans "Forgot password?" %}</a></p>
                        <p><a href="{% url 'registration_register' %}">{% trans "Want to create an account?" %}</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
