{% extends "simple-centered-form-ready.html" %}
{% load i18n %}

{% block title %}{% trans "Enter new password" %} - {% trans "Password reset" %}{% endblock %}

{% block content %}
    {% if validlink %}
        <h1>{% trans "Enter new password" %}</h1>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form method="post">
            {% csrf_token %}
            {% include "ingredients/form.html" %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    {% trans "Change my password" %}
                </button>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger text-center">
            <h1>{% trans "Password reset unsuccessful" %}</h1>
            <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
        </div>
    {% endif %}
{% endblock %}
