{% extends "simple-centered.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h1>{% trans 'Enter new password' %}</h1>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">
    {% csrf_token %}
    <fieldset>
        {% include "ingredients/form.html" %}
    </fieldset>
    <div class="actions">
        <input type="submit" class="btn primary"
            value="{% trans 'Change my password' %}" />
    </div>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
