{% extends "simple-centered-form-ready.html" %}
{% load i18n %}

{% block title %}
    {% if not user.is_authenticated %}
    {% trans "Sing-up" %}
    {% else %}
    {% trans "Edit your profile" %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
        <h1>{% trans "Sign-up" %}</h1>
    {% else %}
        <h1>{% trans "Edit your profile" %}</h1>
    {% endif %}

    {% if not form.instance %}
        <p>{% trans "Please fill the form below to sign up." %}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% include "ingredients/form.html" %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            {% if user.is_authenticated %}
                <a role="button" href="/delete_account" class="btn btn-danger float-right">{% trans "Delete account" %}</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
