{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block title %}{% trans "Solutions" %}{% endblock %}
{% block main-content %}
<div class="clearfix">
    {% if not request.user.is_anonymous and may_publish_any %}
        <div class="pull-right">
            <a role="button" class="btn btn-outline-secondary"
                href="{% url 'publish_solutions' contest_id=contest.id %}">
                Publish your solutions
            </a>
        </div>
    {% endif %}
    <h1 class="pull-left">{% trans "Solutions" %}</h1>
</div>

<div class="message-filter">
<form>
    {% include "ingredients/form.html" with focus=False %}
</form>
<script>
    $(function() {
        $("#{{ form.category.auto_id }}").change(function(){
            this.form.submit();
        });
    });
</script>
</div>


{% if submissions %}
    {% autopaginate submissions submissions_on_page %}
    {% paginate %}
    {% include "publicsolutions/solutions_table.html" %}
    {% paginate %}
{% else %}
<p align="left">
    {% blocktrans %}No public solutions yet.{% endblocktrans %}
</p>
{% endif %}
{% endblock %}

