{% load i18n get_user_name %}
<table class="{% block table-classes %}table auto-width dense space-columns{% endblock %}">
    <thead>
        <tr>
            <th style="min-width: 120px">{% trans "Problem" %}</th>
            <th style="min-width: 120px">{% trans "Contestant" %}</th>
            <th style="min-width: 40px">{% trans "Score" %}</th>
            <th>{% trans "Operations" %}</th>
            {% block more-headers-after %}{% endblock %}
        </tr>
    </thead>
    <tbody>
        {% for submission in submissions %}
        {% url 'show_submission_source' contest_id=contest.id submission_id=submission.id as link %}
        <tr>
            <td>{{ submission.problem_instance }}</td>
            <td>{% public_name submission.user %}</td>
            <td>{{ submission.get_score_display|default_if_none:"&ndash;" }}</td>
            <td><a href="{{ link }}">{% trans "solution" %}</a></td>
            {% block more-columns-after %}{% endblock %}
        </tr>
        {% endfor %}
    </tbody>
</table>
