{% extends "base-with-menu.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load check_perm %}

{% block title %}{% trans "Tests" %}{% endblock %}

{% block main-content %}
    <h2>{% trans "Tests" %}</h2>
    {% if tests %}
        {% autopaginate tests tests_on_page %}
        {% paginate %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans "File" %}</th>
                            <th>{% trans "Description" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for test in tests %}
                        <tr>
                            <td><a href="{{ test.link }}">{{ test.name }}</a></td>
                            <td>{{ test.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% paginate %}
    {% else %}
        <div class="alert alert-info">
            {% blocktrans %}No tests are available.{% endblocktrans %}
        </div>
    {% endif %}
{% endblock %}
