{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<form enctype="multipart/form-data" method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {% if is_reply %}
        <div class="control-group">
            <label for="id_enquirer" class="control-label">{% trans "Enquirer" %}</label>
            <div class="controls">
                <label id="id_enquirer">{{ question.author.username }}{% if question.author.get_full_name %} ({{ question.author.get_full_name }}){% endif %}</label>
            </div>
        </div>
    {% endif %}
    {% include "ingredients/form.html" %}
    {% if is_announcement %}
    <div class="control-group">
        <div class="controls">
            {% blocktrans %}The announcement will be visible immediately.{% endblocktrans %}
        </div>
    </div>
    {% endif %}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
    </div>
</form>
{% if is_reply %}
<script type="text/javascript">
    $(function() {
        var elem = $('textarea#id_content');
        var content = elem.val() + '\n\n';
        /* This moves the cursor to the end. */
        elem.focus().val('').val(content);
    });
</script>
{% endif %}
{% endblock %}
