{% load i18n %}

{% for error in all_errors %}
    <div class="alert alert-danger" role="alert">
        <span class="visually-hidden">{% trans "Error" %}:</span>
        {{ error | escape }}
    </div>
{% endfor %}
<div class="questions-filter breadcrumb pt-2 pb-0 mb-3">
    <form enctype="multipart/form-data" class="form-inline form-wide">
        {% include "ingredients/form.html" with focus=False inline=True %}
        <button type="button" class="btn btn-outline-secondary mb-2" onclick="location.href = location.origin + location.pathname"
                {% if are_all_values_default %} disabled {% endif %}>
            {% trans "Clear filters" %}
        </button>
    </form>
    <script>
        $(function() {
            const submit = function() { this.form.submit(); };
            $("#{{ form.category.auto_id }}").change(submit);
            $("#{{ form.message_type.auto_id }}").change(submit);
        });
    </script>
</div>
