{% load i18n check_perm get_user_name compress %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}


<div class="table-responsive">
    <table class="{% block table-classes %}table{% endblock %}">
        <thead>
            <tr>
                {% if not hide_author %}<th>{% trans "Author" %}</th>{% endif %}
                <th>{% trans "Date" %}</th>
                {% if is_admin %}
                <th>{% trans "Publication date" %}</th>
                {% endif %}
                <th>{% trans "Category" %}</th>
                <th>{% trans "Topic" %}</th>
                {% if is_admin %}
                <th>{% trans "Kind" %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            {% with record.message as msg %}
            {% url 'message' contest_id=contest.id message_id=record.link_message.id as link %}
            <tr class="{% if record.needs_reply %}danger{% elif is_admin and msg.kind == 'PUBLIC' %}info{% endif %}">
                {% if not hide_author %}<td>{% full_name msg.author %}</td>{% endif %}
                {% if is_admin %}
                    <td><a href="{{ link }}">{{ msg.date }}</a></td>
                    <td>{% if msg.pub_date %}<a href="{{ link }}">{{ msg.pub_date }}</a>{% endif %}</td>
                {% else %}
                    <td><a href="{{ link }}">{{ msg.get_user_date }}</a></td>
                {% endif %}
                <td>{{ msg.problem_instance|default_if_none:_("General") }}</td>
                <td>
                    {% if not record.read and not is_admin %}
                        <span class="label label-info" id="new-msg-label">{% trans "NEW" %}</span>
                    {% endif %}
                    <a href="{{ link }}">{{ msg.topic|truncatechars:80 }}</a>
                </td>
                {% if is_admin %}
                    <td>
                        <span class="label {% if record.needs_reply %}label-danger{% else %}label-default{% endif %}">
                            {{ msg.kind }}
                        </span>
                    </td>
                {% endif %}
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div>