{% extends "base-with-menu.html" %}
{% load i18n %}
{% load check_perm %}
{% load pagination_tags %}

{% block title %}{% trans "Questions and announcements" %}{% endblock %}

{% block content %}
<h2>{% trans "Questions and announcements" %}</h2>
{% check_perm 'contests.contest_admin' for contest as is_admin %}
{% if user.is_authenticated %}
<div class="corner-icons">
    <ul>
        <li><a class="btn btn-small" href="{% url 'add_contest_message' contest_id=contest.id %}">
            {% if is_admin %}
            <i class="icon-comment"></i> {% trans "Add announcement" %}</a></li>
            {% else %}
            <i class="icon-question-sign"></i> {% trans "Ask a question" %}</a></li>
            {% endif %}
    </ul>
</div>
{% endif %}
{% if records %} <div class="paginated-list"> {% endif %}
    <div class="message-filter">
        <form enctype="multipart/form-data" action="" class="form-horizontal">
            {% include "ingredients/form.html" with focus=False %}
        </form>
        <script>
            $(function() {
                $("#{{ form.category.auto_id }}").change(function(){
                    this.form.submit();
                });
                {% if is_admin %}
                    $("#{{ form.author.auto_id }}").attr("autocomplete", "off").typeahead({
                        source: function(query, process) {
                            $.getJSON("{% url 'get_messages_authors' contest_id=contest.id %}", {substr: query}, process);
                        },
                        items: {{ num_hints }}
                    });
                {% endif %}
            });
        </script>
    </div>
{% if records %}
    {% autopaginate records questions_on_page %}
    {% paginate %}
    {% include "questions/list_table.html" %}
    {% paginate %}
</div>
{% else %}
<div class="empty-space-filler">
    {% blocktrans %}No questions/announcements yet.{% endblocktrans %}
</div>
{% endif %}
{% endblock %}
