{% extends "base-with-menu.html" %}
{% load i18n %}
{% load check_perm %}
{% load pagination_tags %}

{% block title %}{% trans "Questions and news" %}{% endblock %}

{% block main-content %}
    <div class="clearfix">
        {% if user.is_authenticated %}
            <div class="pull-right">
                {% check_perm 'contests.contest_admin' for contest as is_admin %}
                {% if is_admin %}
                    <a role="button" class="btn btn-sm btn-default"
                        href="{% url 'add_contest_message' contest_id=contest.id %}">
                        <span class="glyphicon glyphicon-comment"></span>
                        {% trans "Add news" %}
                    </a>
                    <a role="button" class="btn btn-sm btn-default"
                        href="{% url 'oioioiadmin:questions_replytemplate_changelist' %}">
                        <span class="glyphicon glyphicon-pencil"></span>
                        {% trans "Edit reply templates" %}
                    </a>
                {% elif categories %}
                    <a role="button" class="btn btn-sm btn-default"
                        href="{% url 'add_contest_message' contest_id=contest.id %}">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        {% trans "Ask a question" %}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        <h1 class="pull-left">{% trans "Questions and news" %}</h1>
    </div>

    <div class="message-filter questions_filter">
        <form enctype="multipart/form-data" class="form-inline">
            {% include "ingredients/form.html" with focus=False inline=True %}
        </form>
        <script>
            $(function() {
                $("#{{ form.category.auto_id }}").change(function(){
                    this.form.submit();
                });
            });
        </script>
    </div>
    {% if records %}
        {% autopaginate records questions_on_page %}
        {% paginate %}
        {% include "questions/list_table.html" %}
        {% paginate %}
    {% else %}
        <p class="text-center">
            {% blocktrans %}No questions or news yet.{% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
