{% extends "base-with-menu.html" %}
{% load i18n check_perm %}

{% block title %}{{ message.topic }} - {% trans "Questions and announcements" %}{% endblock %}

{% block content %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}
<h3 class="message_topic">
    {% if message.problem_instance %}{{ message.problem_instance.problem }}{% else %}{% trans "General" %}{% endif %}:
    {{ message.topic }}
</h3>
{% if is_admin %}
<div class="corner-icons">
    <ul>
        <li><a class="btn btn-small" href="{% url 'oioioiadmin:auth_user_change' message.author_id %}">
            <i class="icon-user"></i> {% trans "Display user" %}</a></li>
        {% if message.can_have_replies %}
        <li><a class="btn btn-small" href="{% url 'message_reply' contest_id=contest.id message_id=reply_to_id %}">
            <i class="icon-pencil"></i> {% trans "Reply" %}</a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
{% include "questions/single_message.html" with message=message is_reply=False has_replies=replies %}
{% for message in replies %}
{% include "questions/single_message.html" with message=message is_reply=True has_replies=False %}
{% endfor %}
{% endblock %}
