{% extends "base-with-menu.html" %}
{% load i18n check_perm %}

{% block title %}{{ message.topic }} - {% trans "Questions and news" %}{% endblock %}

{% block scripts %}
{{ block.super }}
{% if form %}{{ form.media }}{% endif %}
{% endblock %}

{% block main-content %}
{% check_perm "contests.contest_admin" for contest as is_admin %}

<div class="clearfix">
    {% if is_admin %}
        <div class="float-right">
            {% if message.kind == 'QUESTION' %}
                {% if message.marked_read_by %}
                    <a role="button" class="btn btn-sm btn-outline-secondary" data-post-url="{% url 'mark_question_unread' contest_id=request.contest.id message.id %}">
                        <i class="fa-solid fa-eye-slash"></i>
                        {% trans "Mark unread" %}
                    </a>
                {% else %}
                    <a role="button" class="btn btn-sm btn-outline-secondary" data-post-url="{% url 'mark_question_read' contest_id=request.contest.id message.id %}">
                        <i class="fa-solid fa-eye"></i>
                        {% trans "Mark read" %}
                    </a>
                {% endif %}
            {% endif %}
            <a role="button" class="btn btn-sm btn-outline-secondary" href="{% url 'user_info' message.author_id %}">
                <i class="fa-solid fa-user"></i>
                {% trans "Display user" %}
            </a>
            {% if message.can_have_replies %}
                <a role="button" class="btn btn-sm btn-outline-secondary" href="javascript:scroll_and_focus('#id_content');">
                    <i class="fa-solid fa-pencil"></i>
                    {% trans "Reply" %}
                </a>
            {% endif %}
        </div>
    {% endif %}
    <h1 class="message_topic float-left">
        {% if message.problem_instance %}{{ message.problem_instance.problem }}{% else %}{% trans "General" %}{% endif %}:
        {{ message.topic }}
    </h1>
</div>


{% if is_admin %}
<script type="text/javascript">
    var alertText = '<div class="alert alert-info" id="alert_%id%">' +
        '<h4>{% trans "New answer available" %}' + '</h4><p class="oioioi-message__body">' + '%content%' + '</p>' +
        '<p><button type="button" class="btn btn-info" onclick="new_answer_reload_page()">' +
        '{% trans "Reload page" %}' + '</button> ' +
        '<button type="button" class="btn btn-info" onclick="dismissNewMessageAlert(%id%)">' +
        '{% trans "Dismiss" %}' +
        '</button><p></div>';

    $(function() {
        $("#disabled-text").hide();
    });
    $(function() {
        beginCheckAnswersInMeantime('{% url 'check_new_messages' contest_id=contest.id topic_id=message.id %}', {{ timestamp }});
    });
</script>
{% endif %}

{% include "questions/single_message.html" with message=message is_reply=False has_replies=replies show_icon_hyperlink=False is_new=False %}
{% for message in replies %}
{% include "questions/single_message.html" with message=message is_reply=True has_replies=False show_icon_hyperlink=False is_new=False %}
{% endfor %}

{% if form %}
<div class="oioioi-message--reply">
    <p class="oioioi-message__info oioioi-message__info--new">
        <span class="oioioi-message__badge badge badge-secondary">{% trans "New reply" %}</span>
    </p>
    <form enctype="multipart/form-data" id="reply_form" method="post">
        {% csrf_token %}
        {% include "ingredients/form.html" with focus=False %}
        <div class="form-group">
            <div class="include-template btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle"
                    data-toggle="dropdown" tabindex="-1" aria-expanded="false">
                    <i class="fa-solid fa-pencil"></i>
                    {% trans "Include template" %} <span class="caret"></span>
                </button>
                <div class="dropdown-menu template-replies">
                    <script>
                        $(function() {
                            get_reply_templates("{% url 'get_reply_templates' contest_id=contest.id %}",
                                                "{% url 'increment_template_usage' contest_id=contest.id %}");
                        });
                    </script>
                </div>
            </div>
            <button type="button" tabindex="-1" id="respond_inline" class="btn btn-outline-secondary btn-sm" onclick="add_question_content();">
                <i class="fa-solid fa-pencil"></i>
                {% trans "Respond inline" %}
            </button>
        </div>
        <div id="alerts"></div>
        <div class="form-group">
            <input type="hidden" id="just_reload" name="just_reload" value="no">
            <input type="submit" id="submitter" class="btn btn-primary" value="{% trans "Submit" %}">
            <div class="float-right checkbox">
                <label for="id_fake_save_template">
                    <input id="id_fake_save_template" name="fake_save_template" type="checkbox">
                    {% trans "Save as template" %}
                </label>
                <script>
                    $(function() {
                        $('#id_fake_save_template').change(function() {
                            $('#id_save_template').val(this.checked);
                        });
                    });
                </script>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}
