{% load i18n check_perm get_user_name %}
{% check_perm "contests.contest_basicadmin" for contest as is_admin %}

<div class="oioioi-message {% if is_reply %}oioioi-message--reply {% endif %}{% if message.kind == 'PUBLIC' %}oioioi-message--reply-public {% endif %}{% if has_replies %}oioioi-message--has-replies{% endif %}">
    <p class="oioioi-message__info">
        <span class="oioioi-message__badge badge {% if record.needs_reply and is_admin %}badge-danger{% elif message.kind == 'PUBLIC' %}badge-secondary{% elif message.kind == 'PRIVATE' %}badge-light{% else %}badge-primary{% endif %}">
            {{ message.get_kind_display }}
        </span>
        {% if is_new %}
            <span class="oioioi-message__badge badge badge-danger">{% trans "NEW" %}</span>
        {% endif %}
        <small class="oioioi-message__postinfo text-muted">
            {% full_name message.author %} |
            <span class="oioioi-message__timestamp">
                {% if is_admin %}
                    {{ message.date }}{% if message.pub_date %}, {% trans "publication" %} {{ message.pub_date }}{% endif %}
                {% else %}
                    {{ message.get_user_date }}
                {% endif %}
            </span>
            {% if is_admin and message.marked_read_by %}
            | {% trans "Marked read by " %} {% full_name message.marked_read_by %}
            {% endif %}
        </small>
        {% if is_admin %}
            <span class="oioioi-message__actions float-right">
                {% if show_icon_hyperlink %}
                    <a class="oioioi-message__action" href="{% url "message" message.id %}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                {% endif %}
                <a class="oioioi-message__action" href="{% url "oioioiadmin:questions_message_change" message.id %}">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a class="oioioi-message__action" href="{% url "oioioiadmin:questions_message_delete" message.id %}">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </span>
        {% endif %}
    </p>
    <p class="oioioi-message__body">{{ message.content|urlize }}</p>
    {% if not is_reply %}
        <div class="d-none message_to_quote">{{ message.to_quote }}</div>
    {% endif %}
</div>
