{% load i18n check_perm get_user_name %}
{% check_perm "contests.contest_admin" for contest as is_admin %}

<div class="oioioi-message {% if is_reply %}oioioi-message--reply {% endif %}{% if message.kind == 'PUBLIC' %}oioioi-message--reply-public {% endif %}{% if has_replies %}oioioi-message--has-replies{% endif %}">
    <p class="oioioi-message__info">
        <span class="oioioi-message__label label {% if record.needs_reply %}label-danger{% else %}label-default{% endif %}">
            {{ message.get_kind_display }}
        </span>
        <small class="oioioi-message__postinfo text-muted">
            {% full_name message.author %} |
            <span class="oioioi-message__timestamp">
                {% if is_admin %}
                    {{ message.date }}{% if message.pub_date %}, {% trans "publication" %} {{ message.pub_date }}{% endif %}
                {% else %}
                    {{ message.get_user_date }}
                {% endif %}
            </span>
        </small>
        {% if is_admin %}
            <span class="oioioi-message__actions pull-right">
                <a class="oioioi-message__action" href="{% url "oioioiadmin:questions_message_change" message.id %}">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a class="oioioi-message__action" href="{% url "oioioiadmin:questions_message_delete" message.id %}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </span>
        {% endif %}
    </p>
    <p class="oioioi-message__body">{{ message.content|urlize }}</p>
    {% if not is_reply %}
        <div class="hidden message_to_quote">{{ message.to_quote }}</div>
    {% endif %}
</div>
