{% load i18n check_perm %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}

<div class="message {% if is_reply %}message_reply {% endif %}{% if is_admin %}admin {% endif %}{% if message.kind == 'PUBLIC' %}message_reply_public {% endif %}{% if has_replies %}message_has_replies{% endif %}">
    {% if is_admin %}
    <div class="message_actions">
        <a class="action" href="{% url 'oioioiadmin:questions_message_change' message.id %}"><i class="icon-edit"></i></a>
        <a class="action" href="{% url 'oioioiadmin:questions_message_delete' message.id %}"><i class="icon-remove"></i></a>
    </div>
    {% endif %}
    <div class="message_container">
        <p class="message_info">
        {% if is_admin %}
            {{ message.author.username }} ({{ message.author.get_full_name }})
        {% else %}
            {{ message.author.get_full_name }}
        {% endif %}
        | <span class="message_timestamp">{{ message.date }}</span>
        <span class="label {% if record.needs_reply %}label-important{% endif %}">{{ message.get_kind_display }}</span>
        </p>
        <p class="message_body">{{ message.content|urlize }}</p>
        {% if not is_reply %}
            <div style="display: none" class="message_to_quote">{{ message.to_quote }}</div>
        {% endif %}
    </div>
</div>
