{% load i18n %}
<li class="dropdown">
    <a class="dropdown-toggle" id="admin-clock" data-toggle="dropdown" href="#">
        <span id="admin-time-label" class="label label-inverse" {% if not is_admin_time_set %}style="display: none;"{% endif %}>{% trans "Admin time" %}</span>
        <span id="clock">{{ current_time }}</span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu"><li class="dropdown-form">
        <form  action="{% url admin_time %}" method="post">
            {% csrf_token %}
            <div style="display: none">
                <input type="hidden" name="next" value="{{ path }}">
            </div>
            <label for="admin-time">{% trans "Admin time:" %}</label>
            <label for="admin-time">(yyyy-mm-dd hh:mm:ss)</label>
            <input type="text" id="admin-time" name="admin-time" />
            <div>
                <button class="btn btn-primary" type="submit" name="ok-button">{% trans "Ok" %}</button>
                <button class="btn btn-primary" type="submit" name="reset-button">{% trans "Reset" %}</button>
            </div>
        </form>
    </li></ul>
</li>
