{% load i18n %}

<h2>{% if existing_problem %}{% blocktrans with existing_problem as name %}Update problem {{ name }}{% endblocktrans %}{% else %}{% trans "Add problem" %}{% endif %}</h2>
{% if tabs|length > 1 %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        {% for tab in tabs %}
        <li {% if tab.obj == current_tab %}class="active"{% endif %}><a href="{{ tab.link }}">{{ tab.obj.short_description }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
        {{ content }}
    </div>
</div>
{% else %}
{{ content }}
{% endif %}
