{% load i18n pagination_tags %}

{% if files %}
<div class="paginated-list">
{% autopaginate files files_on_page %}
{% paginate %}
<table class="table auto-width row-links">
    <thead>
        <tr>
            {% if add_category_field %}
            <th style="min-width: 100px">{% trans "Category" %}</th>
            {% endif %}
            <th style="min-width: 100px">{% trans "File" %}</th>
            <th style="min-width: 300px">{% trans "Description" %}</th>
            {% if is_admin and show_pub_dates %}
            <th style="min-width: 100px">{% trans "Publication date" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            {% if add_category_field %}
            <td>{{ file.category }}</td>
            {% endif %}
            <td><a href="{{ file.link }}">{{ file.name }}</a></td>
            <td>{{ file.description }}</td>
            {% if is_admin and show_pub_dates %}
            <td>{% if file.pub_date %}{{ file.pub_date }}{% endif %}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% paginate %}
</div>
{% else %}
<div class="empty-space-filler">
    {% blocktrans %}No files are available.{% endblocktrans %}
</div>
{% endif %}
