{% load i18n %}

<div class="alert alert-info">
    {% blocktrans %}<p>Oops, problem statement is not available online.
    <p>Please ask the organizers to provide it in some other way.
    {% endblocktrans %}
</div>

{% if can_admin_problem %}
<div class="text-center bottom-text">
    {% blocktrans %}<p>Problem's author: </p>{% endblocktrans %}
    <p>{{ problem.author.first_name }} {{problem.author.last_name}} ({{problem.author.username}})</p>
    <p><a href="mailto:{{problem.author.email}}">Send e-mail to the author</a></p>
</div>
{% endif %}
