{% load i18n %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'problems/progress.css' %}" />

<form id="secret-key-form" enctype="multipart/form-data" method="post" action="" class="form-vertical submit-once">
    {% csrf_token %}

    <div class="form-group">
            <a type="button" class="btn btn-info btn-lg" href="{% url 'problemset_main' %}" style="margin-bottom:5px;">
                {% trans "Choose problem from problemset" %}
            </a>
            <p><a href="#" id="show-secret-key">{% trans "I have a secret key!" %}</a></p>
            <div id="secret-key-form-more" class="hide form-actions">
                <div class="form-group {% if form.url_key.errors %}error{% endif %}">
                    <label for="{{ form.url_key.auto_id }}" class="control-label">{{ form.url_key.label }}</label>
                    <div class="controls">
                       {{ form.url_key }}
                    </div>
                    {% for error in form.url_key.errors %}
                    <span class="help-inline">{{ error }}</span>
                    {% endfor %}
                    {% if form.url_key.help_text %}
                    <p class="help-block">{{ form.url_key.help_text }}</p>
                    {% endif %}
                </div>
                <button form="secret-key-form" id="secret-key-submit" type="submit" class="btn btn-primary long-job">
                    {% trans "Submit" %}
                </button>
            </div>
    </div>
</form>

<script type="text/javascript" src="{% static 'problems/problemset_source.js' %}"></script>