{% load i18n simple_filters %}

<p>
    {% blocktrans %}
    Use this option only when you have to quickly replace problem statement.
    Note that the changes are temporary and don't alter the problem package.
    If you need permanent changes, use the option
    {% endblocktrans %}
    <a href="{% url 'problem_site' site_key=problem.problemsite.url_key %}?key=manage_files_problem_package">
        {% trans "Manage package files" %}.
    </a>
</p>

{% include "problems/ingredients/document-replace-form.html" with
    title=_("Replace statement")
    form=statement_form
    form_type="statement"
    button_label=_("Submit statement")
%}

{% include "problems/ingredients/document-replace-form.html" with
    title=_("Replace editorial")
    form=editorial_form
    form_type="editorial"
    button_label=_("Submit editorial")
%}
