{% load i18n %}


<div class="row settings-row d-none d-lg-flex">

    {#  Adding problem to contest  #}
    <div class="settings-group col-lg-4">
        {% include 'problems/ingredients/add-to-contest-panel.html' %}
    </div>

    {#  Management buttons  #}
    <div class="settings-group col-lg-3">
        {% include 'problems/ingredients/action-btn-panel.html' %}
    </div>

</div>

<div class="row settings-row d-none d-md-flex d-lg-none">

    {#  Adding problem to contest  #}
    <div class="settings-group col-md-7">
        {% include 'problems/ingredients/add-to-contest-panel.html' %}
    </div>

    {#  Management buttons  #}
    <div class="settings-group col-md-5">
        {% include 'problems/ingredients/action-btn-panel.html' %}
    </div>

</div>

<div class="row settings-row d-md-none">

    {#  Management buttons  #}
    <div class="settings-group col-sm-12">
        {% include 'problems/ingredients/action-btn-panel.html' %}
    </div>

</div>

<div class="row settings-row d-md-none">

    {#  Adding problem to contest  #}
    <div class="settings-group col-sm-12">
        {% include 'problems/ingredients/add-to-contest-panel.html' %}
    </div>

</div>

<div class="row settings-row">

    {#  Model solutions panel  #}
    <div class="settings-group col-lg-12">
        <div class="settings-item">
            <h4 class="text-center item-title">{% trans "Model solutions" %}</h4>
            {% include 'problems/ingredients/model-solutions-embedded.html' %}
            {% if model_solutions.submissions %}
                <div class="lower-button row">
                    <a role="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'model_solutions_rejudge' model_solutions.problem_instance.id %}">
                        <i class="fa-solid fa-rotate-right"></i>
                        {% trans "Rejudge" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>

</div>