{% load i18n %}

{% block styles %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(handle_prog_lang_updates);
</script>
{% endblock %}

<h2>{% trans "Submit solution" %}</h2>
<form enctype="multipart/form-data" method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <div class="form-actions">
        {% block submit_btn %}
        <input type="submit" class="btn btn-primary" value="{% trans "Submit" %}">
        {% endblock %}
    </div>
</form>

<hr />
