{% load i18n %}


<div class="row settings-row d-none d-lg-flex">

    {#  Tags panel  #}
    <div class="settings-group col-lg-5">
        {% include 'problems/ingredients/tags-panel.html' %}
    </div>

</div>

<div class="row settings-row d-none d-md-flex d-lg-none">

    {#  Tags panel  #}
    <div class="settings-group col-md-12">
        {% include 'problems/ingredients/tags-panel.html' %}
    </div>

</div>

<div class="row settings-row d-md-none">

    {#  Tags panel  #}
    <div class="settings-group col-sm-12">
        {% include 'problems/ingredients/tags-panel.html' %}
    </div>

</div>
