{% load l10n %}

{% with id=problems.div_id %}
{% if value or id == "problemgroups" %}
<div class="problemgroup-heading">
    {% if parent_id %}
    <a class="collapse-toggle{% if collapse %} collapsed{% endif %}"
        data-toggle="collapse"
        data-parent="#{{parent_id}}"
        href="#{{id}}">
        <span class="text-muted"><i class="fa-solid fa-chevron-down"></i></span>
        {{ value.full_value }}
    </a>
    <i class="fa-solid fa-link link-getter" data-link="#{{id}}" aria-hidden="true"
          data-toggle="tooltip" data-placement="right" title="Copy link to clipboard!"></i>
    {% endif %}
        {% if parent_id == "problemgroups" and problems.attempted %}
        <span class="percentage-info" >
            {{ "[" }}{{ problems.progress_percentage_rounded|unlocalize }}{{ "%]" }}
        </span>
        {% endif %}
</div>

<div class="problemgroup-body collapse{% if not collapse %} show{% endif %}" id="{{id}}">
{% endif %}

{% if problems.subnodes %}
    {% for subnode in problems.subnodes|dictsort:"value.order" %}
        {% with value=subnode.value subdict=subnode.child %}
            {% if value.value is None %}
                {% include "problems/task-archive-problemgroup.html" with problems=subdict value=None %}
            {% elif id == "problemgroups" %}
                {% include "problems/task-archive-problemgroup.html" with problems=subdict collapse=True parent_id=id value=value %}
            {% else %}
                {% include "problems/task-archive-problemgroup.html" with problems=subdict collapse=False parent_id=id value=value %}
            {% endif %}
        {% endwith %}
    {% endfor %}
{% else %}
    <table class="table table-sm table--auto-width table--borderless mb-0">
    <tbody>
        {% for problem, result in problems.problem_info %}
        <tr>
            <td>
                <a href="{% url 'problem_site' site_key=problem.problemsite.url_key %}">
                    {{ problem }}
                </a>
            </td>
            <td>
                {% if result.exists %}
                    {% if result.score == result.max_score %}
                        <a class="badge badge-success" href="{{ result.submission_url }}"> {{ result.score }}</a>
                    {% elif result.score > 0 %}
                        <a class="badge badge-warning" href="{{ result.submission_url }}"> {{ result.score }}</a>
                    {% else %}
                        <a class="badge badge-danger" href="{{ result.submission_url }}"> {{ result.score }}</a>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}

{% if value or id == "problemgroups" %}
</div>
{% endif %}
{% endwith %}
