{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Task Archive" %}{% endblock %}

{% block body %}
<div class="container">
    <div class="page-header">
        <h2>
            {% trans "Welcome to the Task Archive" %}
        </h2>
        <h4>{% trans "Here you can find tasks from various competitions, olympiads, and programming camps" %}</h4>
    </div>
    <div class="list-group">
        {% for tag in origin_tags %}
            <a href="{{ tag.name }}" class="list-group-item">
                <h4 class="list-group-item-heading mb-0">
                    {% if tag.short_name %}{{ tag.short_name }} - {% endif %}
                    {{ tag.full_name }}
                </h4>
                {% if tag.description %}
                    <p class="list-group-item-text mt-2 mb-0">{{ tag.description }}</p>
                {% endif %}
            </a>
        {% empty %}
            <div class="list-group-item list-group-item-warning">
                {% trans "Hmm... there doesn't seem to be anything here..." %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
