{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}

<fieldset class="grp-module">
    {% for field in form.visible_fields %}
    <div class="grp-row grp-cells-1 {% if field.errors %}grp-errors{% endif %} {{ field.name }}">
        <div class="l-2c-fluid l-d-4">
            <div class="c-1">{{ field.label_tag|prettylabel }}</div>
            <div class="c-2">{{ field.field }}</div>
            {{ field.errors }}
            {% if field.help_text %}
            <p class="grp-help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</fieldset>
