{% load i18n %}
<div class="modal fade" id="szkopul-contact-form" tabindex="-1" role="dialog" aria-labelledby="szkopul-contact-form-title">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="szkopul-contact-form-title" class="modal-title">{% trans "Send Feedback" %}</h5>
        <button class="btn-close" data-bs-dismiss="modal" aria-label="{% trans "Close" %}">
        </button>
      </div>
      <div class="modal-body">
        <section>
          {% blocktrans trimmed %}
            <p>In the event of technical difficulties with Szkopuł, please contact us via email at <a href="mailto:{{ support_email }}">{{ support_email }}</a>.</p>
            <p>If you are familiar with IRC chat, the support team is also reachable on PIRC network (<code>irc.pirc.pl</code>) in <code>#szkopul</code> channel. If you are not, just use email.</p>
            <p>Please do not ask us things like "how to solve task XYZ?".</p>
            <p>Please remember that the support team has to sleep sometimes or go to work in real life.</p>
          {% endblocktrans %}
        </section>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-info" id="szkopul-contact-form-open" type="button"
    data-bs-toggle="modal" data-bs-target="#szkopul-contact-form">
  {% trans "Send Feedback" %}
</button>
