{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Re-upload problem package" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Re-upload problem package" %}</h1>
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endfor %}
    <p class="help-block"> {% blocktrans %}Please upload again the
        package for problem <strong>{{ problem }}</strong>.<br> The problem
        will be updated. Existing submissions will not be lost.
        {% endblocktrans %}
    </p>

    {% for field in form.visible_fields %}
        <div class="mb-3 {% if field.errors %}has-error{% endif %}">
            <label for="{{ field.html_name }}" >{{ field.label }}</label>
            {{ field |add_class: 'form-control'}}

            {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
            {% endfor %}
        </div>
    {% endfor %}

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>
{% endblock %}
