{% extends "base-with-menu.html" %}
{% load i18n check_perm %}

{% block title %}{% trans "Quiz" %}{% endblock %}

{% block main-content %}
    <h1>{% trans "Quiz" %}</h1>

    <h2>{% if score != None %}
        {% blocktrans %}Your best score is <b>{{ score }}</b>.{% endblocktrans %}
    {% else %}
        {% trans "You have not participated in the quiz yet." %}
    {% endif %}</h2>

    {% if can_solve %}
        <h3>{% blocktrans %}You have {{ attempts_left }} attempts left.{% endblocktrans %}<br></h3>

        <a role="button" class="btn btn-lg btn-danger" href="{% url 'quiz_solve' %}">
            <span class="glyphicon glyphicon-education"></span>
            {% trans "Solve quiz" %}
        </a><br>
        {% blocktrans %}By entering here you are submitting your will to participate in contest. You have {{ time }} minutes to complete test.{% endblocktrans %}
    {% endif %}

    <br><br><h4>{% blocktrans %}The quiz lasts from {{ start }} to {{ end }}.{% endblocktrans %}</h4>
{% endblock %}
