{% extends "base-with-menu.html" %}
{% load i18n check_perm static %}

{% block title %}{% trans "Quiz" %}{% endblock %}

{% block main-content %}
    <style>
        ul {list-style-type: none;}
    </style>

    <h1>{% trans "Quiz" %}</h1>
    <h1 align="center"><p style="color:red" id="timer"></p></h1>
    <form action={% url 'quiz_solve' %} method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" id="submit" class="btn btn-primary" value="{% trans "Submit" %}"/>
    </form>

    <script>
        var diff = {{ time }};
        var countDownDate = new Date(new Date().getTime() + diff * 60000);

        setInterval(function () {
            var now = new Date().getTime();
            var distance = countDownDate - now;

            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if(seconds === 0 && minutes === 0)
                document.getElementById("submit").click();

            if(seconds < 10)
                seconds = '0' + String(seconds);

            document.getElementById("timer").innerHTML = minutes + ":" + seconds;
        }, 1000);
    </script>
{% endblock %}
