{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Participants' data" %}{% endblock %}

{% block main-content %}
<div class="clearfix">
    {% if not no_participants %}
        <div class="float-end">
            <a role="button" class="btn btn-sm btn-outline-secondary"
                href="{% url 'participants_data_csv' contest_id=contest.id %}">
                <i class="fa-solid fa-download"></i>
                {% trans "Export to CSV" %}
            </a>
        </div>
    {% endif %}
    <h1 class="float-start">{% trans "Participants' data" %}</h1>
</div>

{% if no_participants %}
{% blocktrans %} There are no participants at the moment ;( {% endblocktrans %}
{% else %}
<div class="table-responsive-md">
    <table class="table">
        <thead>
            <tr>
                {% for key in keys %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
