{% load i18n %}
{% load check_perm %}

{% check_perm 'contests.contest_admin' for request.contest as is_admin %}

<div class="clearfix">
    {% if is_admin %}
        <div class="float-end">
            <a role="button" class="btn btn-sm btn-outline-secondary"
                href="{% url 'oioioiadmin:participants_participant_change' participant.id %}">
                {% trans "Edit Participant object" %}
            </a>
        </div>
    {% endif %}
    <h2 class="float-start">{% trans "Participant info" %}:</h2>
</div>

<p>{% trans "Anonymous" %}: {{ participant.anonymous }}</p>
<p>{% trans "Status" %}: {{ participant.status }}</p>
