{% extends "base-with-menu.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm unregistration" %}{% endblock %}

{% block main-content %}
<div class="well text-center">
    <h1>{% trans "Confirm unregistration" %}</h1>
    <p>{% trans "Are you sure to unregister from the current contest?" %}</p>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="post" value="yes" />
        <div class="form-group">
            <button type="submit" class="btn btn-danger">
                {% trans "Yes, I'm sure" %}
            </button>
            <button type="button" class="btn btn-default" onclick="history.back()">
                {% trans "No, go back" %}
            </button>
        </div>
    </form>
</div>
{% endblock %}
