{% load i18n %}

<div class="card-header dashboard-panel-head">
    <a href="{% url 'noncontest:all_submissions' %}" class="plain_link">
        <h4 class="mb-0">{% trans "My Submissions" %}</h4>
    </a>
</div>
<div class="card-body dashboard-card-body">
    {% if submissions %}
        {% include "submission_panel_table.html" %}
        <p class="text-center dashboard-card-footer">
            <a href="{% url 'all_submissions' %}">
                {% trans "More" %}
            </a>
        </p>
    {% else %}
        <p>{% trans "You haven't submitted anything yet. Try entering a contest!" %}</p>
    {% endif %}
</div>