{% extends "base-with-menu.html" %}

{% load i18n %}

{% block title %}{% trans "Maintenance mode" %}{% endblock %}

{% block main-content %}
<h1>{% trans "Maintenance mode" %}</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="maintenance_message">{% trans "Maintenance mode message" %}</label>
        <textarea type="text" rows="5" class="form-control"
                  placeholder='{% trans "Tell users why the site is off..." %}'
                  name="message" id="maintenance_message">{{ message }}</textarea>
    </div>
    <button type="submit" class="btn btn-danger" name="set_button">
        {% trans "Set" %}
    </button>
    {% if state %}
        <button type="submit" class="btn btn-primary" name="turn_off_button">
            {% trans "Turn off" %}
        </button>
    {% endif %}
</form>
{% endblock %}
