{% extends "base-with-menu.html" %}

{% load i18n %}

{% block title %}{% trans "Maintenance mode" %}{% endblock %}

{% block content %}
<h2>{% trans "Maintenance mode" %}</h2>
<form method="post">
    {% csrf_token %}
    <div>
        <label for="maintenance_message">{% trans "Maintenance mode message" %}</label>
        <textarea type="text" class="monospace input-xxlarge" rows="10" name="message" id="maintenance_message" placeholder="Tell users why the site is off...">{{ message }}</textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-primary" name="set_button">{% trans "Set" %}</button>
        {% if state %}
        <button type="submit" class="btn btn-primary" name="turn_off_button">{% trans "Turn off" %}</button>
        {% endif %}
    </div>
</form>
{% endblock %}
