{% extends 'programs/report.html' %}
{% load i18n %}
{% load runtimeformat %}
{% load check_perm %}


{% block thead_tr %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}
<tr>
    <th></th>
    <th class="subm_margin" style="min-width: 80px">{% trans "Test" %}</th>
    <th style="min-width: 200px">{% trans "Result" %}</th>
    <th style="min-width: 110px">{% trans "Time" %}</th>
    {% if show_nodes %}
        <th style="min-width: 50">{% trans "# of nodes" %}</th>
    {% endif %}
    {% if show_scores %}
        <th style="min-width: 60px">{% trans "Score" %}</th>
    {% endif %}
    {% if is_admin %}
        <th style="min-width: 60px">{% trans "Zeus id" %}</th>
    {% endif %}
</tr>
{% endblock %}

{% block tbody_tr %}
{% check_perm 'contests.contest_admin' for contest as is_admin %}
<tr>
    <td class="subm_margin subm_{{ test.status }}"></td>
    <td>{{ test.test_name }}</td>
    <td class="subm_status subm_{{ test.status }}">{{ test.get_status_display }}</td>
    <td>{{ test.time_used|runtimeformat }}/{{ test.test_time_limit|runtimeformat }}</td>
    {% if show_nodes %}
        <td>{{ test.nodes }}</td>
    {% endif %}
    {% if show_scores and forloop.first %}
        <td class="groupscore" rowspan="{{ group.tests|length }}">{% if group.report.score %}{{ group.report.score }}/{{ group.report.max_score }}{% endif %}</td>
    {% endif %}
    {% if is_admin %}
        <td>{{ test.check_uid }}</td>
    {% endif %}
</tr>
{% endblock %}
