{% load i18n %}

<script type="text/javascript">
// Jotform imports its own jQuery version, which overrides $ global variable.
// To restore our version afterwards, we keep the $ value in a temporary variable.
window.temporary_dollar = window.$
</script>
<script src="http://www.jotform.com/min/?g=feedback2" type="text/javascript"></script>
<script type="text/javascript">
  if (JotformFeedback) {
    new JotformFeedback({
      formId          : "{{ jotform_id }}",
      buttonText      : "{{ _("Send Feedback")|escapejs }}",
      base            : "http://www.jotform.com/",
      background      : "invalid",   // This enables styling with CSS
      fontColor       : "invalid",
      hoverBackground : "invalid",
      hoverFtonColor  : "invalid",
      buttonSide      : "bottom",
      buttonAlign     : "right",
      type            : false,
      width           : 440,
      height          : 420,
      instant         : true
    });
  }
</script>
<script type="text/javascript">
window.$ = window.jQuery = window.temporary_dollar
</script>
