{% load i18n %}

<script type="text/javascript">
  function jotform_onload() {
    new JotformFeedback({
      formId          : "{{ jotform_id }}",
      buttonText      : "{{ _("Send Feedback")|escapejs }}",
      base            : "http://www.jotform.com/",
      background      : "invalid",   // This enables styling with CSS
      fontColor       : "invalid",
      hoverBackground : "invalid",
      hoverFtonColor  : "invalid",
      buttonSide      : "right",
      buttonAlign     : "bottom",
      type            : false
    });
  }

  $(function() {
    var script = document.createElement('script');
    script.src = "{{ STATIC_URL }}jotform/jotform.js";
    document.getElementsByTagName('head')[0].appendChild(script);
  });
</script>
