{% load i18n %}
<h4> {% trans "OI submit data" %} </h4>
<table class="details_table">
 <thead>
  <th> {% trans "Suspected" %} </th>
  {% if received_suspected %}
   <th> {% trans "Reason" %} </th>
  {% endif %}
  <th style="min-width: 150px"> {% trans "Local time" %} </th>
  <th style="min-width: 150px"> {% trans "SIO time" %} </th>
  <th style="min-width: 150px"> {% trans "Server time" %} </th>
 </thead>
 <tbody><tr>
  <td>
  {% if received_suspected %}
   {% trans "Yes" %}
  {% else %}
   {% trans "No" %}
  {% endif %}
  </td>
  {% if received_suspected %}
   <td> {{ comments }} </td>
  {% endif %}
  <td> {{ localtime }} </td>
  <td> {{ siotime }} </td>
  <td> {{ servertime }} </td>
 </tr></tbody>
</table>
