{% extends "simpleui/simpleui-base.html" %}
{% load i18n static compress %}

{% block title %}{% trans "User dashboard" %}{% endblock %}

{% block styles %}
{{ block.super }}
{% compress css %}
    <link charset="utf-8" rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}simpleui/main_dashboard.scss">
{% endcompress %}
{% endblock %}

{% block container-class %}simpleui__container{% endblock %}

{% block main-body %}

<div class="contest">
    <header class="contest__header">
        <h1 class="inline-menu__name contest__name">{% block dashboard-name %}{% trans "User dashboard" %}{% endblock %}</h1>
	    <nav class="inline-menu nav d-inline-flex">
            {% block dashboard-top-menu %}
                {% if can_create_contest %}
                    <a class="nav-link" href="{% url 'oioioiadmin:contests_contest_add' %}">{% trans "Create contest" %}</a>
                {% endif %}
                {% if has_portal %}
                    <a class="nav-link" href="{% url 'global_portal' link_name='default' portal_path=portal_path %}">
                        {% trans "Homepage" %}
                    </a>
                {% endif %}
                    <a class="nav-link" href="{% url 'problemset_main' %}">
                        {% trans "Problemset" %}
                    </a>
            {% endblock %}
	    </nav>
    </header>
    <script type="text/javascript" src="{% static 'highcharts/lib/highcharts.js' %}"></script>
    {% if contests|length == 0 %}
        {% url 'oioioiadmin:contests_contest_add' as link %}
        {% if can_create_contest %}
            {% blocktrans %}
                <p>There are no contests to display. You can <a href="{{link}}">create one</a>.</p>
            {% endblocktrans %}
        {% else %}
            <p>{% trans "There are no contests to display." %}</p>
        {% endif %}
    {% endif %}
    {% for contest in contests %}
        {% if forloop.counter0|divisibleby:2 %}
            <span class="contest_row">
                {% include "simpleui/main_dashboard/contest.html" %}
        {% else %}
                {% include "simpleui/main_dashboard/contest.html" %}
            </span>
        {% endif %}
    {% endfor %}
    {% if not contests|length|divisibleby:2 %}
            </span>
    {% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}simpleui/main_dashboard.js"></script>
    {% if are_contests_limited %}
        <div class="limited_contests">
            <a role="button" class="btn btn-primary" href="{% url 'select_contest' %}">
                {% trans "Show all contests" %}
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
