{% extends "base-with-menu.html" %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock %}

{% block title %}{% trans "Confirm your personal data" %}{% endblock %}

{% block main-content %}
<h2>{% trans "Confirm your personal data" %}</h2>

<p>
    {% trans "Please review your personal data entered during the first stage and confirm or correct it. This data will be used for official certificates." %}
</p>

<h4>{% trans "Data to confirm" %}</h4>
<p class="text-muted">
    {% blocktrans %}Your first name, last name and email cannot be changed here. To change them, go to {% endblocktrans %}<a href="{% url 'edit_profile' %}">{% trans "edit profile" %}</a>.
</p>
<form method="post">
    {% csrf_token %}
    {% include "ingredients/form.html" %}
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">
            {% trans "Confirm" %}
        </button>
    </div>
</form>

{% endblock %}
