{% extends "base-with-menu.html" %}
{% load i18n simple_filters %}

{% block title %}
    {% if member_type == 'teacher' %}
        {% trans "Contest teachers" %}
    {% else %}
        {% trans "Contest pupils" %}
    {% endif %}
{% endblock %}

{% block main-content %}
<h1>
    {% if member_type == 'teacher' %}
        {% trans "Contest teachers" %}
    {% else %}
        {% trans "Contest pupils" %}
    {% endif %}
</h1>

{% if is_registration_active %}
    {% if member_type == 'teacher' %}
        <p>{% trans "To allow a teacher to access this contest, ask him/her to visit the following link:" %}</p>
    {% else %}
        <p>{% trans "To allow a pupil to access this contest, ask him/her to visit the following link:" %}</p>
    {% endif %}
    <pre id="registration_link">{{ registration_link }}</pre>
    <p>
        <a role="button" class="btn btn-info btn-xs" data-post-url="{% url 'teachers_disable_registration' contest_id=contest.id member_type=member_type %}">
            {% trans "Disable link" %}
        </a>
        <a role="button" class="btn btn-default btn-xs" data-post-url="{% url 'teachers_regenerate_key' contest_id=contest.id member_type=member_type %}">
            {% trans "Re-generate key" %}
        </a>
        <button class="btn btn-default btn-copy btn-xs" data-clipboard-target="#registration_link">
            {% trans "Copy to clipboard" %}
        </button>
    </p>
{% else %}
    {% if member_type == 'teacher' %}
        <p>{% trans "Registration of teachers is disabled." %}</p>
    {% else %}
        <p>{% trans "Registration of pupils is disabled." %}</p>
    {% endif %}
    <p>
        <a role="button" class="btn btn-info" data-post-url="{% url 'teachers_enable_registration' contest_id=contest.id member_type=member_type %}">
            {% trans "Re-enable registration" %}
        </a>
    </p>
{% endif %}

<form action="{% url 'teachers_delete_members' contest_id=contest.id member_type=member_type %}" method="post" id="delete-pupils-form">
    {% csrf_token %}

    <h2 class="members">{% trans "Members" %}</h2>

    {% if members %}
        <div class="row">
            {% for member in members %}
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="member" value="{{ member.id }}" {% if member_type == 'teacher' and member == user %}disabled{% endif %}>
                            {{ member.get_full_name }}
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">
            {% if member_type == 'teacher' %}
                {% trans "No teachers." %}
            {% else %}
                {% trans "No pupils." %}
            {% endif %}
        </p>
    {% endif %}

    <div class="form-group">
        <button type="button" class="btn btn-default btn-sm"
            onclick="$('#delete-pupils-form input[type=\'checkbox\']').not('[disabled]').prop('checked', true)">
            {% trans "Select all" %}
        </button>
        <button type="button" class="btn btn-default btn-sm"
            onclick="$('#delete-pupils-form input[type=\'checkbox\']').not('[disabled]').prop('checked', false)">
            {% trans "Select none" %}
        </button>
        <button type="submit" class="btn btn-danger btn-sm">{% trans "Delete selected" %}</button>
        {% if other_contests %}
            <span class="dropdown">
                <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Add from other contest" %} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for c in other_contests %}
                        <li>
                            <a data-post-url="{% url 'teachers_bulk_add_members' contest_id=contest.id other_contest_id=c.id %}">
                                {{ c }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </span>
        {% endif %}
    </div>
</form>
{% endblock %}
