{% extends "base-with-menu.html" %}
{% load i18n listutil %}

{% block styles %}
{{ block.super }}
<link charset="utf-8" rel="stylesheet" type="text/css" href="{{ STATIC_URL }}teachers/style.css">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}teachers/ZeroClipboard.min.js"></script>
{% endblock %}

{% block title %}{% trans "Contest pupils" %}{% endblock %}

{% block content %}
<h2>{% trans "Contest pupils" %}</h2>
{% if registration_config.is_active %}
<p>{% trans "To allow a user to access this contest, ask him/her to visit the following link:" %}
<pre>{{ registration_link }}</pre>
<div class="pull-right" id="copy_link_container" style="position: relative">
    <button class="btn btn-mini" id="copy_link">{% trans "Copy to clipboard" %}</button>
</div>
<div class="pull-right" id="copy_link_ok" style="display: none">
    <i class="icon-ok"></i><small> copied!</small>
</div>
<script type="text/javascript">
    ZeroClipboard.setMoviePath('{{ STATIC_URL }}teachers/ZeroClipboard.swf');
    var clip = new ZeroClipboard.Client();
    clip.setText('{{ registration_link|escapejs }}');
    clip.glue('copy_link', 'copy_link_container');
    clip.addEventListener('onComplete', function() {
            $('#copy_link_container').hide();
            $('#copy_link_ok').show();
        });
</script>
<p>
    <a class="btn btn-info" data-post-url="{% url teachers_disable_registration contest_id=contest.id%}">{% trans "Disable link" %}</a>
    <a class="btn" data-post-url="{% url teachers_regenerate_key contest_id=contest.id %}">{% trans "Re-generate key" %}</a>
</p>
{% else %}
<p>{% trans "Registration of new users is disabled." %}
<p>
    <a class="btn btn-info" data-post-url="{% url teachers_enable_registration contest_id=contest.id%}">{% trans "Re-enable registration" %}</a>
</p>
{% endif %}

<form action="{% url teachers_delete_pupils contest_id=contest.id %}" class="teachers-delete-pupils" method="post">
    {% csrf_token %}
    <h3 style="margin-top: 1em">{% trans "Teachers" %}</h3>
    {% if teachers %}
    {% for teacher in teachers %}
    <label class="checkbox"><input type="checkbox" name="teacher" value="{{ teacher.id }}" {% if teacher == user %}disabled{% endif %}>{{ teacher.get_full_name }}</label>
    {% endfor %}
    {% else %}
    <p class="info">{% trans "No teachers." %}
    {% endif %}

    <h3 style="margin-top: 1em">{% trans "Pupils" %}</h3>
    {% if pupils %}
    <div class="row-fluid">
        {% for sublist in pupils|partition:"3" %}
        <div class="span4">
            {% for pupil in sublist %}
                <label class="checkbox"><input type="checkbox" name="pupil" value="{{ pupil.id }}">{{ pupil.get_full_name }}</label>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="info">{% trans "No pupils." %}
    {% endif %}

    <h3 style="margin-top: 1em">{% trans "Actions" %}</h3>
    <div class="info btn-toolbar">
        <button type="button" class="btn"
            onclick="$('.teachers-delete-pupils input[type=\'checkbox\'][name=\'pupil\']').not('[disabled]').attr('checked', 'checked')">{% trans "Select pupils" %}</button>
        <button type="button" class="btn"
            onclick="$('.teachers-delete-pupils input[type=\'checkbox\'][name=\'teacher\']').not('[disabled]').attr('checked', 'checked')">{% trans "Select teachers" %}</button>
        <button type="button" class="btn"
            onclick="$('.teachers-delete-pupils input[type=\'checkbox\']').not('[disabled]').removeAttr('checked')">{% trans "Select none" %}</button>
        <button type="submit" class="btn btn-danger">{% trans "Delete selected" %}</button>
        {% if other_contests %}
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Add from other contest" %} <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {% for c in other_contests %}
                <li><a data-post-url="{% url teachers_bulk_add_pupils contest_id=contest.id other_contest_id=c.id %}">{{ c }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</form>
{% endblock %}
