{% load i18n gamification_widgets %}
<div class="panel panel-default">
    <h2 class="page-header">{% trans "Your friends" %}</h2>
    <div class="panel-body">
        {% if friends %}
        <ul class="nav nav-pills nav-stacked friend-list">
            {% for user in friends %}
            <li><a href="{% url 'view_profile' user %}">{% experience_widget_small user %}<h2 class="username">{{ user }}</h2></a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="text-center">{% trans "It looks like you've got no friends..." %}</p>
        {% endif %}
    </div>
</div>
