{% extends "base-with-menu.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Workers list" %}{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>


<h2>{% trans "System load" %}</h2>
<script type="text/javascript" src="{% static 'common/load_chart.js' %}">
</script>

<script type="text/javascript">
$(function() {
    make_load_chart('{% url 'get_load_json' %}', 'worker_load_plot');
});
</script>

<div id="worker_load_plot" class="highcharts_plot">
</div>



{% if announce %}
<div class="alert alert-info">
    {{ announce }}
</div>
{% endif %}
<h2>{% trans "Workers list" %}</h2>

<form method="post" action= {% url "show_workers" %} > {% csrf_token %}
        <div class="row-fluid">
            {% for w in workers %}
                <div class = "span3"> <div class="well" style="height: 35vmin; overflow-y: scroll">
                    <div style="width:100%; background-color">
                        <span>{{ w.name }}</span>
                        <input type="checkbox" name="work-{{ w.name }}" style="float:right"
                            {% if readonly %} onclick="return false"{% endif %}
                            {% if w.select %} checked style="opacity: .50;" {% endif %}>
                    </div>
                    <span>{% trans "RAM:" %} </span>{{ w.ram }} <br>
                    <span>{% trans "Max number of tasks:" %} </span>{{ w.maxConcurr }} </br>
                </div></div>
                {% if forloop.counter|divisibleby:4 %}</div><div class="row-fluid">{% endif %}
            {% endfor %}
        </div>
        <br>
        <div class="row-fluid">
            {% if delete %}
                <button type="submit" name="confirm" value="1" class="btn btn-danger">{% trans "Confirm"%}</button>
                <button type="submit" name="nothing" value="1" class="btn">{% trans "Go back"%}</button>
            {% else %}
                <button type="submit" name="delete" value="1" class="btn btn-danger">{% trans "Delete workers"%}</button>
            {% endif %}

        </div>
    <div>
</form>


{% endblock %}
