{% extends "base-with-menu.html" %}
{% load i18n static %}

{% block title %}{% trans "Workers list" %}{% endblock %}

{% block main-content %}
<script type="text/javascript" src="{% static "highcharts/lib/highcharts.js" %}"></script>
<script type="text/javascript" src="{% static "common/load_chart.js" %}"></script>
<script type="text/javascript">
    $(function() {
        make_load_chart('{% url 'get_load_json' %}', 'worker_load_plot');
    });
</script>

<h1>{% trans "System load" %}</h1>

<div id="worker_load_plot" class="highcharts_plot">
</div>


{% if warning %}
    <div class="alert alert-warning">
        {{ warning }}
    </div>
{% endif %}

{% if announce %}
    <div class="alert alert-info">
        {{ announce }}
    </div>
{% endif %}

<h1>{% trans "Workers list" %}</h1>

<form method="post" action="{% url 'show_workers' %}" class="empty-space-filler-bottom">
    {% csrf_token %}
    <div class="row">
        {% for w in workers %}
            <div class="col-md-4 col-xl-3">
                <div class="card bg-light p-2 mb-3">
                    <table class="table table-sm mb-0">
                        <thead class="table-borderless">
                            <tr>
                                <th>
                                    <label for="work-{{ w.name }}">{{ w.name }}</label>
                                    <input id="work-{{ w.name }}" type="checkbox"
                                        name="work-{{ w.name }}" class="mt-1 float-right"
                                        {% if readonly %} onclick="return false"{% endif %}
                                        {% if w.select %} checked{% endif %}>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{% trans "RAM" %}: <strong>{{ w.ram }}</strong></td>
                            </tr>
                            <tr>
                                <td>{% trans "Max number of tasks" %}: <strong>{{ w.concurrency }}</strong></td>
                            </tr>
                            <tr>
                                <td>
                                    {% trans "Can run cpu-exec" %}:
                                    {% if w.can_run_cpu_exec %}
                                        <i class="fa-solid fa-check"></i>
                                    {% else %}
                                        <i class="fa-solid fa-xmark"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        {% if delete %}
            <button type="submit" name="confirm" value="1" class="btn btn-danger">
                {% trans "Confirm" %}
            </button>
            <button type="submit" name="nothing" value="1" class="btn btn-outline-secondary">
                {% trans "Go back" %}
            </button>
        {% else %}
            <button type="submit" name="delete" value="1" class="btn btn-danger">
                {% trans "Delete workers" %}
            </button>
        {% endif %}
    </div>
</form>

{% endblock %}
