{% extends "simpleui/main_dashboard/dashboard.html" %}
{% load i18n %}

{% block title %}{% trans "Teacher dashboard" %}{% endblock %}

{% block dashboard-name %}{% trans "Teacher dashboard" %}{% endblock %}

{% block dashboard-top-menu %}
    {{ block.super }}
    {% if usergroups_active %}
        <div class="inline-menu">
            |
            <a href="{% url 'teacher_usergroups_list' %}">
                {% trans "Your user groups" %}
            </a>
        </div>
    {% endif %}
{% endblock %}
