name: Cypress nightly tests

on:
  schedule:
    - cron: '30 5 * * 1,3,5'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
#   Kill this job after 60 minutes - used when server fails, but Cypress waits on port.
    timeout-minutes: 60

    steps:
      - uses: actions/checkout@v3
      - name: Install `easy_toolbox.py` requirements
        run: |
          python -m pip install --upgrade pip
          pip install -U inquirer

      - name: Build OIOIOI
        run: |
          python easy_toolbox.py build --no-input

      - name: Containers `up`
        run: |
          python easy_toolbox.py up --no-input

      - name: Wait for migrations
        run: |
          docker compose logs -f | grep -m 1 "Init Finished"

      - name: Apply CyPress settings
        run: |
          python easy_toolbox.py cypress-apply-settings --no-input

      - name: Run test server
        run: |
          python easy_toolbox.py run --no-input &

      - name: Run tests
        run: |
          ./test_cypress.sh

      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
            name: cypress-screenshots
            path: oioioi_cypress/cypress/screenshots
