name: Create documentation

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-env

    - name: Install python dependencies for generating docs
      run: |
        uv pip install --upgrade -r rst/requirements.txt
        uv pip install --upgrade -r requirements.txt

    - name: Run Sphinx
      run: |
        cd rst
        make html

    - name: Upload HTML artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: rst/build/html

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
