name: Nightly build

on:
  schedule:
    - cron: '15 5 * * *'
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install apt dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y curl libpq-dev libdb-dev
        sudo apt-get install -y fp-compiler fp-units-base fp-units-math
        sudo apt-get install -y texlive-latex-base texlive-lang-polish texlive-lang-czechslovak texlive-latex-extra texlive-pstricks texlive-luatex

    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip wheel setuptools
        pip install -U "setuptools<58.0.0"  # downgrade setuptools due to incompatible django-supervisor
        python setup.py install_egg_info
        pip install --upgrade -r requirements_py3.txt

    - name: Run tests
      run: |
        ./test3.sh --cov-report term --cov-report xml:coverage.xml --cov=oioioi --migrations --runslow -v
