name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-env
      with:
        install-texlive: "true"

    - name: Run tests
      run: |
        ./test.sh -n auto --migrations
