# This is a Transifex translations integration file.

name: Transifex translations download

env:
  TX_TOKEN: ${{ secrets.TRANSIFEX_API_TOKEN }}

# This job should be only ran by hand.
on:
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-env

    - name: Install gettext
      run: |
        sudo apt-get install -y gettext

    - name: Install TX client
      run: |
        cd ..
        curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash

    - name: Update repository
      run: |
        ../tx pull -af
        git diff HEAD

    - name: Compile messages
      run: |
        cd oioioi
        django-admin compilemessages
        git status
        cd ..

    - name: Setup commiter
      run: |
        git config --local user.name "SIO2 Automatic Agent"
        git config --local user.email "sio2@sio2project.mimuw.edu.pl"

    - name: Commit changes
      run: |
        if [[ `git status --porcelain` ]]; then
          git diff
          git commit -am "Github Actions - Downloaded translations."
        fi

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v4
