{% load i18n %}

<table class="table" id="attachment_table">
    <thead>
        <tr>
            <th>{% trans "File" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {{ attachment_formset.management_form }}
        {{ attachment_formset.non_form_errors }}
        {% for attachment in attachment_formset %}
            {{ attachment.errors }}
            <tr>
                {{ attachment.id }}
                <td>
                    {{ attachment.content.errors }}
                    {% if attachment.fields.content.exists %}
                        <a href="{{ attachment.fields.content.link }}">
                            {{ attachment.fields.content.name }}
                            {{ attachment.content.as_hidden }}
                        </a>
                    {% else %}
                        {{ attachment.content }}
                    {% endif %}
                </td>
                <td>
                    {{ attachment.description.errors }}
                    {% if attachment.fields.content.exists %}
                        {{ attachment.description.value }}
                        {{ attachment.description.as_hidden }}
                    {% else %}
                        {{ attachment.description }}
                    {% endif %}
                </td>
                <td>
                    <a href="#" class="delete_attachment">
                        {% trans "Delete" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr id="new_attachment_row">
            <td>
                <input type="file" class="form-control" id="new_attachment_file" />
            </td>
            <td>
                <input type="text" class="form-control" id="new_attachment_description" />
            </td>
            <td>
                <button type="button" class="btn btn-primary create_attachment">{% trans "Add" %}</button>
            </td>
        </tr>
    </tbody>
</table>
