{% load i18n %}

<table class="table" id="tag_table">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
    </thead>
    <tbody>
        {{ tag_formset.management_form }}
        {{ tag_formset.formset.non_form_errors }}
        {% for tag in tag_formset %}
            {{ tag.errors }}
            <tr>
                {{ tag.id }}
                <td>
                        {{ tag.name.erros }}
                        {% if tag.fields.name.exists %}
                            {{ tag.fields.name.value }}
                            {{ tag.name.as_hidden }}
                        {% else %}
                            {{ tag.name }}
                        {% endif %}
                </td>
                <td>
                    <a href="#" class="delete_tag">
                        {% trans "Delete" %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        <tr id="new_tag_row">
            <td>
                <input type="text" class="form-control" id="new_tag_name" />
            </td>
            <td>
                <button type="button" class="btn btn-primary create_tag">{% trans "Add" %}</button>
            </td>
        </tr>
    </tbody>
</table>
