@media (max-width: 999px)
{
  .contest_box:first-child
  {
      margin-right: 0;
  }

  .contest_box
  {
      margin-bottom: 40px !important;
  }

  .contest_row
  {
      width: 440px;
  }
}

@media (min-width: 1000px)
{
  .contest_box:first-child
  {
      margin-right: 80px;
  }

  .contest_row
  {
      width: 960px;
  }
}

.contest_header
{
    display: inline;
}

.clear
{
    clear: both;
}

.contest_stats
{
    width: 148px;
    margin: 0;
    float: left;
    padding: 0;
}

h3
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.contest_box
{
    width: 440px;
    float: left;
    display: block;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 20px 18px 20px;
}

.contest_graph
{
    width: 235px;
    margin: 0;
    margin-top: 15px;
    height: 165px;
    padding: 0;
    float: right;
}

.contest_row
{
    height: 250px;
    margin: 40px auto 60px;
    display: block;
}

.container-fluid .body
{
    padding: 0;
}

h2
{
    display: inline-block;
    margin: 0;
}

.contest_header > a
{
    font-size: 12px;
}

.statistics_header
{
    margin-top: 10px;
}

a.settings
{
    float: right;
}

.contest_inner_wrapper
{
    display: block;
}

.limited_contests
{
    text-align: center;
}
