<style type="text/css">
    #{{ editor_id }} {
        display: none;
        height: 226px;
        width: 100%;
        resize: both;
		overflow: hidden;
        resize: both;
    }
</style>

<div id="{{ editor_id }}">
{{ inner_code }}
</div>

<script>
    var ace_size_offset_h = 12;
    var ace_size_offset_w = 28;
    var editor_started = false;
    var editor_starting = false;
    function set_mode(editor, mode) {
        editor.session.setMode("ace/mode/" + mode);
    }
    function set_mode_from_val(editor, val) {
        switch (val) {
            case "": case "C": case "C++":
                set_mode(editor, "c_cpp");
                break;
            case "Pascal":
                set_mode(editor, "pascal");
                break;
            case "Python":
                set_mode(editor, "python");
                break;
        }
    }
    function start_editor() {
        editor_starting = true;
        // Load code dynamically:
        var ace_script = document.createElement('script');
        var lang_tools_script = document.createElement('script');

        ace_script.src = "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ace.js";
        ace_script.integrity = "sha512-6ts6Fu561/yzWvD6uwQp3XVYwiWNpWnZ0hdeQrETqtnQiGjTfOS06W76aUDnq51hl1SxXtJaqy7IsZ3oP/uZEg==";
        ace_script.crossOrigin = "anonymous";
        ace_script.referrerPolicy = "no-referrer";

        lang_tools_script.src = "https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.14/ext-language_tools.min.js";
        lang_tools_script.integrity = "sha512-S7Whi8oQAQu/MK6AhBWufIJIyOvqORj+/1YDM9MaHeRalsZjzyYS7Usk4fsh+6J77PUhuk5v/BxaMDXRdWd1KA==";
        lang_tools_script.crossOrigin = "anonymous";
        lang_tools_script.referrerPolicy = "no-referrer";

        ace_script.onload = function () {
            document.documentElement.firstChild.appendChild(lang_tools_script);
            lang_tools_script.onload = function() {
                ace.require("ace/ext/language_tools");
                var editor = ace.edit("{{ editor_id }}");
                editor.setTheme("ace/theme/chrome");
                editor.setOptions({
                    enableBasicAutocompletion: true,
                    enableSnippets: true,
                    enableLiveAutocompletion: true,
                    fontSize: 15,
                });
                var textarea = $('textarea[name="code"]').hide();
                editor.getSession().on('change', function(){
                    textarea.val(editor.getSession().getValue());
                    textarea.trigger("input");
                });
                document.addEventListener("mouseup", function(e){
                    editor.resize();
                });


                editor_started = true;
                editor_starting = false;

                // add events to language selectors:
                const piIds = getAllPiIds();
                const progLangs = new Map(Array.from(piIds, x => [x, '#id_prog_lang_' + x]));
                const languageFields = $(Array.from(progLangs.values()).join());
                languageFields.on('change', function() {
                    set_mode_from_val(editor, this.value);
                });
                languageFields.trigger("change");

                // turn editor on:
                toggle_editor(true);
            }
        };
        document.documentElement.firstChild.appendChild(ace_script);
    }
    function toggle_editor(state) {
        if (editor_starting) {
            return;
        }
        if (!editor_started && !state) {
            return;
        }
        if (!editor_started) {
            start_editor();
            return;
        }
        if (state) {
            var editor = ace.edit("{{ editor_id }}");
            var textarea = $('textarea[name="code"]');
            editor.getSession().setValue(textarea.val());

            $("#{{ editor_id }}").show();
            textarea.hide();
        }
        else {
            $('textarea[name="code"]').show();
            $("#{{ editor_id }}").hide();
        }
    };
    $( document ).ready(function() {
        const checkbox = document.getElementById('{{ toggle_checkbox_id }}');
        toggle_editor( {{ default_state }} );
        checkbox.addEventListener('change', (event) => {
            toggle_editor(event.currentTarget.checked);
        })
    });
</script>