<div class="input-group date oioioi-narrow-input">
    <input type="text" class="form-control" name="{{ name }}"
                            value="{{ value|date:"Y-m-d H:i" }}" {{ attrs }}/>
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>

<script type="text/javascript">
    $(function() {
        $('.input-group.date').datetimepicker({
            format: 'YYYY-MM-DD HH:mm',
            locale: '{{ LANGUAGE_CODE|default:"en" }}'
        });
    });
</script>
