{% extends "base.html" %}
{% load i18n compress staticfiles %}

{% block title %}{% trans "Problem settings" %}{% endblock %}

{% block styles %}
    {{ block.super }}
    {% compress css %}
        <link charset="utf-8" rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}simpleui/simpleui.scss">
        <link charset="utf-8" rel="stylesheet" type="text/x-scss" href="{{ STATIC_URL }}simpleui/problem_settings/problem_settings.scss">
    {% endcompress %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'simpleui/problem_settings/attachments.js' %}"></script>
    <script type="text/javascript" src="{% static 'simpleui/problem_settings/tags.js' %}"></script>
    <script type="text/javascript" src="{% static 'simpleui/problem_settings/problem_settings.js' %}"></script>
{% endblock %}

{% block container-class %}simpleui__container{% endblock %}

{% block body %}
    <div class="settings">
        <header class="settings__header">
            <h1>{{ problem.name }} ({{problem_instance.short_name}})</h1>
        </header>
        <form method="POST" id="main_form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ pi_form.management_form }}
            {% for pif in pi_form %}
                {{ pif.id }}

                <section class="settings__general">
                    <h2>{% trans "General" %}</h2>
                    <div>
                        {% include "simpleui/forms/form_field.html" with field=pif.round %}
                        {% include "simpleui/forms/form_field.html" with field=pif.submissions_limit %}
                    </div>
                </section>

                <section class="settings__attachments">
                    <h2>{% trans "Attachments" %}</h2>
                    {% include "simpleui/problem_settings/ingredients/attachments.html" %}
                </section>

                <section class="settings__tags">
                    <h2>{% trans "Tags" %}</h2>
                    {% include "simpleui/problem_settings/ingredients/tags.html" %}
                </section>
            {% endfor %}

            <section class="settings__tests">
                <h2>{% trans "Tests" %}</h2>
                {% include "simpleui/problem_settings/ingredients/tests.html" %}
            </section>
            <section class="settings__actions">
                <a role="button" class="btn btn-danger" href="{% url 'oioioiadmin:contests_probleminstance_delete' problem_instance.id %}">
                    {% trans 'Delete' %}
                </a>
                <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            </section>
        </form>
    </div>
{% endblock %}
